<button
  id="btn_aprovers_requests"
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#aprovers_requests"
  style="display:none;"
></button>
<div class="modal" id="aprovers_requests" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header borderLine-title row-hr justify-content-center">
        <div class="col-12 col-lg-10 text-center text-lg-left">
          <h4 class="modal-title titleColor text-shadow" *ngIf="dataRequets">
            {{ dataRequets.title }}
          </h4>
        </div>
      </div>
      <div
        class="modal-body font-controls-login"
        joyrideStep="step_7"
        [title]="joyride('step_7.title') | translate"
        [text]="joyride('step_7.text') | translate"
        [waitingTime]="200"
      >
        <div class="container">
          <div class="timeline" *ngIf="dataRequets">
            <div class="line text-muted"></div>
            <div class="separator text-muted"></div>

            <article class="panel panel-success panel">
              <div class="panel-heading icon">
                <i class="fa fa-file-text"></i>
              </div>
              <div class="panel-heading" *ngIf="requests_print == 'requestsOnly'">
                <h2 class="panel-title text-capitalize">
                  {{ parseT('request') | translate }}
                  {{ dataRequets.request.type_requests_name | lowercase }}
                </h2>
              </div>
              <div class="panel-heading" *ngIf="requests_print != 'requestsOnly'">
                <h2 class="panel-title text-capitalize">
                  {{ dataRequets.request.type_requests_name | lowercase }}
                </h2>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="widget bg-white">
                    <div class="row">
                      <div class="col-12 col-md-4 col-lg-2 center-img-employee">
                        <div class="menu-img-employee">
                          <img src="{{ dataRequets.request.employee_applicant_to_json.image.url }}" class="roundPhoto-employee" />
                          <br />
                        </div>
                      </div>
                      <div class="col-12 col-md-8 col-lg-10">
                        <div class="row">
                          <div class="col-12">
                            <h3 class="font-color-default">
                              {{ dataRequets.request.employee_applicant_to_json.short_name }}
                            </h3>
                          </div>
                          <div class="col-12">
                            <p class="font-title-general">
                              {{ dataRequets.request.employee_applicant_to_json.posicion }}
                            </p>
                          </div>
                          <div class="col-12 text-left">
                            <div class="row">
                              <div class="col-12 text-md-left text-center" *ngIf="dateFirts">
                                <p class="font-title-general">
                                  <i class=" font-color-default fa fa-fw fa-calendar"></i>
                                  {{ parseT('date_begin') | translate }}:
                                  <span style="font-weight: 100 !important">{{ dateFirts | date: 'dd/MM/yyyy' }}</span>
                                </p>
                              </div>
                              <div class="col-12 text-md-left text-center" *ngIf="dateFinally">
                                <p class="font-title-general">
                                  <i class="font-color-default fa fa-fw fa-calendar"></i>
                                  {{ parseT('date_end') | translate }}:
                                  <span style="font-weight: 100 !important"> {{ dateFinally | date: 'dd/MM/yyyy' }}</span>
                                </p>
                              </div>
                              <div class="col-12 text-md-left text-center" *ngIf="dataRequets.request.days_request">
                                <p class="font-title-general">
                                  <i class="font-color-default fa fa-fw fa-sun-o"></i>
                                  {{ parseT('requested_days') | translate }}:
                                  <span style="font-weight: 100 !important">{{ dataRequets.request.days_request }}</span>
                                </p>
                              </div>
                              <div class="col-12 text-md-left text-center" *ngIf="dataRequets.request.work_days">
                                <p class="font-title-general">
                                  <i class="font-color-default fa fa-fw fa-address-card"></i>
                                  Dias habiles solicitados:
                                  <span style="font-weight: 100 !important">{{ dataRequets.request.work_days }}</span>
                                </p>
                              </div>
                              <div class="col-12 text-md-left text-center" *ngIf="dataRequets.request.non_work_days">
                                <p class="font-title-general">
                                  <i class="font-color-default fa fa-fw fa-gamepad"></i>
                                  Dias no habiles solicitados:
                                  <span style="font-weight: 100 !important">{{ dataRequets.request.non_work_days }}</span>
                                </p>
                              </div>
                              <ng-container *ngIf="is_edu">
                                <div class="col-12 text-md-left text-center" *ngIf="dataRequets.request.name_family">
                                  <p class="font-title-general">
                                    <i class="font-color-default fa fa-fw fa-user-circle"></i>
                                    Beneficiario:
                                    <span style="font-weight: 100 !important">{{ dataRequets.request.name_family }}</span>
                                  </p>
                                </div>
                                <div class="col-12 text-md-left text-center" *ngIf="dataRequets.request.name_institute">
                                  <p class="font-title-general">
                                    <i class="font-color-default fa fa-fw fa-university"></i>
                                    Institución:
                                    <span style="font-weight: 100 !important">{{ dataRequets.request.name_institute }}</span>
                                  </p>
                                </div>
                                <div class="col-12 text-md-left text-center" *ngIf="dataRequets.request.total_ammount">
                                  <p class="font-title-general">
                                    <i class="font-color-default fa fa-fw fa-money"></i>
                                    Monto solicitado:
                                    <span style="font-weight: 100 !important">{{ dataRequets.request.total_ammount }}</span>
                                  </p>
                                </div>
                              </ng-container>
                              <ng-container *ngIf="is_logistic">
                                <div class="col-12 text-md-left text-center" *ngIf="detailRequest.name_family">
                                  <p class="font-title-general">
                                    <i class="font-color-default fa fa-fw fa-user-circle"></i>
                                    Beneficiario:
                                    <span style="font-weight: 100 !important">{{ detailRequest.name_family }}</span>
                                  </p>
                                </div>
                                <div class="col-12 text-md-left text-center" *ngIf="detailRequest.companion_beneficiary_name">
                                  <p class="font-title-general">
                                    <i class="font-color-default fa fa-fw fa-users"></i>
                                    Nombre Acompañante:
                                    <span class="font-weight-normal">{{ detailRequest.companion_beneficiary_name }}</span>
                                  </p>
                                </div>
                                <div class="col-12 text-md-left text-center" *ngIf="detailRequest.third_name">
                                  <p class="font-title-general">
                                    <i class="font-color-default fa fa-fw fa-user-secret"></i>
                                    Nombre de la persona externa:
                                    <span class="font-weight-normal">{{ detailRequest.third_name }}</span>
                                  </p>
                                </div>
                                <div class="col-12 text-md-left text-center" *ngIf="detailRequest.third_phone">
                                  <p class="font-title-general">
                                    <i class="font-color-default fa fa-fw fa-phone-square"></i>
                                    Telefono de la persona externa:
                                    <span class="font-weight-normal">{{ detailRequest.third_phone }}</span>
                                  </p>
                                </div>
                                <div class="col-12 text-md-left text-center" *ngIf="detailRequest.housing">
                                  <p class="font-title-general">
                                    <i class="font-color-default fa fa-fw fa-home"></i>
                                    Alojamiento seleccionado:
                                    <span class="font-weight-normal">{{ detailRequest.housing }}</span>
                                  </p>
                                </div>

                                <div class="col-12 text-md-left text-center" *ngIf="detailRequest.departure_date">
                                  <p class="font-title-general">
                                    <i class="font-color-default fa fa-fw fa-calendar-minus-o"></i>
                                    Fecha de salida:
                                    <span class="font-weight-normal">
                                      {{ detailRequest.departure_date | date: 'dd/MM/yyyy' }}
                                    </span>
                                  </p>
                                </div>
                                <div class="col-12 text-md-left text-center" *ngIf="detailRequest.arrival_date">
                                  <p class="font-title-general">
                                    <i class="font-color-default fa fa-fw fa-calendar-plus-o"></i>
                                    Fecha de llegada:
                                    <span class="font-weight-normal">
                                      {{ detailRequest.arrival_date | date: 'dd/MM/yyyy' }}
                                    </span>
                                  </p>
                                </div>
                                <div class="col-12 text-md-left text-center" *ngIf="detailRequest.cost_center">
                                  <p class="font-title-general">
                                    <i class="font-color-default fa fa-fw fa-money"></i>
                                    Centro de costo:
                                    <span class="font-weight-normal">{{ detailRequest.cost_center }}</span>
                                  </p>
                                </div>
                                <div class="col-12 text-md-left text-center" *ngIf="detailRequest.vehicle">
                                  <p class="font-title-general">
                                    <i class="font-color-default fa fa-fw fa-car"></i>
                                    Vehiculo de viaje:
                                    <span class="font-weight-normal">{{ detailRequest.vehicle }}</span>
                                  </p>
                                </div>
                                <div class="col-12 text-md-left text-center" *ngIf="detailRequest.destiny">
                                  <p class="font-title-general">
                                    <i class="font-color-default fa fa-fw fa-hospital-o"></i>
                                    Campo:
                                    <span class="font-weight-normal">{{ detailRequest.destiny }}</span>
                                  </p>
                                </div>
                              </ng-container>
                              <ng-container *ngIf="is_vtd">
                                <div class="col-12 text-md-left text-center" *ngFor="let dayTaken of detailVitalDay">
                                  <p class="font-title-general">
                                    <i class="font-color-default fa fa-fw fa-calendar"></i>
                                    Día Seleccionado:
                                    <span class="font-weight-normal">{{ dayTaken.day_taken }}</span>
                                    <i class="font-color-default fa fa-fw fa-sun-o"></i>
                                    Jornada:
                                    <span class="font-weight-normal">{{ dayTaken.workday_type }}</span>
                                  </p>
                                </div>
                              </ng-container>
                              <div class="col-12 text-md-left text-center" *ngIf="fileSupport !== null">
                                <p class="font-title-general">
                                  <i class="font-color-default fa fa-fw fa-paperclip"></i>
                                  {{ parseT('attached') | translate }}:
                                  <span style=" color: rgb(60, 211, 211); cursor: pointer;" (click)="viewSupport()">{{
                                    parseT('see_attached') | translate
                                  }}</span>
                                </p>
                              </div>
                              <div class="col-12 text-md-left text-center">
                                <p class="font-title-general">
                                  <i class="font-color-default fa fa-fw fa fa-comment"></i>
                                  {{ parseT('observations') | translate }}:
                                  <span style="font-weight: 100 !important">{{ dataRequets.request.observation_request }}</span>
                                </p>
                              </div>
                              <div class="col-12 text-center">
                                <p class="font-title-general">
                                  {{ parseT('created') | translate }}:
                                  <time class="font-color-default">{{ dataRequets.request.created_date }}</time>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </article>

            <div
              *ngIf="dataRequets && dataRequets.request.answers_to_json.length"
              joyrideStep="step_8"
              [title]="joyride('step_8.title') | translate"
              [text]="joyride('step_8.text') | translate"
            >
              <div *ngFor="let answer of dataRequets.request.answers_to_json">
                <div class="separator text-muted"></div>

                <article class="panel panel-success">
                  <div class="panel-heading icon">
                    <i class="fa fa-check"></i>
                  </div>
                  <div class="panel-heading">
                    <h2 class="panel-title">Aprobador {{ answer.approver_to_json.level }}</h2>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="widget bg-white">
                        <div class="row">
                          <div class="col-12 col-md-4 col-lg-2 center-img-employee">
                            <div class="menu-img-employee">
                              <img src="{{ answer.approver_to_json.image.url }}" class="roundPhoto-employee" />
                              <br />
                            </div>
                          </div>
                          <div class="col-12 col-md-8 col-lg-10">
                            <div class="row">
                              <div class="col-12">
                                <h3 class="font-color-default">
                                  {{ answer.approver_to_json.name_complete }}
                                </h3>
                              </div>
                              <div class="col-12">
                                <p class="font-title-general">
                                  {{ answer.approver_to_json.position }}
                                </p>
                              </div>
                              <div class="col-12 text-left">
                                <div class="row justify-content-center">
                                  <div class="col-lg-3 col-md-6 col-12 text-md-left text-center">
                                    <p class="font-title-general">
                                      <i class="font-color-default fa fa-fw fa-question-circle"></i>
                                      {{ parseT('status') | translate }}:
                                    </p>
                                  </div>
                                  <div class="col-lg-2 col-md-6 col-12 text-md-left text-center">
                                    <h6 class="col-4" *ngIf="answer.status_id == 'ReqApp'">
                                      <span class="badge badge-primary" style="margin-top: 5px;">
                                        {{ parseT('status_Approver') | translate }}
                                      </span>
                                    </h6>
                                    <h6 class="col-4" *ngIf="answer.status_id == 'ReqCan'">
                                      <span class="badge badge-danger" style="margin-top: 5px;">
                                        {{ parseT('status_cancelled') | translate }}
                                      </span>
                                    </h6>
                                    <h6 class="col-4" *ngIf="answer.status_id == 'ReqPro'">
                                      <span class="badge badge-success" style="margin-top: 5px;">
                                        {{ parseT('status_in_Process') | translate }}
                                      </span>
                                    </h6>
                                    <h6 class="col-4" *ngIf="answer.status_id == 'ReqPen'">
                                      <span class="badge badge-default" style="margin-top: 5px;">
                                        {{ parseT('status_pending') | translate }}
                                      </span>
                                    </h6>
                                  </div>
                                  <div
                                    class="col-12 text-md-left text-center"
                                    *ngIf="answer.description !== null && answer.description !== undefined"
                                  >
                                    <p class="font-title-general text-center">
                                      <i class="font-color-default fa fa-fw fa fa-comment"></i>
                                      {{ parseT('observations') | translate }}:
                                      <span style="font-weight: 100 !important">{{ answer.description }}</span>
                                    </p>
                                  </div>
                                  <div class="col-12 text-md-left text-center" *ngIf="answer.description == undefined">
                                    <p class="font-title-general text-center">
                                      <i class="font-color-default fa fa-fw fa fa-comment"></i>
                                      {{ parseT('observations') | translate }}:
                                      <span style="font-weight: 100 !important">{{ answer.observation }}</span>
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-12 text-center">
                                <p class="font-title-general">
                                  {{ parseT('created') | translate }}:
                                  <time class="font-color-default">{{ answer.created_date }}</time>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>

            <div *ngIf="dataRequets.pending_level_approver?.level">
              <div class="separator text-muted"></div>

              <article class="panel panel-danger">
                <div class="panel-heading icon">
                  <i class="fa fa-question"></i>
                </div>
                <div class="panel-heading">
                  <h2 class="panel-title">
                    {{ parseT('approver') | translate }}
                    {{ dataRequets.pending_level_approver.level }}
                  </h2>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="widget bg-white">
                      <div class="row">
                        <div class="col-12 col-md-4 col-lg-2 center-img-employee">
                          <div class="menu-img-employee">
                            <img
                              src="{{ dataRequets.pending_level_approver.approver_employee.image.url }}"
                              class="roundPhoto-employee"
                            />
                            <br />
                          </div>
                        </div>
                        <div class="col-12 col-md-8 col-lg-10">
                          <div class="row">
                            <div class="col-12">
                              <h3 class="font-color-default">
                                {{ dataRequets.pending_level_approver.approver_employee.name_complete }}
                              </h3>
                            </div>
                            <div class="col-12">
                              <p class="font-title-general">
                                {{ dataRequets.pending_level_approver.approver_employee.position }}
                              </p>
                            </div>
                            <div class="col-12 text-left">
                              <div class="row justify-content-center">
                                <div class="col-lg-3 col-md-6 col-12 text-md-left text-center">
                                  <p class="font-title-general">
                                    <i class="font-color-default fa fa-fw fa-question-circle"></i>
                                    {{ parseT('status') | translate }}:
                                  </p>
                                </div>
                                <div class="col-lg-2 col-md-6 col-12 text-md-left text-center">
                                  <h6>
                                    <span class="badge badge-default">
                                      {{ parseT('pending') | translate }}
                                    </span>
                                  </h6>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>

            <div *ngIf="dataRequets.message_pending_level_approver !== null">
              <div class="separator text-muted"></div>

              <article class="panel panel-danger">
                <div class="panel-heading icon">
                  <i class="fa fa-question"></i>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="widget bg-white">
                      <div class="row">
                        <div class="col-12">
                          <div class="row">
                            <div class="col-12">
                              <i class="font-color-default fa fa-warning"></i>
                            </div>
                            <div class="col-12">
                              <p class="font-title-general">
                                {{ dataRequets.message_pending_level_approver }}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footerInfo justify-content-center">
        <div class="buttonCloseEmployee btn-close-modals text-center" data-dismiss="modal">
          <h6>
            {{ parseT('button_close') | translate }}
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
