<nav id="mainNav" class="navbar nav-header fixed-top navbar-toggleable-sm navbar-inverse nav mb-3">
  <div class="col-12">
    <div class="row justify-content-between">
      <div id="btnMobile" class="mobile col-md-2  col-lg-2 col-xl-1 col-2  align-self-center">
        <div class="row">
          <div
            id="btnHideMenu"
            class="{{ showMenu ? 'nav-mobile-hide' : 'nav-mobile-show' }}"
            (click)="showMenu ? clickHideMenuMobile() : clickShowMenuMobile()"
          >
            <i class="fa fa-bars"></i>
          </div>
        </div>
      </div>
      <div *ngIf="!showMenu" class="company-logo-header cursor-general img-zoom">
        <img src="{{ logoHeader }}" style="width: 100%; height: 100%;" />
      </div>
      <div class="col" *ngIf="!showMenu">
        <div class="row justify-content-end">
          <div id="togglePartners" class="cursor-general ng-star-inserted px-3 text-center" (click)="clickPartnersIcon()">
            <i class="fa fa-fw fa-users fa-lg"></i>
            <span class="hideText font-size-responsive ">
              {{ parseT('partner') | translate }}
            </span>
          </div>
          <div >
            <div class="dropdown">
              <div
                class="cursor-general ng-star-inserted px-3 text-center"
                id="langujae"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fa fa-fw fa-language fa-lg"></i>
                <span class="hideText font-size-responsive ">
                  {{ 'languaje' | translate }}
                </span>
              </div>
              <div class="dropdown-menu" style="min-width: 4rem;" aria-labelledby="langujae">
                <button
                  class="dropdown-item"
                  type="button"
                  *ngFor="let lang of translate.getLangs()"
                  (click)="translate.use(lang)"
                  [ngClass]="{
                    active: lang === translate.currentLang
                  }"
                >
                  {{ lang }}
                </button>
              </div>
            </div>
          </div>
          <div class="cursor-general px-3 text-center" (click)="LogOut()">
            <i class="fa fa-fw fa-sign-out fa-lg"></i>
            <span class="hideText font-size-responsive">
              {{ parseT('out_door') | translate }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<app-alerts></app-alerts>
<div [ngClass]="{ hide: !showContactsList }">
  <app-contacts-list></app-contacts-list>
</div>
