<button id="btn_detail_distSpend" type="button" class="btn btn-primary" data-toggle="modal" data-target="#dist_spend" style="display:none;">
</button>
<div data-backdrop="static" class="modal" id="dist_spend" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div style="margin-top: 10px !important" class="modal-dialog modal-lg" role="document">
    <div class="modal-content ">
      <div class="modal-header borderLine-title">
        <h5 class="modal-title titleColor text-shadow" id="exampleModalLabel">Distribución de costos</h5>
        <button id="closeDistSpend" type="button" class="close " data-dismiss="modal" aria-label="Close" (click)="closeCollapse()">
          <h4 class="text-primary-hr">X</h4>
        </button>
      </div>
      <div class="modal-body bodyColorInfo">
        <div class="row">
          <div class="col-9">
          </div>
          <div class="col-3">
            <div class="buttonBack img-zoom" (click)="returnSpend()">
              <div style="margin-left: 15px;">
                <i class="fa fa-fw fa-sign-in fa-rotate-180 fa-lg"></i>
                <span>
                  Atrás
                </span>
              </div>
            </div>
          </div>
          <div class="col-12" style="margin-top: 20px" *ngIf="printSpend !== null">
            <div class="row">
              <div class="col-lg-2 col-md-6 col-12">
                <label class="titleColor">
                  <strong>Código de Gasto:</strong>
                </label>
              </div>
              <div class="col-lg-2 col-md-6 col-12">
                <label>{{printSpend.allowance_type_code}}</label>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <label class="titleColor">
                  <strong>Tipo de Gasto:</strong>
                </label>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <label>{{printSpend.allowance_type_name}}</label>
              </div>
            </div>
          </div>

          <div class="col-12" *ngIf="printSpend !== null">
            <div class="row">
              <div class="col-lg-2 col-md-6 col-12">
                <label class="titleColor">
                  <strong>Importe:</strong>
                </label>
              </div>
              <div class="col-lg-2 col-md-6 col-12">
                <label>{{printSpend.value}}</label>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <label class="titleColor">
                  <strong>Fecha:</strong>
                </label>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <label>{{printSpend.date_time_format}}</label>
              </div>
            </div>
          </div>

          <div class="col-12" style="margin-top: 15px" *ngIf="detailDistCost.length > 0">
            <div class="table-responsive">
              <table class="table table-sm table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th class="text-center">
                      Elemento de imputación
                    </th>
                    <th class="text-center">
                      Centro de costo
                    </th>
                    <th class="text-center">
                      Grafo
                    </th>
                    <th class="text-center">
                      Operación
                    </th>
                    <th class="text-center">
                      Cta contable
                    </th>
                    <th class="text-center">
                      Distribución
                    </th>
                    <th class="text-center" *ngIf="isEdit">
                      Eliminar
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pinterDistributions of detailDistCost">
                    <td>
                      {{pinterDistributions.travel_costs_type_name}}
                    </td>
                    <td>
                      {{pinterDistributions.travel_cost_code}} {{pinterDistributions.travel_cost_name}}
                    </td>
                    <td>
                      {{pinterDistributions.travel_graph_code}} {{pinterDistributions.travel_graph_name}}
                    </td>
                    <td>
                      {{pinterDistributions.travel_operation_code}} {{pinterDistributions.travel_operation_name}}
                    </td>
                    <td>
                      {{pinterDistributions.accounting_account_code}} {{pinterDistributions.accounting_account_name}}
                    </td>
                    <td>
                      {{pinterDistributions.distribution}} %
                    </td>
                    <td *ngIf="isEdit">
                      <button type="button" class="btn btn-danger btn-block btn-sm cursor-general" (click)="deletesSavedDist(pinterDistributions)">
                        <i class="fa fa-fw fa-minus"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-12" style="margin-top: 15px">
            <div class="row justify-content-center top-containter" *ngIf="detailDistCost.length == 0">
              <div class="col-lg-8 col-12 text-center">
                <div class="alert alert-warning" role="alert">
                  No hay distribución de gastos asociadas.
                </div>
              </div>
            </div>
          </div>

          <div class="col-12" style="margin-top: 15px; padding-bottom: 30px" *ngIf="is_collapse && isEdit">
            <div class="row justify-content-end">
              <div class="col-3" style="margin-top: 15px">
                <button type="button" class="btn btn-block btn-primary text-center" (click)="newDistributions()">
                  Adicionar distribución
                </button>
                <button type="button" id="funtionNewSpend" data-toggle="collapse" data-target="#collapseNewDistribution" style="display: none">
                </button>
              </div>
            </div>
          </div>

          <div class="collapse top-general-p" id="collapseNewDistribution">
            <div class="col-12">
              <div class="row">
                <div class="col-12" style="margin-top: 15px">
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                      <label class="titleColor">
                        <i class="fa fa-fw fa-pie-chart text-primary-hr"></i>
                        <a>Elemento de imputación:*</a>
                      </label>
                      <select class="form-control" [(ngModel)]="elementImputation" [ngModelOptions]="{standalone: true}" placeholder="Seleccione"
                        (change)="selectTypeCenterImputations()">
                        <option *ngFor="let costsTravelCenter of center_costs_travels " [value]="costsTravelCenter.code">{{costsTravelCenter.name}}</option>
                      </select>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12" *ngIf="kostl">
                      <label class="titleColor">
                        <i class="fa fa-fw fa-usd text-primary-hr detectLetter"></i>
                        <a>Centro de costo:*</a>
                      </label>
                      <input class="form-control" id="searchByAutoCompleteCostSpend" autocomplete="off" type="text" name="costList" [(ngModel)]="typeCenterCost" [ngModelOptions]="{standalone: true}"
                        (keyup)="enterCostSpend()">
                      <div *ngIf="showListAutoCost" class="list-search-autocomplete " style="overflow-x: hidden;">
                        <div (click)="returnCostSearchSpend(costsTrip)" class="search-results borderLineEmployee" *ngFor="let costsTrip of costs_travels">
                          {{costsTrip.code}} - {{costsTrip.name}}
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12" *ngIf="nplnr">
                      <label class="titleColor">
                        <i class="fa fa-fw fa-usd text-primary-hr"></i>
                        <a>Grafo:*</a>
                      </label>
                      <input class="form-control" id="searchByAutoCompleteGraph" autocomplete="off" type="text" name="graphList" [(ngModel)]="grahpSpend" [ngModelOptions]="{standalone: true}"
                        (keyup)="enterGraphSpend()">
                      <div *ngIf="showListAutoGraph" class="list-search-autocomplete " style="overflow-x: hidden;">
                        <div (click)="returnGraphSearchSpend(grahpTravels)" class="search-results borderLineEmployee" *ngFor="let grahpTravels of grahp">
                          {{grahpTravels.code}} - {{grahpTravels.name}}
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12" *ngIf="nplnr">
                      <label class="titleColor">
                        <i class="fa fa-fw fa-object-ungroup text-primary-hr"></i>
                        <a>Operación:*</a>
                      </label>
                      <select class="form-control" [attr.disabled]="operations.length == 0 ? true : null" [(ngModel)]="operationsSpend" [ngModelOptions]="{standalone: true}">
                        <option value="-1">Seleccione</option>
                        <option *ngFor="let operationsTravels of operations" [value]="operationsTravels.id">{{operationsTravels.code}} - {{operationsTravels.name}}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-12" style="margin-top: 15px">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                      <label class="titleColor">
                        <i class="fa fa-fw fa-calculator text-primary-hr"></i>
                        <a>Cuenta contable:*</a>
                      </label>
                      <select class="form-control" [(ngModel)]="accountContableVariable" [ngModelOptions]="{standalone: true}">
                        <option value="">Seleccione</option>
                        <option *ngFor="let accounting of accountContable" [value]="accounting.id">{{accounting.code}} - {{accounting.name}}</option>
                      </select>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                      <label for="dateEnd" class="titleColor">
                        <i class="fa fa-fw fa-percent text-primary-hr"></i>
                        Distribución*
                      </label>
                      <input class="form-control" type="number" [(ngModel)]="distribution" [ngModelOptions]="{standalone: true}" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12" style="margin-top: 30px; padding-bottom: 30px">
              <div class="row justify-content-end">
                <div class="col-lg-3 col-md-4 col-12" style="margin-top: 10px">
                  <button type="button" [attr.disabled]="
                    ( elementImputation == ''
                    || accountContableVariable == ''
                    || distribution == '') ? true : null" class="btn btn-primary btn-block cursor-general" (click)="saveAccountEdit()">
                    <i class="fa fa-fw fa-plus"></i>&nbsp;&nbsp;Agregar distribución</button>
                </div>
                <div class="col-lg-3 col-md-4 col-12" style="margin-top: 10px">
                  <button type="button" class="btn btn-warning btn-block cursor-general" data-toggle="collapse" data-target="#collapseNewDistribution"
                    (click)="closeCollapse()">
                    <i class="fa fa-fw fa-fw fa-window-close"></i>&nbsp;&nbsp;Cancelar</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>