<button id="btn_travel_edit" type="button" class="btn btn-primary" data-toggle="modal" data-target="#travel_edit" style="display:none;">
</button>
<div class="modal" data-backdrop="static" id="travel_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div style="margin-top: 10px !important" class="modal-dialog modal-lg" role="document">
    <div class="modal-content ">
      <div class="modal-header borderLine-title">
        <h5 class="modal-title titleColor text-shadow" id="exampleModalLabel">Modificación de viaje # {{ticket}}</h5>
        <button id="close_edit_travel" type="button" class="close " data-dismiss="modal" aria-label="Close">
          <h4 class="text-primary-hr">X</h4>
        </button>
      </div>
      <div class="modal-body bodyColorInfo" *ngIf="generalViajes != null">
        <form [formGroup]="formTravelManagement" class="row justify-content-left" (ngSubmit)="newEditTravel(formTravelManagement.value)">
          <div class="col-11">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12">
                <label class="titleColor">
                  <i class="fa fa-fw fa fa-plane text-primary-hr"></i>
                  <strong>Tipo de viaje:</strong>
                </label>
                <select *ngIf="travel_types.length > 0" class="form-control" [formControl]="formTravelManagement.controls['type_travel']" paceholder="Seleccione">
                  <option value="">Seleccione</option>
                  <option *ngFor="let nameTravel of travel_types" [value]="nameTravel.id">{{nameTravel.name}}</option>
                </select>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <label class="titleColor">
                  <i class="fa fa-fw fa-calendar-check-o text-primary-hr"></i>
                  <strong>Fecha inicial de solicitud:*</strong>
                </label>
                <input type="date" name="date_requests_begin" class="form-control" [formControl]="formTravelManagement.controls['date_requests_begin']"
                  (change)="dateComplete(formTravelManagement.value)" 
                />
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <label class="titleColor">
                  <i class="fa fa-fw fa-calendar-minus-o text-primary-hr"></i>
                  <strong>Fecha final de solicitud:*</strong>
                </label>
                <input type="date" name="date_requests_end" class="form-control" [formControl]="formTravelManagement.controls['date_requests_end']"
                  (change)="dateComplete(formTravelManagement.value)"  />
              </div>
            </div>
          </div>
          <div class="col-12 top-containter" style="margin-top: 20px">
            <label for="celulaInput" class="titleColor">
              <i class="fa fa-fw fa-comment text-primary-hr"></i>
              <strong>Motivo del Viaje *</strong>
            </label>
            <textarea style="margin-top: 10px" type="text" rows="5" style="height: auto !important;" name="reason_trip" class="form-control"
              [formControl]="formTravelManagement.controls['trip_text']"></textarea>
          </div>

          <div class="col-lg-3 col-md-6 col-12 form-check" style="margin-top: 20px">
            <input class="form-check-input" style="margin-top: 4px !important" type="checkbox" value="true" id="manutencionCheck" [formControl]="formTravelManagement.controls['maintenance']">
            <label class="form-check-label titleColor" for="manutencionCheck">
              <strong>Manutención</strong>
            </label>
          </div>

          <div class="col-12">
            <div class="row" style="margin-top: 15px">
              <div class="col-lg-4 col-md-6 col-12">
                <label class="titleColor">
                  <i class="fa fa-fw fa-rocket text-primary-hr"></i>
                  <a>Clase de viaje legal:*</a>
                </label>
                <select *ngIf="legal_travels.length > 0" class="form-control" [formControl]="formTravelManagement.controls['id_travel_legal']">
                  <option value="-1">Seleccione</option>
                  <option *ngFor="let legalTravel of legal_travels" [value]="legalTravel.id">{{legalTravel.name}}</option>
                </select>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <label class="titleColor">
                  <i class="fa fa-fw fa-ship text-primary-hr"></i>
                  <a>Clase de viaje empresarial:*</a>
                </label>
                <select *ngIf="trips_specific.length > 0" class="form-control" [formControl]="formTravelManagement.controls['id_travel_specific']">
                  <option value="-1">Seleccione</option>
                  <option *ngFor="let specificTravel of trips_specific" [value]="specificTravel.id">{{specificTravel.name}}</option>
                </select>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <label class="titleColor">
                  <i class="fa fa-fw fa-sitemap text-primary-hr"></i>
                  <a>Actividad de viaje:*</a>
                </label>
                <select *ngIf="trips_activities.length > 0" class="form-control" [formControl]="formTravelManagement.controls['id_travel_activities']">
                  <option value="-1">Seleccione</option>
                  <option *ngFor="let activitiesTravel of trips_activities" [value]="activitiesTravel.id">{{activitiesTravel.name}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-12" *ngIf="activate">
            <div class="row" style="margin-top: 10px">
              <div class="col-lg-4 col-md-6 col-12">
                <label class="titleColor">
                  <i class="fa fa-fw fa-pie-chart text-primary-hr"></i>
                  <a>Elemento de imputación:*</a>
                </label>
                <select *ngIf="center_costs_travels.length > 0" class="form-control" [formControl]="formTravelManagement.controls['id_element_imputation']"
                  (change)="searchCostsCenterAndGrahp(formTravelManagement.value, 'new')" placeholder="Seleccione">
                  <option *ngFor="let costsTravelCenter of center_costs_travels " [value]="costsTravelCenter.id">{{costsTravelCenter.name}}</option>
                </select>
              </div>
              <div class="col-lg-4 col-md-6 col-12" *ngIf="kostl">
                <label class="titleColor">
                  <i class="fa fa-fw fa-usd text-primary-hr"></i>
                  <a>Centro de costo:*</a>
                </label>
                <select [attr.disabled]="costs_travels.length == 0 ? true : null" class="form-control" [formControl]="formTravelManagement.controls['id_travel_costs']">
                  <option value="-1">Seleccione</option>
                  <option *ngFor="let costsTrip of costs_travels" [value]="costsTrip.id">{{costsTrip.code}} - {{costsTrip.name}}</option>
                </select>
              </div>
              <div class="col-lg-4 col-md-6 col-12" *ngIf="nplnr">
                <label class="titleColor">
                  <i class="fa fa-fw fa-usd text-primary-hr"></i>
                  <a>Grafo:*</a>
                </label>
                <select *ngIf="grahp.length > 0" class="form-control" [formControl]="formTravelManagement.controls['id_grahp']" (change)="searchOperationsGrahp(formTravelManagement.value, 'new')"
                  placeholder="Seleccione">
                  <option *ngFor="let grahpTravels of grahp " [value]="grahpTravels.code">{{grahpTravels.code}} - {{grahpTravels.name}}</option>
                </select>
              </div>
              <div class="col-lg-4 col-md-6 col-12" *ngIf="nplnr">
                <label class="titleColor">
                  <i class="fa fa-fw fa-usd text-primary-hr"></i>
                  <a>Operacion:*</a>
                </label>
                <select [attr.disabled]="operations.length == 0 ? true : null" class="form-control" [formControl]="formTravelManagement.controls['id_operations']">
                  <option value="-1">Seleccione</option>
                  <option *ngFor="let operationsTravels of operations" [value]="operationsTravels.id">{{operationsTravels.code}} - {{operationsTravels.name}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-12" style="margin-top: 15px">
            <div class="row border" style="margin-left: 15px">
              <h4>Trayectos</h4>
            </div>
          </div>

          <div class="col-12">
            <div class="row" style="margin-top: 15px">
              <div class="col-12 top-general-p" style="min-height: 20px">
                <app-data-table [records]="objectReport" id="tableTravels" [pdf]="showPdf" [sizeTable]="showSizeTable" [title]="nameReport"></app-data-table>
              </div>
            </div>

            <div class="row" style="margin-top: 50px">
              <div class="col-8" *ngFor="let imgsaved of generalViajes[0].travel_request_annexeds; let index = index">
                <div class="alert" style="background-color:rgba(0,0,0,.2) " role="alert">
                  <div class="row">
                    <div class="col-11">
                      <h6>{{imgsaved.name | slice: 0:40}}
                        <span [hidden]="imgsaved.name.length < 40">...</span>
                      </h6>
                      <p class="badge badge-light wg-hover-general" (click)="viewCotization(imgsaved)">Ver</p>
                      <p class="badge badge-light wg-hover-general" (click)="downloadCotization(imgsaved)">Descargar</p>
                    </div>
                    <div class="col-1 text-center">
                      <h6 (click)="deleteUploadSaved(imgsaved)" class="text-primary-hr cursor-general">x</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="row" style="margin-top: 50px">
              <div class="col-12 top-containter">
                <div class="row">
                  <div class="col-12">
                    <label *ngIf="objectImg.length > 0" class="titleColor">
                      <i class="fa fa-fw fa-check text-primary-hr"></i>
                      <strong>Archivos adjuntos</strong>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-8" *ngFor="let imgsaved of objectImg; let index = index">
                    <div class="alert" style="background-color:rgba(0,0,0,.2) " role="alert">
                      <div class="row">
                        <div class="col-11">
                          <div *ngIf="imgsaved.extension == 'pdf'" class="cursor-general " theme='dark'>
                            <h6>{{index+1}}.
                              <i class="fa fa-fw fa-file-pdf-o" aria-hidden="true" style="font-size: 1.5em; color: white"></i>
                              {{imgsaved.file.name |slice: 0:30 }}
                              <span [hidden]="imgsaved.file.name.length < 30">...</span>
                            </h6>
                          </div>
                          <div *ngIf="imgsaved.extension == 'docx'" class="cursor-general " theme='dark'>
                            <h6>{{index+1}}.
                              <i class="fa fa-fw fa-file-word-o" aria-hidden="true" style="font-size: 1.5em; color:white"></i>
                              {{imgsaved.file.name |slice: 0:30 }}
                              <span [hidden]="imgsaved.file.name.length < 30">...</span>
                            </h6>
                          </div>
                          <div *ngIf="imgsaved.extension == 'jpeg' || imgsaved.extension == 'png' || imgsaved.extension == 'jpg' " class="cursor-general "
                            theme='dark'>
                            <h6>{{index+1}}.
                              <i class="fa fa-fw fa-file-image-o" aria-hidden="true" style="font-size: 1.5em; color:white"></i>
                              {{imgsaved.file.name |slice: 0:30 }}
                              <span [hidden]="imgsaved.file.name.length < 30">...</span>
                            </h6>
                          </div>
                        </div>
                        <div class="col-1 text-center">
                          <h6 (click)="deleteUpload(imgsaved)" class="text-primary-hr cursor-general">x</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-6 col-12">
                    <label *ngIf="objectImg.length == 0" class="titleColor">
                      <i class="fa fa-fw fa-paperclip text-primary-hr"></i>
                      <strong>Adjuntar Cotización</strong>
                    </label>
                    <app-file-upload [nameFile]='filequotation' [extensions]="extensions"></app-file-upload>
                  </div>
                </div>
              </div>
            </div>

            <div class="row justify-content-end">
              <div class="col-lg-3 col-md-4 col-12">
                <h5 *ngIf="bedit">
                  Editar trayecto
                </h5>
                <h5 class="titleColor" *ngIf="bnew">
                 Crear trayecto
                </h5>
                <button *ngIf="!bedit && !bnew" class="btn btn-block btn-primary text-center" (click)="colapseEdit()">
                  Crear trayecto
                </button>
                <button id="edit_funtionTravel" data-toggle="collapse" data-target="#collapseTravelEdit" style="display: none">
                </button>
              </div>
            </div>

            <div class="collapse top-general-p " id="collapseTravelEdit">
              <div class="row" style="margin-top: 15px">
                <div class="col-lg-2 col-md-6 col-12" style="margin-top: 30px">
                  <label class="titleColor">
                    <i class="fa fa-fw fa fa-bus text-primary-hr"></i>
                    <strong>Transporte:</strong>
                  </label>
                </div>
                <div class="col-lg-3 col-md-6 col-12" style="margin-top: 30px">
                  <select class="form-control" [formControl]="formTravelManagement.controls['id_transport']" (change)="mileageTravel(formTravelManagement.value, 'new')">
                    <option *ngFor="let nameTransport of transport_types" [value]="nameTransport.id">{{nameTransport.name}}</option>
                  </select>
                </div>
                <div class="col-lg-2 col-md-6 col-12" *ngIf="showMilenage" style="margin-top: 30px">
                  <label class="titleColor">
                    <i class="fa fa-fw fa fa-car text-primary-hr"></i>
                    <strong>Kilometraje:</strong>
                  </label>
                </div>
                <div class="col-lg-3 col-md-6 col-12" *ngIf="showMilenage" style="margin-top: 30px">
                  <input type="text" class="form-control" [formControl]="formTravelManagement.controls['travel_mileage']">
                </div>
              </div>

              <div class="row" style="margin-top: 15px">
                <div class="col-12">
                  <div class="row">
                    <div class="col-12">
                      <div class="border">
                        <strong class="text-primary-hr">Lugar de origen</strong>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-12" style="margin-top: 10px">
                      <label class="titleColor">
                        <i class="fa fa-fw fa fa-font-awesome text-primary-hr"></i>
                        <a>País:</a>
                      </label>
                      <select [attr.disabled]="countries.length == 0 ? true : null" class="form-control" [formControl]="formTravelManagement.controls['id_country']"
                        (change)="searchState(formTravelManagement.value, 'new')">
                        <option value="-1">Seleccione</option>
                        <option *ngFor="let nameCountry of countries" [value]="nameCountry.id">{{nameCountry.name}}</option>
                      </select>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12" style="margin-top: 10px">
                      <label class="titleColor">
                        <i class="fa fa-fw fa fa-dot-circle-o text-primary-hr"></i>
                        <a>Región:</a>
                      </label>
                      <select [attr.disabled]="stateLocations.length == 0 ? true : null" class="form-control" [formControl]="formTravelManagement.controls['id_state']"
                        (change)="searchCity(formTravelManagement.value, 'new')">
                        <option value="-1">Seleccione</option>
                        <option *ngFor="let nameState of stateLocations" [value]="nameState.id">{{nameState.name}}</option>
                      </select>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12" style="margin-top: 10px">
                      <label class="titleColor">
                        <i class="fa fa-fw fa-paper-plane text-primary-hr"></i>
                        <a>Provincia:</a>
                      </label>
                      <input type="text" class="form-control" name="id_city" [formControl]="formTravelManagement.controls['id_city']">
                      <!-- <select class="form-control" [formControl]="formTravelManagement.controls['id_city']">
                        <option value="-1">Seleccione</option>
                        <option *ngFor="let nameCity of cityLocations" [value]="nameCity.id">{{nameCity.name}}</option>
                      </select> -->
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-12" style="margin-top: 10px">
                      <label class="titleColor">
                        <i class="fa fa-fw fa fa-map-marker text-primary-hr"></i>
                        <a>Terminal de origen:</a>
                      </label>
                      <select [attr.disabled]="terminalLocations.length == 0 ? true : null" class="form-control" [formControl]="formTravelManagement.controls['id_terminal']">
                        <option value="-1">Seleccione</option>
                        <option *ngFor="let nameTerminal of terminalLocations" [value]="nameTerminal.id">{{nameTerminal.name}}</option>
                      </select>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 top-containter" style="margin-top: 10px">
                      <label class="titleColor">
                        <i class="fa fa-fw fa-calendar text-primary-hr"></i>
                        <a> Fecha Inicial del Trayecto *</a>
                      </label>
                      <input type="date" name="date_begin" class="form-control" [formControl]="formTravelManagement.controls['date_begin']" (change)="dateValidateTrayect(formTravelManagement.value)"
                      />
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 top-containter" style="margin-top: 10px">
                      <label class="titleColor">
                        <i class="fa fa-fw fa fa-clock-o text-primary-hr"></i>
                        <a> Hora de Partida *</a>
                      </label>
                      <input type="time" name="hour_begin" class="form-control" [formControl]="formTravelManagement.controls['hour_begin']" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top: 15px">
                <div class="col-12">
                  <div class="row">
                    <div class="col-12">
                      <div class="border">
                        <strong class="text-primary-hr">Lugar de destino</strong>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-12" style="margin-top: 10px">
                      <label class="titleColor">
                        <i class="fa fa-fw fa fa-font-awesome text-primary-hr"></i>
                        <a>País:</a>
                      </label>
                      <select [attr.disabled]="countriesto.length == 0 ? true : null" class="form-control" [formControl]="formTravelManagement.controls['id_countryto']"
                        (change)="searchStateto(formTravelManagement.value, 'new')">
                        <option value="-1">Seleccione</option>
                        <option *ngFor="let nameCountryto of countriesto" [value]="nameCountryto.id">{{nameCountryto.name}}</option>
                      </select>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12" style="margin-top: 10px">
                      <label class="titleColor">
                        <i class="fa fa-fw fa fa-dot-circle-o text-primary-hr"></i>
                        <a>Región:</a>
                      </label>
                      <select [attr.disabled]="stateLocationsto.length == 0 ? true : null" class="form-control" [formControl]="formTravelManagement.controls['id_stateto']"
                        (change)="searchCityto(formTravelManagement.value, 'new')">
                        <option value="-1">Seleccione</option>
                        <option *ngFor="let nameStateto of stateLocationsto" [value]="nameStateto.id">{{nameStateto.name}}</option>
                      </select>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12" style="margin-top: 10px">
                      <label class="titleColor">
                        <i class="fa fa-fw fa-paper-plane text-primary-hr"></i>
                        <a>Provincia:</a>
                      </label>
                      <input type="text" class="form-control" name="id_cityto" [formControl]="formTravelManagement.controls['id_cityto']">
                      <!-- <select class="form-control" [formControl]="formTravelManagement.controls['id_cityto']">
                        <option value="-1">Seleccione</option>
                        <option *ngFor="let nameCityto of cityLocationsto" [value]="nameCityto.id">{{nameCityto.name}}</option>
                      </select> -->
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-12" style="margin-top: 10px">
                      <label class="titleColor">
                        <i class="fa fa-fw fa fa-map-marker text-primary-hr"></i>
                        <a>Terminal de destino:</a>
                      </label>
                      <select [attr.disabled]="terminalLocationsto.length == 0 ? true : null" class="form-control" [formControl]="formTravelManagement.controls['id_terminalto']">
                        <option value="-1">Seleccione</option>
                        <option *ngFor="let nameTerminalto of terminalLocationsto" [value]="nameTerminalto.id">{{nameTerminalto.name}}</option>
                      </select>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 top-containter" style="margin-top: 10px">
                      <label class="titleColor">
                        <i class="fa fa-fw fa-calendar text-primary-hr"></i>
                        <a> Fecha final del Trayecto *</a>
                      </label>
                      <input type="date" name="date_end" class="form-control" [formControl]="formTravelManagement.controls['date_end']" (change)="dateValidateTrayect(formTravelManagement.value)"
                      />
                    </div>
                    <div class="col-lg-4 col-md-6 col-12 top-containter" style="margin-top: 10px">
                      <label class="titleColor">
                        <i class="fa-fw fa fa-clock-o text-primary-hr"></i>
                        <a> Hora de llegada *</a>
                      </label>
                      <input type="time" name="hour_end" class="form-control" [formControl]="formTravelManagement.controls['hour_end']" (change)="hourValidationsEdit(formTravelManagement.value)" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top: 10px">
                <div class="col-lg-2 col-md-2 col-12" style="margin-top: 30px">
                  <label class="titleColor">
                    <i class="fa fa-fw fa fa-bed text-primary-hr"></i>
                    <strong>Hotel:</strong>
                  </label>
                </div>
                <div class="col-lg-4 col-md-4 col-12" style="margin-top: 30px">
                  <select class="form-control" [formControl]="formTravelManagement.controls['id_hotels']">
                    <option *ngFor="let nameHotels of hotels" [value]="nameHotels.id">{{nameHotels.name}}</option>
                  </select>
                </div>

                <div class="col-12 top-containter" style="margin-top: 30px">
                  <div class="row justify-content-end">
                    <div class="col-lg-3 col-md-4 col-12" *ngIf="!bedit">
                      <button type="button" [attr.disabled]="
                      (formTravelManagement.value.id_country == -1
                        || formTravelManagement.value.id_country == ''
                        || formTravelManagement.value.id_state == -1
                        || formTravelManagement.value.id_state == ''
                        || formTravelManagement.value.id_terminal == -1
                        || formTravelManagement.value.id_terminal == ''
                        || formTravelManagement.value.date_begin == ''
                        || formTravelManagement.value.hour_begin == ''
                        || formTravelManagement.value.id_countryto == -1
                        || formTravelManagement.value.id_countryto == ''
                        || formTravelManagement.value.id_stateto == -1
                        || formTravelManagement.value.id_stateto == ''
                        || formTravelManagement.value.id_terminalto == -1
                        || formTravelManagement.value.id_terminalto == ''
                        || formTravelManagement.value.date_end == ''
                        || formTravelManagement.value.hour_end == '') ? true : null" class="btn btn-primary btn-block cursor-general"
                        (click)="addDestination(formTravelManagement.value)" data-toggle="collapse" data-target="#collapseTravel">
                        <i class="fa fa-fw fa-plus"></i>&nbsp;&nbsp;Agregar destino
                      </button>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12" *ngIf="bedit">
                      <button type="button" class="btn btn-primary btn-block cursor-general" (click)="editDestination(formTravelManagement.value)" data-toggle="collapse"
                        data-target="#collapseTravel">
                        <i class="fa fa-fw fa-plus"></i>&nbsp;&nbsp;Agregar cambios</button>
                    </div>
                    <div class="col-lg-3 col-md-4 col-12" style="margin-top: 10px">
                      <button class="btn btn-warning btn-block cursor-general" (click)="closeTrip()" data-toggle="collapse" data-target="#collapseTravelEdit">
                        <i class="fa fa-fw fa-fw fa-window-close"></i>&nbsp;&nbsp;Cancelar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="row justify-content-end" style="margin-top: 30px" *ngIf="activate_submit">
          <div class="col-lg-3 col-md-4 col-12">
            <button type="submit" *ngIf="showSubmit" class="btn btn-success btn-block cursor-general" (click)="newEditTravel(formTravelManagement.value)">
              <i class="fa fa-fw fa-save"></i>&nbsp;&nbsp;Guardar</button>
            <button type="button" *ngIf="!showSubmit" class="btn btn-warning btn-block">
              <i class="fa fa-fw fa-spinner fa-spin"></i>&nbsp;&nbsp;Cargando</button>
              <div class="col-lg-3 col-md-4 col-12">
                <button *ngIf="objectPrint.data.length > 0" class="btn btn-success btn-block cursor-general" (click)="sedRequestsTravel()">
                  <i class="fa fa-fw fa-save"></i>&nbsp;Enviar aprobación</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>