<div class="row justify-content-center">
  <div class="col-12 col-lg-12">
    <form
      [formGroup]="form"
      class="row align-content-center justify-content-center"
    >
      <div class="col-12">
        <div class="row">
          <div
            class="col-12 col-md-6 top-containter"
            *ngIf="formState('name')"
          >
            <label class="titleColor">
              <i class="fa fa-fw fa-hashtag text-primary-hr"></i>
              {{ parseT('first_name') | translate }} *
            </label>
            <input
              type="text"
              class="form-control"
              [formControl]="forms.name"
            />
          </div>
          <div
            class="col-12 col-md-6 top-containter"
            *ngIf="formState('type_identification')"
          >
            <label class="titleColor">
              <i
                class="fa fa-fw fa-address-card-o text-primary-hr"
              ></i>
              {{ parseT('document_type') | translate }} *
            </label>
            <select
              class="form-control"
              [formControl]="forms.type_identification"
            >
              <option value="">Seleccione</option>
              <option
                *ngFor="let identificationList of document_types_list"
                [value]="identificationList.id"
              >
                {{ identificationList.name }}
              </option>
            </select>
          </div>
          <div
            class="col-12 col-md-6 top-containter"
            *ngIf="formState('number_identification')"
          >
            <label class="titleColor">
              <i class="fa fa-fw fa-hashtag text-primary-hr"></i>
              {{ parseT('document_number') | translate }} *
            </label>
            <input
              type="text"
              class="form-control"
              [formControl]="forms.number_identification"
            />
          </div>
          <div
            class="col-12 top-containter"
            *ngIf="formState('benefist')"
          >
            <label class="titleColor">
              <i class="fa fa-fw fa-mortar-board text-primary-hr"></i>
              {{ parseT('beneficiary') | translate }} *
            </label>
            <select
              class="form-control"
              [formControl]="forms.benefist"
            >
              <option value="">Seleccione</option>
              <option
                *ngFor="let benefist of benefists_list"
                [value]="benefist.id"
              >
                {{ benefist.name }}
              </option>
            </select>
          </div>
          <ng-container *ngIf="!isHigherBenefist">
            <div class="col-12">
              <div class="container-fluid widget">
                <div class="row">
                  <div class="col-12 top-containter">
                    <label class="titleColor">
                      <i
                        class="fa fa-fw fa-mortar-board text-primary-hr"
                      ></i>
                      {{ parseT('escort_name') | translate }} *
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      [formControl]="forms.accompanying_beneficiary"
                    />
                  </div>
                  <div class="col-12 col-md-6 top-containter">
                    <label class="titleColor">
                      <i
                        class="fa fa-fw fa-address-card-o text-primary-hr"
                      ></i>
                      {{
                        parseT('type_of_companion_document')
                          | translate
                      }}
                      *
                    </label>
                    <select
                      class="form-control"
                      [formControl]="
                        forms.type_identification_accompanying
                      "
                    >
                      <option value="">Seleccione</option>
                      <option
                        *ngFor="
                          let identificationList of document_types_list
                        "
                        [value]="identificationList.id"
                      >
                        {{ identificationList.name }}
                      </option>
                    </select>
                  </div>
                  <div class="col-12 col-md-6 top-containter">
                    <label class="titleColor">
                      <i
                        class="fa fa-fw fa-hashtag text-primary-hr"
                      ></i>
                      {{
                        parseT('document_number_of_the_companion')
                          | translate
                      }}
                      *
                    </label>
                    <input
                      type="number"
                      class="form-control"
                      [formControl]="
                        forms.number_identification_accompanying
                      "
                    />
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <div
            class="col-12 col-md-6 top-containter"
            *ngIf="formState('date_departure')"
          >
            <label class="titleColor">
              <i class="fa fa-fw fa-hashtag text-primary-hr"></i>
              {{ parseT('departure_date') | translate }} *
            </label>
            <input
              type="date"
              class="form-control"
              [formControl]="forms.date_departure"
            />
          </div>
          <div
            class="col-12 col-md-6 top-containter"
            *ngIf="formState('origin')"
          >
            <label class="titleColor">
              <i class="fa fa-fw fa-mortar-board text-primary-hr"></i>
              {{ parseT('origin') | translate }} *
            </label>
            <select class="form-control" [formControl]="forms.origin">
              <option value="">Seleccione</option>
              <option
                *ngFor="let origin of origins_list"
                [value]="origin.id"
              >
                {{ origin.name }}
              </option>
            </select>
          </div>
          <div
            class="col-12 col-md-6 top-containter"
            *ngIf="formState('destiny')"
          >
            <label class="titleColor">
              <i class="fa fa-fw fa-user-o text-primary-hr"></i>
              {{ parseT('destination') | translate }} *
            </label>
            <select
              class="form-control"
              [formControl]="forms.destiny"
            >
              <option value="">Seleccione</option>
              <option
                *ngFor="let destiny of destinations_list"
                [value]="destiny.id"
              >
                {{ destiny.name }}
              </option>
            </select>
          </div>
          <div
            class="col-12 col-md-6 top-containter"
            *ngIf="formState('cost_center')"
          >
            <label class="titleColor">
              <i class="fa fa-fw fa-hashtag text-primary-hr"></i>
              {{ parseT('cost_center') | translate }} *
            </label>
            <input
              type="text"
              class="form-control"
              [formControl]="forms.cost_center"
            />
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row justify-content-center">
          <div class="col-12">
            <div
              class="border-title h5"
              style="color: rgba(255, 255, 255, 0.81);"
            >
              {{ parseT('pick-up_location') | translate }} *
            </div>
          </div>
          <div class="col-12 col-md-6" *ngIf="formState('city')">
            <label class="titleColor">
              <i class="fa fa-fw fa-university text-primary-hr"></i>
              {{ parseT('city') | translate }} *
            </label>
            <select class="form-control" [formControl]="forms.city">
              <option value="">Seleccione</option>
              <option
                *ngFor="let city of citiesList"
                [value]="JSON.stringify(city)"
              >
                {{ city.name }}
              </option>
            </select>
          </div>
          <div class="col-12 col-md-6" *ngIf="formState('address')">
            <label class="titleColor">
              <i class="fa fa-fw fa-university text-primary-hr"></i>
              {{ parseT('address') | translate }} *
            </label>
            <input
              type="text"
              class="form-control"
              [formControl]="forms.address"
            />
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-2">
        <div class="row justify-content-end">
          <div class="col-lg-3 col-md-6 col-lg-4 col-12">
            <button
              type="button"
              *ngIf="showSubmit"
              class="btn btn-success btn-block"
              (click)="submitSend()"
              [attr.disabled]="validateForms ? null : true"
            >
              <i class="fa fa-fw fa-floppy-o"></i
              >{{ parseT('btn_save') | translate }}
            </button>
            <button
              type="button"
              *ngIf="!showSubmit"
              class="btn btn-warning btn-block"
            >
              <i class="fa fa-fw fa-spinner fa-spin"></i
              >{{ parseT('btn_loading') | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
