<div class="row justify-content-center">
  <div class="col-12 col-lg-12">
    <form [formGroup]="form" class="row align-content-center justify-content-center">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-md-6 top-containter" *ngIf="formState('name')">
            <label class="titleColor">
              <i class="fa fa-fw fa-user-o text-primary-hr"></i>
              {{ parseT('first_name') | translate }} *
            </label>
            <input type="text" class="form-control" [formControl]="forms.name" />
          </div>
          <div class="col-12 col-md-6 top-containter" *ngIf="formState('type_identification')">
            <label class="titleColor">
              <i class="fa fa-fw fa-address-card-o text-primary-hr"></i>
              {{ parseT('document_type') | translate }} *
            </label>
            <select class="form-control" [formControl]="forms.type_identification">
              <option value="">Seleccione</option>
              <option *ngFor="let identificationList of document_types_list" [value]="identificationList.id">
                {{ identificationList.name }}
              </option>
            </select>
          </div>
          <div class="col-12 col-md-6 top-containter" *ngIf="formState('number_identification')">
            <label class="titleColor">
              <i class="fa fa-fw fa-hashtag text-primary-hr"></i>
              {{ parseT('document_number') | translate }} *
            </label>
            <input type="text" class="form-control" [formControl]="forms.number_identification" />
          </div>
          <div class="col-12 top-containter" *ngIf="formState('benefist')">
            <label class="titleColor">
              <i class="fa fa-fw fa-user-o text-primary-hr"></i>
              {{ parseT('beneficiary') | translate }} *
            </label>
            <select class="form-control" [formControl]="forms.benefist">
              <option value="">Seleccione</option>
              <option *ngFor="let benefist of benefists_list" [value]="benefist.id">
                {{ benefist.name }}
              </option>
            </select>
          </div>
          <ng-container *ngIf="!isHigherBenefist">
            <div class="col-12">
              <div class="container-fluid widget">
                <div class="row">
                  <div class="col-12 top-containter">
                    <label class="titleColor">
                      <i class="fa fa-fw fa-user-o text-primary-hr"></i>
                      {{ parseT('escort_name') | translate }} *
                    </label>
                    <input type="text" class="form-control" [formControl]="forms.accompanying_beneficiary" />
                  </div>
                  <div class="col-12 col-md-6 top-containter">
                    <label class="titleColor">
                      <i class="fa fa-fw fa-address-card-o text-primary-hr"></i>
                      {{ parseT('type_of_companion_document') | translate }}*
                    </label>
                    <select class="form-control" [formControl]="forms.type_identification_accompanying">
                      <option value="">Seleccione</option>
                      <option *ngFor="let identificationList of document_types_list" [value]="identificationList.id">
                        {{ identificationList.name }}
                      </option>
                    </select>
                  </div>
                  <div class="col-12 col-md-6 top-containter">
                    <label class="titleColor">
                      <i class="fa fa-fw fa-hashtag text-primary-hr"></i>
                      {{ parseT('document_number_of_the_companion') | translate }}*
                    </label>
                    <input type="number" class="form-control" [formControl]="forms.number_identification_accompanying" />
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <div class="col-12 col-md-6 top-containter" *ngIf="formState('destiny')">
            <label class="titleColor">
              <i class="fa fa-fw fa-map-marker  text-primary-hr"></i>
              {{ parseT('destination') | translate }} *
            </label>
            <select class="form-control" [formControl]="forms.destiny" (change)="selectedTrip(form)">
              <option value="">Seleccione</option>
              <option *ngFor="let destiny of destinations_list" [value]="destiny.id">
                {{ destiny.name }}
              </option>
            </select>
          </div>
          <div class="col-12 col-md-6 top-containter" *ngIf="formState('cost_center')">
            <label class="titleColor">
              <i class="fa fa-fw fa-hashtag text-primary-hr"></i>
              {{ parseT('cost_center') | translate }} *
            </label>
            <input type="text" class="form-control" [formControl]="forms.cost_center" />
          </div>
        </div>

        <div class="col-12">
          <div class="container-fluid py-3">
            <div class="row">
              <div class="col-12">
                <div class="table-responsive mt-3">
                  <ng-container *ngIf="trip.length > 0">
                    <table class="table table-sm table-striped table-bordered">
                      <thead>
                        <tr>
                          <th class="text-center">
                            Vehiculo
                          </th>
                          <th class="text-center">
                            Fecha y hora de salida
                          </th>
                          <th class="text-center">
                            Duracion de trayecto
                          </th>
                          <th class="text-center">
                            Selección
                          </th>
                        </tr>
                      </thead>
                      <tbody style="color: #fff;">
                        <tr *ngFor="let trips of trip">
                          <td>
                            {{ trips.plate }}
                          </td>
                          <td>
                            {{ trips.durationTrayect }}
                          </td>
                          <td>
                            {{ trips.date_time_departure }}
                          </td>
                          <td>
                            <div
                              *ngIf="!active.Select"
                              class="text-warning cursor-general number-size"
                              (click)="selectedTrip(trips.id)"
                            >
                              <i class="fa fa-square-o"></i>
                            </div>
                            <div
                              *ngIf="active.active"
                              class="text-success cursor-general number-size"
                              (click)="selectedTrip(trips.id)"
                            >
                              <i class="fa fa-check-square-o"></i>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-4">
        <div class="row ">
          <div class="col-12">
            <div class="border-title h5" style="color: rgba(255, 255, 255, 0.81);">
              {{ parseT('pick-up_location') | translate }} *
            </div>
          </div>
          <div class="col-12 col-md-6" *ngIf="formState('city')">
            <label class="titleColor">
              <i class="fa fa-fw fa-globe text-primary-hr"></i>
              {{ parseT('city') | translate }} *
            </label>
            <input type="text" class="form-control" [formControl]="forms.city" />
          </div>
          <div class="col-12 col-md-6" *ngIf="formState('address')">
            <label class="titleColor">
              <i class="fa fa-fw fa-map-marker text-primary-hr"></i>
              {{ parseT('address') | translate }} *
            </label>
            <input type="text" class="form-control" [formControl]="forms.address" />
          </div>
          <div class="col-12 col-md-6 mt-2" *ngIf="formState('phone')">
            <label class="titleColor">
              <i class="fa fa-fw fa-mobile text-primary-hr"></i>
              Telefono de contacto*
            </label>
            <input type="text" class="form-control" [formControl]="forms.phone" />
          </div>
        </div>
      </div>
      <ng-container *ngIf="formRequests.alias == 'TRNT'">
        <div class="col-12 top-containter mt-4">
          <div class="container">
            <div class="row">
              <div class="col-12" *ngFor="let imgsaved of objectImg; let index = index">
                <div class="alert pr-0" style="background-color:rgba(0,0,0,.2) " role="alert">
                  <div class="row cursor-general w-100">
                    <div class="col-auto px-2">{{ index + 1 }}.</div>
                    <div class="col-auto">
                      <i
                        aria-hidden="true"
                        style="font-size: 1.5em; color: white"
                        class="fa fa-fw {{ iconClass(imgsaved.extension) }}"
                      ></i>
                    </div>
                    <div class="col text-truncate">
                      {{ imgsaved.file.name }}
                    </div>
                    <div (click)="deleteUpload(imgsaved)" class="col-auto text-center d-flex align-items-center pl-3">
                      <h6 class="text-primary-hr cursor-general my-auto">
                        x
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 text-left mb-3 mt-4">
          <div class="container-fluid">
            <label *ngIf="objectImg.length == 0" class="titleColor">
              <i class="fa fa-fw fa-paperclip text-primary-hr"></i>
              <strong>{{ 'pages.travel_management.travel.new_travel.attach' | translate }}</strong>
            </label>
            <app-file-upload [drageable]="true" [nameFile]="filequotation" [extensions]="extensions"></app-file-upload>
          </div>
        </div>
      </ng-container>

      <div class="col-md-12 mt-2">
        <div class="row justify-content-end">
          <div class="col-lg-3 col-md-6 col-lg-4 col-12">
            <button
              type="button"
              *ngIf="showSubmit"
              class="btn btn-success btn-block"
              (click)="submitSend()"
              [attr.disabled]="validateForms ? null : true"
            >
              <i class="fa fa-fw fa-floppy-o"></i>{{ parseT('btn_save') | translate }}
            </button>
            <button type="button" *ngIf="!showSubmit" class="btn btn-warning btn-block">
              <i class="fa fa-fw fa-spinner fa-spin"></i>{{ parseT('btn_loading') | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
