<div *ngIf="token">
  <app-error-page-http [objectPage]="objectToken"></app-error-page-http>
</div>

<div *ngIf="!token" class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row align-items-center">
        <div class="col-xl-8 col-md-12 col-12 title">
          <i class="fa fa-sitemap"></i>
          Organigrama
        </div>
      </div>
    </div>
  </div>
  <div class="row-hr-container justify-content-center">
    <div class="col-12  widget bg-white minHeight">
      <div class="row ">
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-xl-6">
              <div class="row">
                <div class="col-2" style="margin-top:10px;">
                  <div class="bg-button-search" (click)="clickSearchIcon()">
                    <div class="text-center cursor-general img-zoom">
                      <i class="fa fa-fw fa-search fa-lg"></i>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-3 col-10 align-items-left searchInput" *ngIf="activateSearch">
                  <div class="workTeam-search animate-bounce  bounceInLeft">
                    <form name="searchAutoComplete">
                      <p>
                        <input id="auto_c" type="text" name="text1" [(ngModel)]="searchByLetter" (keyup)="enterNameEmployee()">
                      </p>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-6  align-items-center" style="padding-top:15px;">
              <div class="row justify-content-center">
                <div class="col-xl-8 col-12  align-items-center" style="text-align:left;">
                  <div>
                    <i class="fa fa-square" style="color:red;"> </i> Superior &nbsp;
                    <i class="fa fa-square" style="color:blue;"></i> Mi posición &nbsp;
                    <i class="fa fa-square" style="color:green;"></i> Subordinados
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-10 col-xl-2 cardEmployee btn-widget position" *ngIf="topEmployee" (click)="showInfoEmployee(topEmployee)">
          <div class="row">
            <div class=" col-12 firstLevel">
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-4" style="padding-top: 10px;">
              <div style="width:60px; height:60px;">
                <img src="{{topEmployee.image.url}}" class="roundPhotoChart">
              </div>
            </div>
            <div class="col-8 text-left">
              {{topEmployee.posicion|slice: 0:30}}
              <span [hidden]="topEmployee.posicion > 30">...</span>
            </div>
          </div>
          <div class="row">
            <div class=" col-12 divisionTop">
              <div class="text-shadow fontSize-chart" style="color:#ffff;">
                <strong>{{topEmployee.short_name}}</strong>
              </div>
              {{topEmployee.email|slice: 0:20}}
              <span [hidden]="topEmployee.email > 30">...</span>

            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center" *ngIf="topEmployee">
        <div class="col-10 col-xl-2 cardEmployee  btn-widget position" *ngFor="let employee of topEmployee.work_team" >
          <div class="row">
            <div class="col-12" (click)='showInfoEmployee(employee)'>
              <div class="row">
                <div class="col-12 secondLevel">
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-4" style="padding-top: 10px;">
                  <div style="width:60px; height:60px;">
                    <img src="{{employee.image.url}}" class="roundPhotoChart">
                  </div>
                </div>
                <div class="col-8 align-items-center">
                  {{employee.posicion|slice: 0:20}}
                  <span [hidden]="employee.posicion > 30">...</span>
                </div>
              </div>
              <div class="row">
                <div class=" col-12 divisionTop">
                  <div class="text-shadow fontSize-chart" style="color:#ffff;">
                    <strong>{{employee.short_name}}</strong>
                  </div>
                  {{employee.email|slice: 0:20}}
                  <span [hidden]="employee.email > 30">...</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center" *ngIf="activeArrowDown && employee.relationship == 111">
            <div class="navigateButton animated infinite flash font-icon m-t-h"  (click)="downLevelTeam(employee)">
              <i class="fa fa-chevron-down " aria-hidden="true"></i>
            </div>
          </div>
          <div class="row justify-content-center" *ngIf="activeArrowUp && flagActivatethirdLevel">
            <div class="col-2">
              <div class="navigateButton animated infinite flash font-icon" style="margin-top:0px !important;" (click)="upLevelTeam()">
                <i class="fa fa-chevron-up"></i>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div *ngIf="topEmployee">
        <div class="row justify-content-center" *ngIf="!flagActivatethirdLevel">
          <div class="row justify-content-center" *ngIf="activeArrowLeft">
            <div class="col-1">
              <div class="navigateButton animated infinite flash font-icon" (click)="goToPreviousPage()">
                <i class="fa fa-chevron-left AjustArrowLeft" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col-10 col-xl-2 cardEmployee btn-widget position" *ngFor="let employee of topEmployee.work_team[0].work_team">
            <div class="row">
              <div class="col-12" (click)='showInfoEmployee(employee)'>
                <div class="row">
                  <div class="col-12 thirdLevel">
                  </div>
                </div>
                <div class="row  align-items-center">
                  <div class="col-4" style="padding-top: 10px;">
                    <div style="width:60px; height:60px;">
                      <img src="{{employee.image.url}}" class="roundPhotoChart">
                    </div>
                  </div>
                  <div class="col-8">
                    {{employee.posicion | slice: 0:20}}
                    <span [hidden]="employee.posicion > 30">...</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 divisionTop">
                    <div class="text-shadow fontSize-chart" style="color:#ffff;">
                      <strong>{{employee.short_name}}</strong>
                    </div>
                    {{employee.email |slice: 0:20}}
                    <span [hidden]="employee.email > 30">...</span>

                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center" *ngIf="activeArrowDown && employee.relationship == 111">
              <div class="col-2 AjustArrowDown">
                <div class="navigateButton animated infinite flash font-icon" style="margin-top:0px !important;" (click)="downLevelTeam(employee)">
                  <i class="fa fa-chevron-down"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-start" *ngIf="activeArrowRight">
            <div class="col-1 ajustArrow">
              <div class="navigateButton animated infinite flash font-icon" (click)="goToNextPage(page)">
                <i class="fa fa-chevron-right " aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row justify-content-center" *ngIf="activeArrowUp">
              <div class="col-2">
                <div class="navigateButton animated infinite flash font-icon" style="margin-top:0px !important;" (click)="upLevelTeam()">
                  <i class="fa fa-chevron-up"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<app-employee-info *ngIf="!token" [nameModal]='name'></app-employee-info>