<div class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row align-items-center">
        <div class="col-xl-8 col-md-12 col-12 title">
          <i class="fa fa-sitemap"></i>
          Organigrama
        </div>
      </div>
    </div>
  </div>
  <div class="row-hr-container justify-content-center">
    <div class="col-12  widget bg-white minHeight">
      <div class="row justify-content-center">
        <div class="col-3 cardEmployee btn-widget position" *ngFor="let employee of topEmployee">
          <div class="row">
            <div class=" drawLine col-12 firstLevel">
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-6" style="padding-top: 30px;">
              <div style="width:55px; height:55px;">
                <img src="../../../assets/themes/patterns/icon-user-negative.png" class="roundPhotoChart">
              </div>
            </div>
            <div class="col-6">
              <span>
                nivel 1
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-2 cardEmployee  btn-widget position" *ngFor="let employee of topEmployee[0].work_team">
          <div class="row">
            <div class="col-12 secondLevel">
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-6" style="padding-top: 30px;">
              <div style="width:55px; height:55px;">
                <img src="../../../assets/themes/patterns/icon-user-negative.png" class="roundPhotoChart">
              </div>
            </div>
            <div class="col-6">
              <span>
                nivel 2
              </span>
            </div>
          </div>
          <div class="row justify-content-center" *ngIf="employee.total_work_team && !flag">         
              <div class="navigateButton"  (click)="downLevelTeam(employee)">
                <i class="fa fa-angle-double-down downAnimation"></i>
              </div>            
          </div>
        </div>
      </div>
      <div class="row justify-content-center" *ngIf="flag">
        <div class="col-2 cardEmployee btn-widget position" *ngFor="let employee of topEmployee[0].work_team[0].work_team">
          <div class="row">
            <div class="col-12 thirdLevel">
            </div>
          </div>
          <div class="row">
            <div class="col-6" style="padding-top: 30px;">
              <div style="width:55px; height:55px;">
                <img src="../../../assets/themes/patterns/icon-user-negative.png" class="roundPhotoChart">
              </div>
            </div>
            <div class="col-6">
              <span>
                nivel 3
              </span>
            </div>
          </div>
        </div>
        <div class="col-12">
            <div class="row justify-content-center" > 
              <div class="col-2">
                <div class="navigateButton" style="margin-top:0px !important;" (click)="upLevelTeam()">
                  <i class="fa fa-angle-double-up downAnimation"></i>
                </div>        
              </div>        
            </div>
          <!-- <div class="row justify-content-center">
            <div class="col-2">
              <div class="btn btn-sm btn-block btn-success" (click)="upLevelTeam()">
                <i class="fa fa-angle-double-up"></i>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>