<div *ngIf="token">
  <app-error-page-http [objectPage]="objectToken"></app-error-page-http>
</div>

<div *ngIf="!token" class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row">
        <div class="col-xl-10 col-md-8 col-7 title">
          <i class="fa fa-bus"></i>
          Gestión de flotas vehiculares
        </div>
        <div class="col-xl-2 col-md-4 col-5 text-center cursor-general" style="padding-right: 0px">
          <div class="buttonBack img-zoom" (click)="returnBack()">
            <div class="padding-back">
              <i class="fa fa-fw fa-sign-in fa-rotate-180 fa-lg"></i>
              <span>
                Atras
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-hr-container justify-content-center">
    <div class="col-12  widget bg-white minHeight">
      <div class="row justify-content-center top-containter">
        <div class="col-lg-4 col-12">
          <div class="row" style="margin-top: 10px">
            <div class="col-12">
              <button id="btn-newFleets" type="button" class="btn tabDate btn-block">
                <i class="fa fa-plus">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
                Crear nueva flota vehicular
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- begin filters -->
      <div class="border-botton-general">
        <div class="row top-containter">
          <div class="col-xl-4 col-lg-4 col-12 text-left">
            <b>
              Filtros de consulta
            </b>
            <i *ngIf="!is_collapse" class="fa fa-fw icon-collapse fa-plus fa-1x cursor-general" data-toggle="collapse" data-target="#collapseFilter"
              aria-expanded="false" (click)="collapse(true)"></i>
            <i *ngIf="is_collapse" class="fa fa-fw icon-collapse fa-minus fa-1x cursor-general" data-toggle="collapse" data-target="#collapseFilter"
              aria-expanded="false" (click)="collapse(false)"></i>
          </div>
        </div>
      </div>

      <div class="collapse top-general-p border-botton-general" id="collapseFilter">
        <div class="row align-items-center">
          <div class="col-lg-3 col-md-4 col-12" style="padding-bottom: 15px">
            <label>Destino</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-lg-2 col-md-4 col-12" style="padding-bottom: 15px">
            <label>Ticket</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-lg-2 col-md-4 col-12" style="padding-bottom: 15px">
            <label>Placa</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-lg-2 col-md-4 col-12" style="padding-bottom: 15px">
            <label>Estado</label>
            <select class="form-control">
              <option>Disponible</option>
              <option>Cerrado</option>
            </select>
          </div>
          <div class="col-lg-3 col-md-12 col-12">
            <div class="btn btn-block btn-primary-second fontDate" style="cursor: no-drop">
              <i class="fa fa-search-plus"></i>
              Consultar
            </div>
          </div>
        </div>
      </div>
      <!-- end filters -->

      <div class="row justify-content-center top-containter">
        <div class="col-12" *ngIf="fleets.length > 0">
          <div class="widget bg-white-1x" *ngFor="let logistics of fleets;">
            <div class="row align-items-center">
              <div class="col-lg-2 col-md-4 col-12">
                <h5>
                  <span class="badge badge-warning">
                    Ticket # {{logistics.id}}
                  </span>
                </h5>
              </div>
              <div class="col-lg-2 col-md-4 col-12 text-xl-left text-lg-center text-center top-p">
                <h3 class="font-color-default">
                  <div class="display-block">
                    {{logistics.destiny}}
                  </div>
                  <div class="display-block">
                    {{logistics.plate}}
                  </div>
                </h3>
              </div>
              <div class="col-lg-1 col-md-4 col-12 text-md-left text-center top-p">
                <p class="font-title-general">
                  Estado:
                </p>
                <h6 *ngIf="logistics.is_avalable">
                  <span class="badge badge-primary">
                    Disponible
                  </span>
                </h6>
                <h6 *ngIf="!logistics.is_avalable">
                  <span class="badge badge-danger">
                    Cerrado
                  </span>
                </h6>
              </div>
              <div class="col-lg-4 col-md-6 col-12 text-md-left text-center">
                <div class="row tex">
                  <div class="col-lg-4 col-md-4 col-12 text-md-left">
                    <h5>
                      <p class="text-center"> Total asientos</p>
                    </h5>
                    <p class="font-title-general text-center">
                      {{logistics.total_chairs}}
                    </p>
                  </div>
                  <div class="col-lg-4 col-md-4 col-12 text-md-left">
                    <h5>
                      <p class="text-center"> Asientos asignados</p>
                    </h5>
                    <p class="font-title-general text-center">
                      {{logistics.assigned_spaces}}
                    </p>
                  </div>
                  <div class="col-lg-4 col-md-4 col-12 text-md-left">
                    <h5>
                      <p class="text-center"> Asientos disponibles</p>
                    </h5>
                    <p class="font-title-general text-center">
                      {{logistics.available_spaces}}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-12 text-md-left text-center top-p">
                <div class="row">
                  <div class="col-4 number-size text-center top-p" *ngIf="logistics.action_tranportation_index_view[0].is_active">
                    <div class="row justify-content-center">
                      <div class="col-12 text-success number-size" id="hideTrash" style="cursor: pointer">
                        <i class="fa fa-eye" aria-hidden="true" style="font-size:2em"></i>
                      </div>
                      <div class="col-12">
                        Ver
                      </div>
                    </div>
                  </div>
                  <div class="col-4 number-size text-center top-p" *ngIf="!logistics.action_tranportation_index_view[0].is_active">
                    <div class="row justify-content-center">
                      <div class="col-12 number-size" id="hideTrash" style="cursor: no-drop">
                        <i class="fa fa-eye" aria-hidden="true" style="font-size:2em"></i>
                      </div>
                      <div class="col-12">
                        Ver
                      </div>
                    </div>
                  </div>
                  <div class="col-4 number-size text-center top-p" *ngIf="logistics.action_tranportation_index_view[2].is_active">
                    <div class="row justify-content-center">
                      <div class="col-12 number-size text-info" id="hideTrash" style="cursor: pointer">
                        <i class="fa fa-pencil" aria-hidden="true" style="font-size:2em"></i>
                      </div>
                      <div class="col-12">
                        Editar
                      </div>
                    </div>

                  </div>
                  <div class="col-4 number-size text-center top-p" *ngIf="!logistics.action_tranportation_index_view[2].is_active">
                    <div class="row justify-content-center">
                      <div class="col-12 number-size " id="hideTrash" style="cursor: no-drop">
                        <i class="fa fa-pencil" aria-hidden="true" style="font-size:2em"></i>
                      </div>
                      <div class="col-12">
                        Editar
                      </div>
                    </div>
                  </div>
                  <div class="col-4 number-size text-center top-p" *ngIf="logistics.action_tranportation_index_view[1].is_active">
                    <div class="row justify-content-center">
                      <div class="col-12 number-size text-danger" id="hideTrash" style="cursor: pointer">
                        <i class="fa fa-trash" aria-hidden="true" style="font-size:2em"></i>
                      </div>
                      <div class="col-12">
                        Borrar
                      </div>
                    </div>
                  </div>
                  <div class="col-4 number-size text-center top-p" *ngIf="!logistics.action_tranportation_index_view[1].is_active">
                    <div class="row justify-content-center">
                      <div class="col-12 number-size" id="hideTrash" style="cursor: no-drop">
                        <i class="fa fa-trash" aria-hidden="true" style="font-size:2em"></i>
                      </div>
                      <div class="col-12">
                        Borrar
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>