<div class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row">
        <div class="col-xl-10 col-md-8 col-7 title">
          <i class="fa fa-bus"></i>
          {{ parseT('transportation_management') | translate }}
        </div>
        <div class="col-xl-2 col-md-4 col-5 text-center cursor-general" style="padding-right: 0px">
          <div class="buttonBack img-zoom" (click)="returnBack()">
            <div class="padding-back">
              <i class="fa fa-fw fa-sign-in fa-rotate-180 fa-lg"></i>
              <span>
                {{ parseT('back') | translate }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-hr-container justify-content-center">
    <div class="col-12  widget bg-white minHeight">
      <div class="row justify-content-center top-containter">
        <div class="col-lg-4 col-12">
          <div class="row" style="margin-top: 10px">
            <div class="col-12">
              <button (click)="modalForm.next({ open: true, isNew: true })" type="button" class="btn tabDate btn-block">
                <i class="fa fa-plus">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
                {{ parseT('new_transport') | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- begin filters -->
      <div class="border-botton-general">
        <div class="row top-containter">
          <div class="col-xl-4 col-lg-4 col-12 text-left">
            <b>
              {{ parseT('query_filters') | translate }}
            </b>
            <i
              *ngIf="!is_collapse"
              class="fa fa-fw icon-collapse fa-plus fa-1x cursor-general"
              data-toggle="collapse"
              data-target="#collapseFilter"
              aria-expanded="false"
              (click)="collapse(true)"
            ></i>
            <i
              *ngIf="is_collapse"
              class="fa fa-fw icon-collapse fa-minus fa-1x cursor-general"
              data-toggle="collapse"
              data-target="#collapseFilter"
              aria-expanded="false"
              (click)="collapse(false)"
            ></i>
          </div>
        </div>
      </div>

      <div class="collapse top-general-p border-botton-general" id="collapseFilter">
        <div class="row align-items-center">
          <div class="col-lg-3 col-md-4 col-12" style="padding-bottom: 15px">
            <label>{{ parseT('destiny') | translate }}</label>
            <input type="text" class="form-control" />
          </div>
          <div class="col-lg-2 col-md-4 col-12" style="padding-bottom: 15px">
            <label>{{ parseT('ticket') | translate }}</label>
            <input type="text" class="form-control" />
          </div>
          <div class="col-lg-2 col-md-4 col-12" style="padding-bottom: 15px">
            <label>{{ parseT('plate') | translate }}</label>
            <input type="text" class="form-control" />
          </div>
          <div class="col-lg-2 col-md-4 col-12" style="padding-bottom: 15px">
            <label>{{ parseT('state') | translate }}</label>
            <select class="form-control">
              <option>{{ parseT('available') | translate }}</option>
              <option>{{ parseT('close') | translate }}</option>
            </select>
          </div>
          <div class="col-lg-3 col-md-12 col-12">
            <div class="btn btn-block btn-primary-second fontDate" style="cursor: no-drop">
              <i class="fa fa-search-plus"></i>
              {{ parseT('consult') | translate }}
            </div>
          </div>
        </div>
      </div>
      <!-- end filters -->

      <div class="row justify-content-center top-containter">
        <div class="col-12" *ngIf="fleets.length > 0">
          <div class="widget bg-white-1x" *ngFor="let fleet of fleets">
            <div class="row align-items-center">
              <div class="col-lg-2 col-md-4 col-12">
                <h5>
                  <span class="badge badge-warning"> {{ parseT('ticket') | translate }} # {{ fleet.id }} </span>
                </h5>
              </div>
              <div class="col-lg-2 col-md-4 col-12 text-xl-left text-lg-center text-center top-p">
                <h3 class="font-color-default">
                  <div class="display-block">
                    {{ fleet.destiny }}
                  </div>
                  <div class="display-block">
                    {{ fleet.plate }}
                  </div>
                </h3>
              </div>
              <div class="col-lg-1 col-md-4 col-12 text-md-left text-center top-p">
                <p class="font-title-general">{{ parseT('state') | translate }}:</p>
                <h6 *ngIf="fleet.is_avalable">
                  <span class="badge badge-primary">
                    {{ parseT('available') | translate }}
                  </span>
                </h6>
                <h6 *ngIf="!fleet.is_avalable">
                  <span class="badge badge-danger">
                    {{ parseT('close') | translate }}
                  </span>
                </h6>
              </div>
              <div class="col-lg-4 col-md-6 col-12 text-md-left text-center">
                <div class="row tex">
                  <div class="col-lg-4 col-md-4 col-12 text-md-left">
                    <h5>
                      <p class="text-center">{{ parseT('total_seats') | translate }}</p>
                    </h5>
                    <p class="font-title-general text-center">
                      {{ fleet.total_seats }}
                    </p>
                  </div>
                  <div class="col-lg-4 col-md-4 col-12 text-md-left">
                    <h5>
                      <p class="text-center">{{ parseT('busy_seats') | translate }}</p>
                    </h5>
                    <p class="font-title-general text-center">
                      {{ fleet.assigned_seats }}
                    </p>
                  </div>
                  <div class="col-lg-4 col-md-4 col-12 text-md-left">
                    <h5>
                      <p class="text-center">{{ parseT('available_seats') | translate }}</p>
                    </h5>
                    <p class="font-title-general text-center">
                      {{ fleet.available_seats }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-12 text-md-left text-center top-p">
                <div class="row">
                  <div class="col-4 number-size text-center top-p">
                    <div
                      class="row justify-content-center"
                      (click)="activeState(fleet, 'watch') ? seeFleets(fleet) : undefined"
                      [style.cursor]="styleCursorT(fleet, 'watch')"
                    >
                      <div
                        class="col-12 text-success number-size"
                        id="see"
                        [ngClass]="{
                          'text-success': activeState(fleet, 'watch')
                        }"
                      >
                        <i class="fa fa-eye" aria-hidden="true" style="font-size:2em"></i>
                      </div>
                      <div class="col-12">
                        {{ parseT('btn_see') | translate }}
                      </div>
                    </div>
                  </div>
                  <div class="col-4 number-size text-center top-p">
                    <div
                      class="row justify-content-center"
                      (click)="activeState(fleet, 'edit') ? editFleets(fleet) : undefined"
                      [style.cursor]="styleCursorT(fleet, 'edit')"
                    >
                      <div
                        class="col-12 number-size text-info"
                        id="editPencil"
                        [ngClass]="{
                          'text-info': activeState(fleet, 'edit')
                        }"
                      >
                        <i class="fa fa-pencil" aria-hidden="true" style="font-size:2em"></i>
                      </div>
                      <div class="col-12">
                        {{ parseT('btn_edit') | translate }}
                      </div>
                    </div>
                  </div>
                  <div class="col-4 number-size text-center top-p">
                    <div
                      class="row justify-content-center"
                      (click)="activeState(fleet, 'delete') ? deleteFleets(fleet.id) : undefined"
                      [style.cursor]="styleCursorT(fleet, 'delete')"
                    >
                      <div
                        class="col-12 number-size text-danger"
                        id="erase"
                        [ngClass]="{
                          'text-danger': activeState(fleet, 'delete')
                        }"
                      >
                        <i class="fa fa-trash" aria-hidden="true" style="font-size:2em"></i>
                      </div>
                      <div class="col-12">
                        {{ parseT('btn_erase') | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center top-containter" *ngIf="fleets.length == 0">
        <div class="alert alert-warning text-center col-10" role="alert">
          No existen flotas creadas
        </div>
      </div>
    </div>
  </div>
</div>
<app-new-transport [modalForm]="modalForm.asObservable()"></app-new-transport>
