<div class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row">
        <div class="col-xl-10 col-md-8 col-7 title">
          <i class="fa fa-home"></i>
          {{ parseT('tittle') | translate }}
        </div>
        <div class="col-xl-2 col-md-4 col-5 text-center cursor-general" style="padding-right: 0px">
          <div class="buttonBack img-zoom" (click)="returnBackHousing()">
            <div class="padding-back">
              <i class="fa fa-fw fa-sign-in fa-rotate-180 fa-lg"></i>
              <span>
                {{ parseT('back') | translate }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-hr-container justify-content-center">
    <div class="col-12  widget bg-white minHeight">
      <div class="row justify-content-center top-containter">
        <div class="col-lg-4 col-12">
          <div class="row" style="margin-top: 10px">
            <div class="col-12">
              <button (click)="modalForm.next({ open: true, isNew: true })" type="button" class="btn tabDate btn-block">
                <i class="fa fa-plus">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
                {{ parseT('new_housing') | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- begin filters -->
      <div class="border-botton-general">
        <div class="row top-containter">
          <div class="col-xl-4 col-lg-4 col-12 text-left">
            <b>
              {{ parseT('query_filters') | translate }}
            </b>
            <i
              *ngIf="!is_collapse"
              class="fa fa-fw icon-collapse fa-plus fa-1x cursor-general"
              data-toggle="collapse"
              data-target="#collapseFilter"
              aria-expanded="false"
              (click)="collapse(true)"
            ></i>
            <i
              *ngIf="is_collapse"
              class="fa fa-fw icon-collapse fa-minus fa-1x cursor-general"
              data-toggle="collapse"
              data-target="#collapseFilter"
              aria-expanded="false"
              (click)="collapse(false)"
            ></i>
          </div>
        </div>
      </div>

      <div class="collapse top-general-p border-botton-general" id="collapseFilter">
        <div class="row align-items-center">
          <div class="col-lg-4 col-md-4 col-12" style="padding-bottom: 15px">
            <label>{{ parseT('name') | translate }}</label>
            <input type="text" class="form-control" />
          </div>
          <div class="col-lg-4 col-md-4 col-12" style="padding-bottom: 15px">
            <label>{{ parseT('ticket') | translate }}</label>
            <input type="text" class="form-control" />
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <div class="btn btn-block btn-primary-second fontDate" style="cursor: no-drop">
              <i class="fa fa-search-plus"></i>
              {{ parseT('consult') | translate }}
            </div>
          </div>
        </div>
      </div>
      <!-- end filters -->

      <div class="row justify-content-center top-containter">
        <div class="col-12" *ngIf="housings.length > 0">
          <div class="widget bg-white-1x" *ngFor="let housing of housings">
            <div class="row align-items-center">
              <div class="col-lg-2 col-md-1 col-12">
                <h5>
                  <span class="badge badge-warning"> {{ parseT('ticket') | translate }} # {{ housing.id }} </span>
                </h5>
              </div>
              <div class="col-lg-2 col-md-2 col-12 text-xl-left text-lg-center text-center top-p">
                <h3 class="font-color-default">
                  <div class="display-block">
                    {{ housing.name }}
                  </div>
                </h3>
              </div>
              <div class="col-lg-5 col-md-12 col-12 text-md-left text-center">
                <div class="row tex">
                  <div class="col-lg-3 col-md-3 col-12 text-md-left">
                    <h5>
                      <p class="text-center">{{ parseT('total_spaces') | translate }}</p>
                    </h5>
                    <p class="font-title-general text-center">
                      {{ housing.total_beds }}
                    </p>
                  </div>
                  <div class="col-lg-3 col-md-3 col-12 text-md-left">
                    <h5>
                      <p class="text-center">{{ parseT('occupied_spaces') | translate }}</p>
                    </h5>
                    <p class="font-title-general text-center">
                      {{ housing.busy_beds }}
                    </p>
                  </div>
                  <div class="col-lg-3 col-md-3 col-12 text-md-left">
                    <h5>
                      <p class="text-center">{{ parseT('available_spaces') | translate }}</p>
                    </h5>
                    <p class="font-title-general text-center">
                      {{ housing.available_beds }}
                    </p>
                  </div>
                </div>
              </div>
              <!-- <div class="col-lg-3 col-md-5 col-12 text-md-left text-center top-p">
                <div class="row">
                  <div class="col-4 number-size text-center top-p">
                    <div
                      class="row justify-content-center"
                      (click)="activeState(housing, 'watch') ? watchHousing(housing) : undefined"
                      [style.cursor]="styleCursor(housing, 'watch')"
                    >
                      <div
                        class="col-12 text-success number-size"
                        id="hideTrash"
                        [ngClass]="{
                          'text-success': activeState(housing, 'watch')
                        }"
                      >
                        <i class="fa fa-eye" aria-hidden="true" style="font-size:2em"></i>
                      </div>
                      <div class="col-12">
                        {{ parseT('see') | translate }}
                      </div>
                    </div>
                  </div>
                  <div class="col-4 number-size text-center top-p">
                    <div
                      class="row justify-content-center"
                      (click)="activeState(housing, 'edit') ? editHousing(housing) : undefined"
                      [style.cursor]="styleCursor(housing, 'edit')"
                    >
                      <div
                        class="col-12 number-size"
                        id="hideTrash"
                        [ngClass]="{
                          'text-info': activeState(housing, 'edit')
                        }"
                      >
                        <i class="fa fa-pencil" aria-hidden="true" style="font-size:2em"></i>
                      </div>
                      <div class="col-12">
                        {{ parseT('edit') | translate }}
                      </div>
                    </div>
                  </div>
                  <div class="col-4 number-size text-center top-p">
                    <div
                      class="row justify-content-center"
                      (click)="activeState(housing, 'delete') ? deleteHousing(housing.id) : undefined"
                      [style.cursor]="styleCursor(housing, 'delete')"
                    >
                      <div
                        class="col-12 number-size"
                        id="hideTrash"
                        [ngClass]="{
                          'text-danger': activeState(housing, 'delete')
                        }"
                      >
                        <i class="fa fa-trash" aria-hidden="true" style="font-size:2em"></i>
                      </div>
                      <div class="col-12">
                        {{ parseT('delete') | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center top-containter" *ngIf="housings.length == 0">
        <div class="alert alert-warning text-center col-10" role="alert">
          No existen alojamientos creados
        </div>
      </div>
    </div>
  </div>
</div>
<app-new-housing [modalForm]="modalForm.asObservable()" (formServiceChild)="formServicePather($event)"></app-new-housing>
