<div class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-xl-10 col-md-8 col-7 title">
          <i class="fa fa-bar-chart"></i>
          Indicadores demograficos
        </div>
        <div class="col-xl-2 col-md-4 col-5 text-center cursor-general" style="padding-right: 0px">
          <div class="buttonBack img-zoom" (click)="returnDahsboardGerencial()">
            <div class="padding-back">
              <i class="fa fa-fw fa-sign-in fa-rotate-180 fa-lg"></i>
              <span>
                Atras
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="widget wg-hover-general wg-hover-bg navy-bg bg-white"></div>
      </div>
      <div class="col-6">
        <div class="widget wg-hover-general wg-hover-bg navy-bg bg-white"></div>
      </div>
      <div class="col-6">
        <div class="widget wg-hover-general wg-hover-bg navy-bg bg-white"></div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="position-relative">
          <div class="widget navy-bg bg-white d-flex flex-column">
            <div>
              <h3 class="row">
                <div class="align-items-center col-auto d-flex">
                  Somos más los que tenemos
                </div>
                <div class="col">
                  <div class="row justify-content-between">
                    <div class="align-items-center col-auto d-flex">
                      <i class="icon-children color-primary mx-2" style="font-size: 5rem"></i>
                      <h4>4 Hijos</h4>
                    </div>
                  </div>
                </div>
              </h3>
            </div>
            <app-children style="height: 200px;width: 100%"></app-children>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="widget wg-hover-general wg-hover-bg navy-bg bg-white"></div>
      </div>
    </div>
  </div>
</div>
