<div class="heigth-content-general">
    <div class="row-hr-container">
      <div class="col-12">
        <div class="row align-items-center">
          <div class="col-xl-8 col-md-12 col-12 title">
            <i class="fa fa-file-pdf-o"></i>
           Certificado de Ingresos y Retenciones 
          </div>
        </div>
      </div>
    </div>
    <div class="row-hr-container justify-content-center">
        <div class="col-12  widget bg-white minHeight">
            <div class="row justify-content-center top-containter" *ngIf="flagEmpty">
                <div class="col-lg-8 col-12 text-center" style="min-height: 370px;">
                  <div class="alert alert-warning" role="alert">
                    No hay certificado de
                    <strong>Ingresos y retenciones</strong>&nbsp;para el empleado
                  </div>
                </div>
              </div>
            <div class="row">
                <div class="col-3">           
                  <div *ngFor="let certificate of incomingCertificate" (click)="selectedObject(certificate)">
                    <div class="row">
                      <div class="col-10 cursor-general tabDate">
                          <i class="fa fa-file-pdf-o"></i>
                        {{certificate.pdf_type_ident}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-9"  *ngIf="!flagEmpty" > 
                  <iframe id="frameAutoService" [src]='sanitizer.bypassSecurityTrustResourceUrl(urlPDF)' style="width:100%;height:1000px;"></iframe>    
                </div>
              </div>
        </div>
      </div>
  </div>