<ng-template #observation_request>
  <label for="celulaInput" class="titleColor">
    <i class="fa fa-fw fa-comment text-primary-hr"></i>
    {{ parseT('observation') | translate }}
  </label>
  <textarea
    type="text"
    rows="3"
    style="height: auto !important;"
    name="observation_request"
    class="form-control"
    [formControl]="forms.controls['observation_request']"
  ></textarea>
</ng-template>
<ng-template #days_available>
  <span class="fa-stack " style="height: 53px; font-size: 2.7em;">
    <i
      class="fa fa-globe fa-stack-2x text-blue"
      style="margin-top:-10px"
    ></i>
    <i class="fa fa-plane fa-stack-1x text-origin"></i>
  </span>
  <h1 class="m-xs top-form">
    {{ formRequests.available_days }}
  </h1>
  <h3
    *ngIf="formRequests.available_days != 1"
    class="font-bold m-l-n top-form text-blue"
    style="margin-right: -20px"
  >
    {{ parseT('days_available') | translate }}
  </h3>
  <h3
    *ngIf="formRequests.available_days == 1"
    class="font-bold m-l-n top-form text-blue"
    style="margin-right: -20px"
  >
    {{ parseT('day_available') | translate }}
  </h3>
</ng-template>
<ng-template #date_begin>
  <label for="dateBegin" class="titleColor">
    <i class="fa fa-fw fa-calendar text-primary-hr"></i>
    {{ parseT('date_begin') | translate }}
    *
  </label>
  <input
    type="date"
    name="date_begin"
    class="form-control"
    [formControl]="forms.controls['date_begin']"
    placeholder="dd/mm/yyyy"
  />
</ng-template>
<ng-template #date_end>
  <label for="dateEnd" class="titleColor">
    <i class="fa fa-fw fa-calendar text-primary-hr"></i>
    {{ parseT('date_end') | translate }}
    *
  </label>
  <input
    type="date"
    name="date_end"
    class="form-control"
    [formControl]="forms.controls['date_end']"
    placeholder="dd/mm/yyyy"
  />
</ng-template>

<ng-template
  #modalForms
  let-modal
  ng-init="typeCase = formRequests.id_activity"
>
  <div
    class="modal-content"
    [ngClass]="{ 'd-none': modalState === false }"
    *ngIf="formRequests != null"
  >
    <div
      class="modal-header borderLine-title row-hr justify-content-center"
    >
      <div class="col-12 col-lg-10 text-center text-lg-left">
        <h4 class="modal-title titleColor text-shadow">
          {{ parseT('tittle') | translate }}
          {{ formRequests.name | lowercase }}
        </h4>
      </div>
    </div>
    <div class="modal-body font-controls-login">
      <form [formGroup]="forms" (ngSubmit)="newRequest(forms.value)">
        <div class="row">
          <div class="col-12" *ngIf="formState('days_available')">
            <div
              class="widget bg-white top-containter"
              style="margin-top: 0px !important"
            >
              <div class="col align-self-center">
                <ng-template
                  [ngTemplateOutlet]="days_available"
                ></ng-template>
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="
            formRequests.id_activity == 'VACA' ||
            formRequests.id_activity == 'VITD'
          "
          class="row justify-content-center"
        >
          <ng-container *ngIf="formRequests.available_days !== 0">
            <div
              class="col-md-6 col-12 top-containter"
              *ngIf="formState('date_begin')"
            >
              <ng-template
                [ngTemplateOutlet]="date_begin"
              ></ng-template>
            </div>
            <div
              class="col-md-6 col-12 top-containter"
              *ngIf="formState('date_end')"
            >
              <ng-template
                [ngTemplateOutlet]="date_end"
              ></ng-template>
            </div>
          </ng-container>
        </div>
        <div
          *ngIf="formRequests.id_activity == 'VCCP'"
          class="row justify-content-center"
        >
          <ng-container *ngIf="formRequests.available_days != 0">
            <div
              class="col-12 top-containter"
              *ngIf="formState('days_request')"
            >
              <label for="dateBegin" class="titleColor">
                <i class="fa fa-fw fa-hashtag text-primary-hr"></i>
                {{ parseT('day_required') | translate }}
                *
              </label>
              <input
                type="number"
                name="days_request"
                min="0"
                class="form-control"
                [(ngModel)]="detectLetter"
                (keyup)="noAcceptMinus()"
                [formControl]="forms.controls['days_request']"
              />
            </div>
          </ng-container>
        </div>
        <div>
          <app-form-benefist
            *ngIf="
              ['AUX2_1', 'AUX1_2', 'AUX2_2', 'AUX1_3'].includes(
                formRequests.form
              )
                ? true
                : false
            "
            [formRequests]="formRequests"
            (submit)="newRequest($event)"
            [showSubmit]="showSubmit"
            (setModalState)="setModalState($event)"
          >
          </app-form-benefist>
        </div>
        <div>
          <app-form-transportation
            *ngIf="
              ['TRANS', 'TRANS_BEN', 'TRANS_TER'].includes(
                formRequests.id_activity
              )
                ? true
                : false
            "
            [formRequests]="formRequests"
            (submit)="newRequest($event)"
            [showSubmit]="showSubmit"
            (setModalState)="setModalState($event)"
          >
          </app-form-transportation>
        </div>
        <div>
          <app-form-housing
            *ngIf="
              ['HOUS', 'HOUSING_THIRD'].includes(formRequests.id_activity)
                ? true
                : false
            "
            [formRequests]="formRequests"
            (submit)="newRequest($event)"
            [showSubmit]="showSubmit"
            (setModalState)="setModalState($event)"
          >
          </app-form-housing>
        </div>
        <div>
          <app-lenses-auxilium
            *ngIf="
              ['AUX1_1'].includes(formRequests.form)
                ? true
                : false
            "
            [formRequests]="formRequests"
            (submit)="newRequest($event)"
            [showSubmit]="showSubmit"
            (setModalState)="setModalState($event)"
          >
          </app-lenses-auxilium>
        </div>
        <div
          *ngIf="formRequests.id_activity == 'PERM'"
          class="row justify-content-left"
        >
          <div
            class="col-md-6 col-12 top-containter"
            *ngIf="formState('date_begin')"
          >
            <ng-template
              [ngTemplateOutlet]="date_begin"
            ></ng-template>
          </div>
          <div
            class="col-md-6 col-12 top-containter"
            *ngIf="formState('date_end')"
          >
            <ng-template [ngTemplateOutlet]="date_end"></ng-template>
          </div>
          <div class="col-md-12 col-12 top-containter">
            <label for="dateEnd" class="titleColor">
              <i class="fa fa-fw fa-paperclip text-primary-hr"></i>
              {{ parseT('message_attach') | translate }}*
            </label>
            <app-file-upload
              [nameFile]="filePermisionMarriage"
              [extensions]="extensions"
            ></app-file-upload>
          </div>
        </div>
        <div
          *ngIf="formRequests.id_activity == 'PRSC'"
          class="row justify-content-center"
        >
          <div class="col-12">
            <div class="row">
              <div
                class="col-12 top-containter"
                [ngClass]="{ 'col-md-6': showDate }"
                *ngIf="formState('date_begin')"
              >
                <label for="dateBegin" class="titleColor">
                  <i class="fa fa-fw fa-calendar text-primary-hr"></i>
                  {{ parseT('date_begin') | translate }}
                  *
                </label>
                <input
                  type="date"
                  name="date_begin"
                  class="form-control"
                  [formControl]="forms.controls['date_begin']"
                  placeholder="dd/mm/yyyy"
                  (blur)="calculateDay()"
                />
              </div>
              <div
                *ngIf="showDate && formState('date_end')"
                class="col-md-6 col-12 top-containter"
              >
                <label for="dateEnd" class="titleColor">
                  <i class="fa fa-fw fa-calendar text-primary-hr"></i>
                  {{ parseT('date_end') | translate }}*
                </label>
                <input
                  type="date"
                  name="date_end"
                  class="form-control"
                  [formControl]="forms.controls['date_end']"
                  placeholder="dd/mm/yyyy"
                  (blur)="calculateDay()"
                />
              </div>
            </div>
            <div class="row">
              <div
                *ngIf="showTime && formState('start_time')"
                class="col-md-6 col-12 top-containter"
              >
                <label for="startTime" class="titleColor">
                  <i
                    class="fa fa-fw fa-hourglass-start text-primary-hr"
                  ></i>
                  {{ parseT('hour_begin') | translate }}
                  *
                </label>
                <input
                  type="time"
                  name="start_time"
                  class="form-control"
                  [formControl]="forms.controls['start_time']"
                  placeholder="HH-MM am/pm"
                />
              </div>

              <div
                *ngIf="showTime && formState('end_time')"
                class="col-md-6 col-12 top-containter"
              >
                <label for="endTime" class="titleColor">
                  <i
                    class="fa fa-fw fa-hourglass-end text-primary-hr"
                  ></i>
                  {{ parseT('hour_end') | translate }}*
                </label>
                <input
                  type="time"
                  name="end_time"
                  class="form-control"
                  [formControl]="forms.controls['end_time']"
                  placeholder="HH-MM am/pm"
                />
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="formRequests.id_activity == 'INCA'"
          class="row justify-content-left"
        >
          <div class="col-12 col-lg-12">
            <div
              class="col-md-6 col-12 top-containter"
              *ngIf="formState('date_begin')"
            >
              <ng-template
                [ngTemplateOutlet]="date_begin"
              ></ng-template>
            </div>
            <div
              class="col-md-6 col-12 top-containter"
              *ngIf="formState('date_end')"
            >
              <ng-template
                [ngTemplateOutlet]="date_end"
              ></ng-template>
            </div>
            <div class="col-md-12 col-12 top-containter">
              <label for="dateEnd" class="titleColor">
                <i class="fa fa-fw fa-paperclip text-primary-hr"></i>
                {{ parseT('message_attach') | translate }}*
              </label>
              <app-file-upload
                [nameFile]="fileInability"
                [extensions]="extensions"
              ></app-file-upload>
            </div>
          </div>
        </div>
        <app-alerts></app-alerts>
        <div
          class="row"
          *ngIf="
            [
              'AUX2_1',
              'AUX1_2',
              'AUX2_2',
              'AUX1_3',
              'TRANS',
              'TRANS_BEN',
              'TRANS_TER',
              'HOUS',
              'HOUSING_THIRD',
              'AUX1_1'
            ].includes(formRequests.form)
              ? false
              : true
          "
        >
          <div
            class="col-md-12 col-12 top-containter"
            *ngIf="formState('observation_request')"
          >
            <ng-template
              [ngTemplateOutlet]="observation_request"
            ></ng-template>
          </div>
          <div class="col-md-12 top-containter">
            <div class="row justify-content-end">
              <div class="col-lg-3 col-md-4 col-12">
                <button
                  type="submit"
                  *ngIf="showSubmit"
                  class="btn btn-success btn-block"
                  [attr.disabled]="validateForms ? null : true"
                >
                  <i class="fa fa-fw fa-floppy-o"></i
                  >{{ parseT('save') | translate }}
                </button>
                <button
                  type="button"
                  *ngIf="!showSubmit"
                  class="btn btn-warning btn-block"
                >
                  <i class="fa fa-fw fa-spinner fa-spin"></i
                  >{{ parseT('loading') | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footerInfo justify-content-center">
      <div
        class="buttonCloseRequest buttonCloseEmployee btn-close-modals text-center"
        (click)="modalActions.close()"
      >
        <h6>
          {{ parseT('button_close') | translate }}
        </h6>
      </div>
    </div>
  </div>
</ng-template>
