<div *ngIf="token">
  <app-error-page-http [objectPage]="objectToken"></app-error-page-http>
</div>

<div *ngIf="!token" class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row align-items-center">
        <div class="col-xl-8 col-md-12 col-12 title">
          <i class="fa fa-line-chart"></i>
          Menú de gestión de viajes
        </div>
      </div>
    </div>
  </div>
  <div class="row-hr-container justify-content-left">
    <div class="col-12">
      <div class="row justify-content-left">
        <div class="col-md-2 col-12" style="margin-left: -15px;" *ngFor="let button of buttonInfo">
          <div class="widget-travel bg-white height-notification-travel cursor-general" routerLink="{{button.route}}">
            <div class="row justify-content-center">
              <div class="col-12 fontName top-general-p" style="font-size: 18px;">
                <div class="row">
                  <div class="col-12">
                    {{button.title}}
                  </div>
                  <div class="col-12">
                    <img src="{{button.image.url}}" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>