<div *ngIf="token">
  <app-error-page-http [objectPage]="objectToken"></app-error-page-http>
</div>

<div *ngIf="!token" class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row align-items-center">
        <div class="col-xl-8 col-md-12 col-12 title">
          <i class="fa fa-line-chart"></i>
          Menú de gestión de viajes
        </div>
      </div>
    </div>
  </div>
  <div class="row-hr-container justify-content-left">
    <div class="col-12">
      <div class="row justify-content-left">
        <div class="col five-col-no" style="margin-left: -15px;" *ngFor="let button of buttonInfo">
          <div data-toggle="tooltip" data-placement="bottom" title="{{button.tooltipText}}" class="widget-travel wg-hover-bg wg-hover-general bg-white height-notification-travel cursor-general" style="padding-top:25px;" routerLink="{{button.route}}" (mouseover)="showTooltip(button)">
            <div class="row justify-content-center">
              <div class="col-12 fontName top-general-p" style="font-size: 16px;">
                <div class="row align-items-center">
                  <div class="col-12">
                    <img src="{{button.image.url}}" />
                  </div>
                  <div class="col-12" style="color: rgb(51, 68, 110);">
                    <strong>{{button.title | uppercase}}</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>