<div class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row align-items-center">
        <div class="col-xl-8 col-md-12 col-12 title">
          <i class="fa fa-paste"></i>
          Vacaciones disfrutadas
        </div>
      </div>
    </div>
  </div>
  <div class="row-hr-container justify-content-center">
    <div class="col-12 widget bg-white">
      <app-data-table [records]="objectReport" [title]="nameReport"></app-data-table>
    </div>
  </div>
</div>