<div *ngIf="!token" class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row align-items-center">
        <div class="col-xl-8 col-md-12 col-12 title">
          <i class="fa fa-user"></i>
          Prueba
        </div>
      </div>
    </div>
  </div>
  <div class="row-hr-container justify-content-center">
    <div class="col-12  widget bg-white minHeight">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Id activity</th>
            <th scope="col">Dias maximos</th>
            <th scope="col">Dias minimos</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dias Disponibles</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let incapacity of requesttypes">
            <td>
              {{incapacity.id}}
            </td>
            <td>
              {{incapacity.id_activity}}
            </td>
            <td>
              {{incapacity.maximum_day}}
            </td>
            <td>
              {{incapacity.minimum_day}}
            </td>
            <td>
              {{incapacity.name}}
            </td>
            <td>
              {{incapacity.available_days}}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01">
          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>



    </div>
  </div>
</div>