<button id="btn_spend_new" type="button" class="btn btn-primary" data-toggle="modal" data-target="#spend_new" style="display:none;">
</button>
<div class="modal" data-backdrop="static" id="spend_new" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div style="margin-top: 10px !important" class="modal-dialog modal-lg" role="document">
    <div class="modal-content ">
      <div class="modal-header borderLine-title">
        <h5 class="modal-title titleColor text-shadow" id="exampleModalLabel">Legalización de Gastos</h5>
        <button id="closeSpends" type="button" class="close " data-dismiss="modal" aria-label="Close">
          <h4 class="text-primary-hr">X</h4>
        </button>
      </div>
      <div class="modal-body bodyColorInfo">
        <form [formGroup]="formSpendTravel" class="row" (ngSubmit)="newSpend(formSpendTravel.value)">
          <div class="col-12" *ngIf="userAuthenticated.employee.trip_by_third">
            <div class="row">
              <div class="col-4 align-items-left">
                <label class="titleColor">
                  <i class="fa fa-fw fa fa-user text-primary-hr"></i>
                  <strong>Si va realizar un gasto para un tercero, busque por el nombre en la caja de texto:</strong>
                </label>
                <form name="searchAutoComplete">
                  <p>
                    <input id="searchByAutoComplete" type="text" name="employeeList" class="form-control" [(ngModel)]="searchByLetter" (keyup)="enterNameEmployee()">
                  </p>
                </form>
                <div *ngIf="showListAutoC" class="list-search-autocomplete " style="overflow-x: hidden;">
                  <div (click)="returnObjectSearch(employee)" class="search-results borderLineEmployee" *ngFor="let employee of searchEmployee">
                    <div class="row align-items-center">
                      <div class="col-4">
                        <img src="{{employee.image.url}}" class="roundPhotoChart">
                      </div>
                      <div class="col-8 text-left">
                        <i class="fa fa-user-o"></i> {{employee.name_complete}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-8 align-self-center">
                <label class="titleColor" *ngIf="eployee_selected !== null">
                  Usted va a realizar un gasto para:
                  <i class="fa fa-fw fa fa-user text-primary-hr"></i>
                  <strong>{{eployee_selected.name_complete}}</strong>
                </label>
                <br>
                <span *ngIf="eployee_selected !== null" class="cursor-general" style="text-decoration: underline  rgb(185, 190, 206)!important"
                  (click)="deleteEmployeeThird()">
                  Click para eliminar el tercero
                </span>
              </div>
            </div>
          </div>
          <div class="col-12" style="margin-top: 10px">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-12">
                <label class="titleColor">
                  <i class="fa fa-fw fa-globe text-primary-hr"></i>
                  <strong>Viaje asociado</strong>
                </label>
              </div>
              <div class="col-lg-9 col-md-6 col-12">
                <select class="form-control" [formControl]="formSpendTravel.controls['travel_request_id']" (change)="validateTravel(formSpendTravel.value)">
                  <option value="">Seleccione</option>
                  <option *ngFor="let nameTravel of listTravelsFromSpend" [value]="nameTravel.id">{{nameTravel.name_travel}}</option>
                </select>
              </div>
            </div>
          </div>




          <div class="col-12" id="table" *ngIf="infoTableSpends[0].data[0].data.length > 0" style="min-height: 80px !important; margin-top: 30px">
            <h4>Gastos</h4>
            <app-data-table [records]="objectReport" id="tableAdvances" [pdf]="showPdf" [sizeTable]="showSizeTable" [title]="nameReport"></app-data-table>
          </div>

          <div class="col-12 top-containter" *ngIf="infoTableSpends[0].data[0].data.length > 0" style="margin-top: 20px">
            <div class="row">
              <div class="col-12">
                <label class="titleColor" *ngIf="imgSpend.length > 0">
                  <strong>Archivos adjuntos</strong>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-12 col-12" *ngFor="let imgsaved of imgSpend; let index = index">
                <div class="alert" style="background-color:rgba(0,0,0,.2) " role="alert">
                  <div class="row">
                    <div class="col-md-11 col-10">
                      <div *ngIf="imgsaved.extension == 'pdf'" class="cursor-general " theme='dark'>
                        <h6>{{index+1}}.
                          <i class="fa fa-fw fa-file-pdf-o" aria-hidden="true" style="font-size: 1.5em; color: white"></i>
                          {{imgsaved.file.name}}
                        </h6>
                      </div>
                      <div *ngIf="imgsaved.extension == 'docx'" class="cursor-general " theme='dark'>
                        <h6>{{index+1}}.
                          <i class="fa fa-fw fa-file-word-o" aria-hidden="true" style="font-size: 1.5em; color:white"></i>
                          {{imgsaved.file.name}}
                        </h6>
                      </div>
                      <div *ngIf="imgsaved.extension == 'jpeg' || imgsaved.extension == 'png' || imgsaved.extension == 'jpg' " class="cursor-general "
                        theme='dark'>
                        <h6>{{index+1}}.
                          <i class="fa fa-fw fa-file-image-o" aria-hidden="true" style="font-size: 1.5em; color:white"></i>
                          {{imgsaved.file.name}}
                        </h6>
                      </div>
                    </div>
                    <div class="col-md-1 col-2 text-center">
                      <h6 (click)="deleteUpload(imgsaved)" class="text-primary-hr cursor-general">x</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <label class="titleColor">
                  <strong>Adjuntar Soporte de gastos</strong>
                </label>
                <app-file-upload [nameFile]='filequotation' [extensions]="extensions"></app-file-upload>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-12" style="margin-top: 15px" *ngIf="continue">
            <h5 *ngIf="spendNew">
              Nuevo gasto
            </h5>
          </div>

          <div class="col-12" *ngIf="continue">
            <div class="row justify-content-end">
              <div class="col-3" style="padding-bottom: 20px">
                <h5 class="titleColor" *ngIf="spendEdit && !spendNew">
                  Editar gasto
                </h5>
                <button type="button" *ngIf="collapse_is" class="btn btn-block btn-primary text-center" (click)="colapse()">
                  Nuevo gasto
                </button>
                <button type="button" id="funtionSpendTravel" data-toggle="collapse" data-target="#collapseNewSpend" style="display: none">
                </button>
              </div>
            </div>
          </div>


          <div class="collapse top-general-p" id="collapseNewSpend" *ngIf="continue">
            <div class="col-12" style="margin-top: 15px">
              <label class="titleColor">
                <i class="fa fa-fw fa-commenting-o text-primary-hr"></i>
                <strong>Descripción:</strong>
              </label>
              <textarea style="margin-top: 10px" type="text" rows="4" style="height: auto !important;" name="observation" class="form-control"
                [formControl]="formSpendTravel.controls['observation']"></textarea>
            </div>

            <div class="col-lg-3 col-md-6 col-12 form-check" *ngIf="continue" style="margin-top: 20px">
              <input class="form-check-input" style="margin-top: 4px !important" type="checkbox" value="true" id="FormACheck" [formControl]="formSpendTravel.controls['formA']">
              <label class="form-check-label titleColor" for="FormACheck">
                <strong>Formato A</strong>
              </label>
            </div>

            <div class="col-12" style="margin-top: 30px">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                  <label class="titleColor">
                    <i class="fa fa-fw fa-list-ol text-primary-hr"></i>
                    <strong>Tipo de gasto:</strong>
                  </label>
                  <select class="form-control" [formControl]="formSpendTravel.controls['travel_allowance_type_id']" paceholder="Seleccione">
                    <option value="">Seleccione</option>
                    <option *ngFor="let spendType of listSpendType" [value]="spendType.id">{{spendType.code}} - {{spendType.name}}</option>
                  </select>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                  <label class="titleColor">
                    <i class="fa fa-fw fa-money text-primary-hr"></i>
                    <strong>Importe:</strong>
                  </label>
                  <input type="number" class="form-control" name="value" [formControl]="formSpendTravel.controls['value']">
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                  <label class="titleColor">
                    <i class="fa fa-fw fa-usd text-primary-hr"></i>
                    <strong>Moneda:</strong>
                  </label>
                  <select class="form-control" [formControl]="formSpendTravel.controls['currency_id']" paceholder="Seleccione">
                    <option value="">Seleccione</option>
                    <option *ngFor="let money of listMoneyType" [value]="money.id">{{money.name}}</option>
                  </select>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                  <label class="titleColor">
                    <i class="fa fa-fw fa-calendar text-primary-hr"></i>
                    <strong>Fecha de Gasto:</strong>
                  </label>
                  <input tabindex="-1" type="date" name="date" [formControl]="formSpendTravel.controls['date']" class="form-control" (keyup)="delete('date_body')"
                  />
                </div>
              </div>
            </div>

            <div class="col-12" style="margin-top: 15px">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                  <label class="titleColor">
                    <i class="fa fa-fw fa-hashtag  text-primary-hr"></i>
                    <strong>Número Factura:</strong>
                  </label>
                  <input type="number" class="form-control" name="bill_number" [formControl]="formSpendTravel.controls['bill_number']">
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                  <label class="titleColor">
                    <i class="fa fa-fw fa-calculator text-primary-hr"></i>
                    <strong>Código de Control:</strong>
                  </label>
                  <input type="number" class="form-control" name="control_number" [formControl]="formSpendTravel.controls['control_number']">
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                  <label class="titleColor">
                    <i class="fa fa-fw fa-id-card-o text-primary-hr"></i>
                    <strong>NIT:</strong>
                  </label>
                  <input type="number" class="form-control" name="nit" [formControl]="formSpendTravel.controls['nit']">
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                  <label class="titleColor">
                    <i class="fa fa-fw fa-hospital-o text-primary-hr"></i>
                    <strong>Establecimiento:</strong>
                  </label>
                  <input type="text" class="form-control" name="bussines_name" [formControl]="formSpendTravel.controls['bussines_name']">
                </div>
              </div>
            </div>

            <div class="col-12" style="margin-top: 15px">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                  <label class="titleColor">
                    <i class="fa fa-fw fa-user-circle-o text-primary-hr"></i>
                    <strong>Código de proveedor:</strong>
                  </label>
                  <input type="number" class="form-control" name="provider_number" [formControl]="formSpendTravel.controls['cod_provider']">
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                  <label class="titleColor">
                    <i class="fa fa-fw fa-hashtag text-primary-hr"></i>
                    <strong>No. de autorización:</strong>
                  </label>
                  <input type="number" class="form-control" name="authozton_number" [formControl]="formSpendTravel.controls['authorization_number']">
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                  <label class="titleColor">
                    <i class="fa fa-fw fa-map-marker text-primary-hr"></i>
                    <strong>Poblado:</strong>
                  </label>
                  <input type="text" class="form-control" name="populate_name" [formControl]="formSpendTravel.controls['populated']">
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                  <label class="titleColor">
                    <i class="fa fa-fw fa-list-ol text-primary-hr"></i>
                    <strong>Tipo de documento:</strong>
                  </label>
                  <select class="form-control" [formControl]="formSpendTravel.controls['document']" paceholder="Seleccione">
                    <option value="">Seleccione</option>
                    <option *ngFor="let document of listTypeDocument" [value]="document.id">{{document.name}}</option>
                  </select>
                </div>
              </div>
            </div>


            <div class="col-12" style="margin-top: 30px">
              <div class="row justify-content-end">
                <div class="col-lg-3 col-md-4 col-12" style="margin-top: 10px">
                  <button *ngIf="spendNew" type="button" [attr.disabled]="
                  ( formSpendTravel.value.travel_allowance_type_id == -1
                    || formSpendTravel.value.travel_allowance_type_id == ''
                    || formSpendTravel.value.travel_request_id == -1
                    || formSpendTravel.value.travel_request_id == ''
                    || formSpendTravel.value.observation == ''
                    || formSpendTravel.value.observation == -1
                    || formSpendTravel.value.value == ''
                    || formSpendTravel.value.value == -1
                    || formSpendTravel.value.currency_id == ''
                    || formSpendTravel.value.currency_id == -1
                    || formSpendTravel.value.date == ''
                    || formSpendTravel.value.date == -1
                    || formSpendTravel.value.bill_number == ''
                    || formSpendTravel.value.bill_number == -1
                    || formSpendTravel.value.control_number == ''
                    || formSpendTravel.value.control_number == -1
                    || formSpendTravel.value.nit == ''
                    || formSpendTravel.value.nit == -1
                    || formSpendTravel.value.bussines_name == ''
                    || formSpendTravel.value.bussines_name == -1
                    || formSpendTravel.value.cod_provider == ''
                    || formSpendTravel.value.cod_provider == -1
                    || formSpendTravel.value.authorization_number == ''
                    || formSpendTravel.value.authorization_number == -1
                    || formSpendTravel.value.populated == ''
                    || formSpendTravel.value.populated == -1) ? true : null" class="btn btn-primary btn-block cursor-general"
                    (click)="aditionSpend(formSpendTravel.value)">
                    <i class="fa fa-fw fa-plus"></i>&nbsp;&nbsp;Agregar Gasto</button>
                  <button *ngIf="spendEdit" type="button" class="btn btn-primary btn-block cursor-general" (click)="aditionSpendEdit(formSpendTravel.value)">
                    <i class="fa fa-fw fa-plus"></i>&nbsp;&nbsp;Agregar Cambios</button>
                </div>
                <div class="col-lg-3 col-md-4 col-12" style="margin-top: 10px" *ngIf="infoTableSpends[0].data[0].data.length > 0">
                  <button type="button" class="btn btn-warning btn-block cursor-general" (click)="closeSpend()" data-toggle="collapse" data-target="#collapseNewSpend">
                    <i class="fa fa-fw fa-fw fa-window-close"></i>&nbsp;&nbsp;Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="row justify-content-end" *ngIf="activate_submit_spend">
          <div class="col-lg-3 col-md-4 col-12" style="margin-top: 10px" *ngIf="continue">
            <button type="submit" *ngIf="showSubmit" class="btn btn-success btn-block cursor-general" (click)="newSpend(formSpendTravel.value)">
              <i class="fa fa-fw fa-save"></i>&nbsp;&nbsp;Guardar Solicitud</button>
            <button type="button" *ngIf="!showSubmit" class="btn btn-warning btn-block">
              <i class="fa fa-fw fa-spinner fa-spin"></i>&nbsp;&nbsp;Cargando</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>