<div class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row align-items-center">
        <div class="col-xl-8 col-md-12 col-12 title">
          <i class="fa fa-circle-o-notch"></i>
          Aprobaciones Pendientes
        </div>
      </div>
    </div>
  </div>
  <div class="row-hr-container justify-content-center">
    <div class="col-12  widget bg-white minHeight">
      <div class="border-botton-general">
        <div class="row top-containter">
          <div class="col-12 text-left">
            <h3 class="font-color-default">
              <i class="fa fa-fw fa-cog fa-spin text-primary-hr"></i>
              Usted tiene 1 Solicitud pendiente
            </h3>
          </div>
          <!-- <div class="col-xl-6 col-lg-4 col-12 text-left">
            <h3 class="font-color-default">
              <i class="fa fa-fw fa-cog text-primary-hr"></i>
              Usted no tiene solicitudes pendientes
            </h3>
          </div> -->
        </div>
      </div>
      <!-- <div class="row justify-content-center top-general-p">
        <div class="col-lg-8 col-12 text-center" style="min-height: 370px;">
          <div class="alert alert-warning" role="alert">
            No se encontrearon registros para mostrar
          </div>
        </div>
      </div> -->
      <div class="row justify-content-center top-containter">
        <div class="col-12">
          <div class="widget bg-white-1x">
            <div class="row align-items-center">
              <div class="col-xl-2 col-lg-2 col-md-3 col-12">
                <h5>
                  <span class="badge badge-warning">
                    Ticket # 566
                  </span>
                </h5>
              </div>
              <div class="col-xl-3 col-lg-2 col-md-9 col-12 text-xl-left text-lg-center text-center top-p">
                <h3 class="font-color-default">
                  VACACIONES
                </h3>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-9 col-12 text-md-left text-center top-p">
                <p class="font-title-general">
                  Nivel de aprobacion
                </p>
                <p class="">
                  <i class="fa fa-user fa-check-square-o text-primary-hr"></i>
                  1
                </p>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-9 col-12 text-md-left text-center top-p">
                <p class="font-title-general">
                  Solicitante
                </p>
                <p class="">
                  <i class="fa fa-user fa-fw text-primary-hr"></i>
                  Laura Beltran
                </p>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-9 col-12 text-md-left text-center top-p">
                <p class="font-title-general">
                  Creada el
                </p>
                <p>
                  <i class="fa fa-calendar fa-fw text-primary-hr"></i>
                  24/10/2012 -
                  <i class="fa fa-fw fa-clock-o font-color-default"></i>2 dias
                </p>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-12 text-center top-p">
                <p class="font-title-general">
                  Acción
                </p>
                <button class="btn btn-sm btn-secondary" (click)="modalAprovers(request)">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>