<div *ngIf="token">
  <app-error-page-http [objectPage]="objectToken"></app-error-page-http>
</div>

<div *ngIf="!token" class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row align-items-center">
        <div class="col-xl-8 col-md-12 col-12 title">
          <i class="fa fa-list"></i>
          {{ parseT("title_valuation_status") | translate }}
        </div>
      </div>
    </div>
  </div>
  <div class="row-hr-container justify-content-center">
    <div class="col-12  widget bg-white minHeight">
      <div class="border-botton-general">
        <div class="row top-containter">
          <div class="col-xl-2 col-lg-4 col-12 text-left">
            <b>
              {{ parseT("text_pending_evaluations_one") | translate }}
            </b>
          </div>
        </div>
      </div>
      <div class="row justify-content-center top-containter">
        <div class="col-12" *ngIf="evaluationsListPendind">
          <div
            class="row justify-content-center top-containter"
            *ngIf="evaluationsListPendind.length === 0"
            style="margin-top:25px;"
          >
            <div class="col-lg-8 col-12 text-center" style="min-height: 370px;">
              <div class="alert alert-warning" role="alert">
                {{ parseT("text_pending_evaluations_four") | translate }}
                <strong>{{
                  parseT("text_pending_evaluations_two") | translate
                }}</strong
                >&nbsp;{{
                  parseT("text_pending_evaluations_three") | translate
                }}
              </div>
            </div>
          </div>
          <div *ngIf="evaluationsListPendind.length !== 0">
            <section
              *ngFor="
                let evaluation of evaluationsListPendind;
                let index = index
              "
            >
              <section *ngIf="index == 0">
                <div class="row" style="padding-top: 5px; padding-bottom: 5px">
                  <div class="col-12 text-left">
                    <i
                      class="fa fa-circle-o-notch fa-spin"
                      aria-hidden="true"
                    ></i>
                    {{ evaluation.evaluation_type_id }}.
                    {{ evaluation.evaluation_type_name }}
                  </div>
                </div>
              </section>
              <section *ngIf="index > 0">
                <div
                  class="row"
                  style="padding-top: 5px; padding-bottom: 5px"
                  *ngIf="
                    evaluationsListPendind[index - 1].evaluation_type_id !==
                    evaluation.evaluation_type_id
                  "
                >
                  <div class="col-12 text-left">
                    <i
                      class="fa fa-circle-o-notch fa-spin"
                      aria-hidden="true"
                    ></i>
                    {{ evaluation.evaluation_type_id }}.
                    {{ evaluation.evaluation_type_name }}
                  </div>
                </div>
              </section>
              <div class="widget bg-white-1x">
                <div class="row justify-content-center">
                  <div class="col-12 col-xl-10  text-center top-p">
                    <div class="row justify-content-center">
                      <div
                        class="col-12 font-color-default text-lg-left title-size hoverTitle"
                        (click)="fillEvaluation(evaluation)"
                      >
                        <strong>{{ evaluation.title | uppercase }} </strong>
                      </div>
                      <div class=" col-12 text-lg-left ">
                        {{ evaluation.subtitle }}
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-2 col-12 ">
                    <div class="row ">
                      <div
                        class="col-12 number-size text-info "
                        (click)="fillEvaluation(evaluation)"
                      >
                        <i class="fa fa-pencil "></i>
                      </div>
                      <div class="col-12" (click)="fillEvaluation(evaluation)">
                        {{ parseT("text_present") | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="border-botton-general ">
        <div class="row top-containter ">
          <div class="col-xl-2 col-lg-4 col-12 text-left ">
            <b>
              {{ parseT("text_managed") | translate }}
            </b>
          </div>
        </div>
      </div>
      <div class="row justify-content-center top-containter ">
        <div class="col-12 ">
          <div
            class="row justify-content-center top-containter "
            *ngIf="evaluationsListSubmitted.length === 0"
            style="margin-top:25px; "
          >
            <div
              class="col-lg-8 col-12 text-center "
              style="min-height: 200px; "
            >
              <div class="alert alert-warning " role="alert ">
                {{ parseT("text_managed_evaluations_one") | translate }}
                <strong>{{
                  parseT("text_managed_evaluations_two") | translate
                }}</strong
                >&nbsp;{{
                  parseT("text_managed_evaluations_three") | translate
                }}
              </div>
            </div>
          </div>
          <div *ngIf="evaluationsListSubmitted.length !== 0">
            <section
              *ngFor="
                let evaluationSub of evaluationsListSubmitted;
                let index = index
              "
            >
              <section *ngIf="index == 0">
                <div class="row" style="padding-top: 5px; padding-bottom: 5px">
                  <div class="col-12 text-left">
                    <i
                      class="fa fa-circle-o-notch fa-spin"
                      aria-hidden="true"
                    ></i>
                    {{ evaluationSub.evaluation_type_id }}.
                    {{ evaluationSub.evaluation_type_name }}
                  </div>
                </div>
              </section>
              <section *ngIf="index > 0">
                <div
                  class="row"
                  style="padding-top: 5px; padding-bottom: 5px"
                  *ngIf="
                    evaluationsListSubmitted[index - 1].evaluation_type_id !==
                    evaluationSub.evaluation_type_id
                  "
                >
                  <div class="col-12 text-left">
                    <i
                      class="fa fa-circle-o-notch fa-spin"
                      aria-hidden="true"
                    ></i>
                    {{ evaluationSub.evaluation_type_id }}.
                    {{ evaluationSub.evaluation_type_name }}
                  </div>
                </div>
              </section>

              <div class="widget bg-white-1x ">
                <div class="row justify-content-center ">
                  <div class="col-12 col-xl-10 text-center top-p ">
                    <div class="row justify-content-center ">
                      <div
                        class="col-12 font-color-default text-lg-left title-size hoverTitle"
                        (click)="seeEvaluation(evaluationSub)"
                      >
                        <strong>{{ evaluationSub.title | uppercase }} </strong>
                      </div>
                      <div class="col-12 text-lg-left ">
                        {{ evaluationSub.subtitle }}
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-2 col-12 ">
                    <div class="row ">
                      <div
                        id="seeEval "
                        class="col-12 number-size text-navy "
                        (click)="seeEvaluation(evaluationSub)"
                      >
                        <i class="fa fa-eye "></i>
                      </div>
                      <div
                        class="col-12 "
                        (click)="seeEvaluation(evaluationSub)"
                      >
                        {{ parseT("icon_watch") | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-fill-evaluation></app-fill-evaluation>
<app-show-evaluation></app-show-evaluation>
