<div *ngIf="token">
  <app-error-page-http [objectPage]="objectToken"></app-error-page-http>
</div>

<div *ngIf="!token" class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row align-items-center">
        <div class="col-xl-8 col-md-12 col-12 title">
          <i class="fa fa-line-chart"></i>
          Estado de evaluaciones
        </div>
      </div>
    </div>
  </div>
  <div class="row-hr-container justify-content-center">
    <div class="col-12  widget bg-white minHeight">
      <div class="border-botton-general">
        <div class="row top-containter">
          <div class="col-xl-2 col-lg-4 col-12 text-left">
            <b>
              Pendientes
            </b>
          </div>
        </div>
      </div>
      <div class="row justify-content-center top-containter">
        <div class="col-12" >
          <div class="row justify-content-center top-containter" *ngIf="evaluationsListPendind.length === 0" style="margin-top:25px;">
            <div class="col-lg-8 col-12 text-center" style="min-height: 370px;">
              <div class="alert alert-warning" role="alert">
                No hay
                <strong>evaluaciones pendientes</strong>&nbsp;para el empleado
              </div>
            </div>
          </div>
          <div *ngIf="evaluationsListPendind.length !== 0">
            <div class="widget bg-white-1x" *ngFor="let evaluation of evaluationsListPendind">
              <div class="row justify-content-center">
                <div class="col-10 text-center top-p">
                  <div class="row justify-content-center">
                    <div class="col-12 font-color-default text-lg-left title-size hoverTitle">
                      <strong>{{evaluation.title |uppercase}} </strong>
                    </div>
                    <div class="col-12 text-lg-left">
                      {{evaluation.description}}
                    </div>
                  </div>
                </div>
                <div class="col-1">
                  <div class="row">
                    <div class="col-12 number-size text-info" (click)="fillEvaluation(evaluation)">
                      <i class="fa fa-pencil"></i>
                    </div>
                    <div class="col-12">
                      Presentar
                    </div>
                  </div>
                </div>
                <div class="col-1">
                  <div class="row">
                    <div id="seeEval" class="col-12 number-size">
                      <i class="fa fa-eye"></i>
                    </div>
                    <div class="col-12">
                      Ver
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="border-botton-general">
        <div class="row top-containter">
          <div class="col-xl-2 col-lg-4 col-12 text-left">
            <b>
              Gestionadas
            </b>
          </div>
        </div>
      </div>
      <div class="row justify-content-center top-containter">
        <div class="col-12">
          <div class="row justify-content-center top-containter" *ngIf="evaluationsListSubmitted.length === 0" style="margin-top:25px;">
            <div class="col-lg-8 col-12 text-center" style="min-height: 370px;">
              <div class="alert alert-warning" role="alert">
                No hay
                <strong>evaluaciones gestionadas</strong>&nbsp;para el empleado
              </div>
            </div>
          </div>
          <div *ngIf="evaluationsListSubmitted.length !== 0">
            <div class="widget bg-white-1x" *ngFor="let evaluationSub of evaluationsListSubmitted">
              <div class="row justify-content-center">
                <div class="col-10 text-center top-p">
                  <div class="row justify-content-center">
                    <div class="col-12 font-color-default text-lg-left title-size hoverTitle">
                      <strong>{{evaluationSub.title |uppercase}} </strong>
                    </div>
                    <div class="col-12 text-lg-left">
                      {{evaluationSub.description}}
                    </div>
                  </div>
                </div>
                <div class="col-1">
                  <div class="row">
                    <div class="col-12 number-size text-info">
                      <i class="fa fa-pencil"></i>
                    </div>
                    <div class="col-12">
                      Presentar
                    </div>
                  </div>
                </div>
                <div class="col-1">
                  <div class="row">
                    <div id="seeEval" class="col-12 number-size">
                      <i class="fa fa-eye"></i>
                    </div>
                    <div class="col-12">
                      Ver
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-fill-evaluation></app-fill-evaluation>