<div [ngStyle]="{'background-color': objectWidget[0].background}" class="widget wg-hover-general wg-hoverImg-bg navy-bg">
  <div class="row">
    <div id="{{cauruselIdGeneral}}" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators" style="display:none">
        <li [attr.data-target]="cauruselId" [attr.data-slide-to]="i" [ngClass]="{'active': i=='0'}" *ngFor="let eventEmployee of objectWidget;let i = index"></li>
      </ul>
      <div class="carousel-inner">
        <div [ngClass]="{'active': k=='0'}" class="carousel-item  active-caurusel" *ngFor="let eventEmployee of objectWidget;let k = index">
          <div class="col-12">
            <div class="row">
              <div class="col-4">
                <div class="menu-img-user">
                  <img alt="image" class="rounded-circle widget-img-responsive" src="{{eventEmployee.image.url}}">
                </div>
              </div>
              <div class="col-8 text-white text-center">
                <div class="row">
                  <div class="col-12 text-center">
                    <i [ngStyle]="{'color': eventEmployee.color}" class="{{eventEmployee.icon}} fa-3x"></i>
                  </div>
                  <div class="col-12 text-center">
                    <strong [ngStyle]="{'color': eventEmployee.color}" class="font-size-12"> {{eventEmployee.event}} </strong>
                  </div>
                  <div class="col-12 text-center">
                    <p [ngStyle]="{'color': eventEmployee.color}" class="font-size-12"> {{eventEmployee.description}} </p>
                  </div>
                  <div class="col-12 text-center">
                    <strong [ngStyle]="{'color': eventEmployee.color}" class="font-bold font-size-20" id="info_severances">
                      {{eventEmployee.name}} </strong>
                  </div>
                  <div class="col-12 text-center">
                    <strong [ngStyle]="{'color': eventEmployee.color}" class="font-size-12"> {{eventEmployee.posicion}} </strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-control-next" [attr.href]="cauruselId" data-slide="next" style="display:none">
        <i class="fa fa-angle-right fa-3x"></i>
      </div>
    </div>
  </div>
</div>