<div
  *ngIf="!nohaveTeam"
  class="employee_event widget white-bg wg-hover-general wg-hoverImg-bg navy-bg"
>
  <div class="row">
    <div
      id="{{ cauruselIdGeneral }}"
      class="carousel slide"
      data-ride="carousel"
      data-interval="7000"
    >
      <ul class="carousel-indicators" style="display:none">
        <li
          [attr.data-target]="cauruselId"
          [attr.data-slide-to]="i"
          [ngClass]="{ active: i == '0' }"
          *ngFor="let eventEmployee of objectWidget; let i = index"
        ></li>
      </ul>
      <div class="carousel-inner">
        <div
          [ngClass]="{ active: k == '0' }"
          class="carousel-item  active-caurusel"
          *ngFor="let eventEmployee of objectWidget; let k = index"
        >
          <div class="col-12" (click)="showEventList(eventEmployee)">
            <div class="row">
              <div
                class="col-4"
                style="padding-left: 30px !important"
              >
                <div class="menu-img-user">
                  <img
                    alt="image"
                    class="rounded-circle widget-img-responsive"
                    src="{{ eventEmployee.image.url }}"
                  />
                </div>
              </div>
              <div
                class="col-8 text-white text-center"
                style="min-height: 130px !important"
              >
                <div class="row">
                  <div class="col-12 text-center">
                    <i
                      class="{{
                        eventEmployee.icon
                      }} fa-3x color-primary"
                    ></i>
                  </div>
                  <div class="col-12 text-center">
                    <strong class="color-primary font-size-12">
                      {{ eventEmployee.event }}
                    </strong>
                  </div>
                  <div class="col-12 text-center">
                    <p
                      [ngStyle]="{ color: eventEmployee.color }"
                      class="font-size-12"
                    >
                      {{ eventEmployee.description }}
                    </p>
                  </div>
                  <div class="col-12 text-center">
                    <strong
                      [ngStyle]="{ color: eventEmployee.color }"
                      class="font-bold font-size-20"
                      id="info_severances"
                    >
                      {{ eventEmployee.short_name }}
                    </strong>
                  </div>
                  <div class="col-12 text-center">
                    <strong
                      [ngStyle]="{ color: eventEmployee.color }"
                      class="font-size-12"
                    >
                      {{ eventEmployee.posicion | slice: 0:20 }}
                      <span
                        [hidden]="eventEmployee.posicion.length < 20"
                        >...</span
                      >
                    </strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="carousel-control-next"
        [attr.href]="cauruselId"
        data-slide="next"
        style="display:none"
      >
        <i class="fa fa-angle-right fa-3x"></i>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="nohaveTeam"
  class="widget bg-white wg-hover-general wg-hover-bg navy-bg"
  style="min-height: 155px !important"
>
  <div class="iconColor-primary">
    <i class="fa fa-user-times fa-3x"></i>
  </div>
  <h3
    class="font-bold m-l-n letterColor-primary"
    style="margin-left: -22px; margin-right: -30px;"
    *ngIf="translate !== null"
  >
    {{
      translate.app.frontEnd.components.common.widgets
        .events_employees.negative_message
    }}
  </h3>
</div>
<app-show-events [nameModal]="modalInfoEvent"></app-show-events>
