<div *ngIf="token">
  <app-error-page-http [objectPage]="objectToken"></app-error-page-http>
</div>

<div *ngIf="!token" class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row">
        <div class="col-xl-10 col-md-8 col-7 title">
          <i class="fa fa-usd"></i>
          Gastos
        </div>
        <div class="col-xl-2 col-md-4 col-5 text-center cursor-general" style="padding-right: 0px">
          <div class="buttonBack img-zoom" (click)="returnBackPage()">
            <div class="padding-back">
              <i class="fa fa-fw fa-sign-in fa-rotate-180 fa-lg"></i>
              <span>
                Atrás
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-hr-container justify-content-center">
    <div class="col-12  widget bg-white minHeight">
      <div class="row justify-content-center top-containter">
        <div class="col-lg-4 col-12">
          <div class="row" style="margin-top: 10px">
            <div class="col-12">
              <button id="btn-travelManagement" type="button" class="btn tabDate btn-block" (click)="newSpendTravel()">
                <i class="fa fa-plus">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
                Nuevo Gasto
              </button>
            </div>
          </div>
        </div>
      </div>

       <!-- begin filters -->
       <div class="border-botton-general">
        <div class="row top-containter">
          <div class="col-xl-4 col-lg-4 col-12 text-left">
            <b>
              Filtros de consulta
            </b>
            <i *ngIf="!is_collapse" class="fa fa-fw icon-collapse fa-plus fa-1x cursor-general" data-toggle="collapse"
              data-target="#collapseFilter" aria-expanded="false" (click)="collapse(true)"></i>
            <i *ngIf="is_collapse" class="fa fa-fw icon-collapse fa-minus fa-1x cursor-general" data-toggle="collapse"
              data-target="#collapseFilter" aria-expanded="false" (click)="collapse(false)"></i>
          </div>
        </div>
      </div>

      <div class="collapse top-general-p border-botton-general" id="collapseFilter">
        <div class="row align-items-center">
          <div class="col-12" style="padding-bottom: 15px">
            <div class="row align-items-center">
              <div class="col-lg-3 col-md-6 col-12">
                <label>Codigo de IHR</label>
                <div class="row">
                  <div class="col-9">
                    <input type="text" [(ngModel)]="codIHR" class="form-control">
                  </div>
                  <div class="col-3">
                    <button type="button" class="btn btn-block cursor-general tabDate" (click)="filter('codIHR')">
                      <i class="fa fa-search" style="margin-left: -5px;"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-12">
                <label>Codigo de SAP</label>
                <div class="row">
                  <div class="col-9">
                    <input type="text" [(ngModel)]="codSAP" class="form-control">
                  </div>
                  <div class="col-3">
                    <button type="button" class="btn btn-block cursor-general tabDate" (click)="filter('codSAP')">
                      <i class="fa fa-search" style="margin-left: -5px;"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-12">
                <div class="row">
                  <div class="col-5">
                    <label>Fecha Inicio</label>
                    <input type="date" [(ngModel)]="datesBegin" class="form-control">
                  </div>
                  <div class="col-5">
                    <label>Fecha Final</label>
                    <input type="date" [(ngModel)]="datesEnd" class="form-control">
                  </div>
                  <div class="col-2 align-self-end">
                    <button type="button" class="btn btn-block cursor-general tabDate" (click)="filter('dates')">
                      <i class="fa fa-search" style="margin-left: -5px;"></i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-4 col-12">
                <label>Estado</label>
                <select type="date" [(ngModel)]="status" class="form-control" (change)="filter('status')">
                  <option value="">Todos</option>
                  <option value="ReqReg">Registrado</option>
                  <option value="ReqPro">En proceso</option>
                  <option value="ReqApp">Aprobado</option>
                  <option value="ReqCan">Cancelado</option>
                  <option value="ReqWai">En espera</option>
                </select>
              </div>
              <div class="col-lg-3 col-md-4 col-12">
                <label>Estado Liquidacion</label>
                <select type="date" [(ngModel)]="statusLiquid" class="form-control" (change)="filter('statusLiquid')">
                  <option value="">Todos</option>
                  <option value="LiqPen">A liquidar</option>
                  <option value="LiqApp">Liquidado</option>
                  <option value="LiqAnn">Anulado</option>
                </select>
              </div>
              <div class="col-lg-3 col-md-4 col-12">
                <label>Empleado</label>
                <div class="row">
                  <div class="col-9">
                    <input type="text" [(ngModel)]="codEmployee" class="form-control">
                  </div>
                  <div class="col-3">
                    <button type="button" class="btn btn-block cursor-general tabDate" (click)="filter('codEmployee')">
                      <i class="fa fa-search" style="margin-left: -5px;"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end filters -->

      <div class="row top-containter" style="margin-top: 20px">
        <div class="col-12 text-left">
          <form>
            <input *ngIf="userAuthenticated.employee.trip_by_third" type="radio" name="travel" id="advance_request"
              [checked]="checkThird" (click)="checkSpends('spends_request')" />
            <b>
              Mis gastos registrados
            </b>
            &nbsp;&nbsp;
            <input *ngIf="userAuthenticated.employee.trip_by_third" type="radio" name="travel" id="my_advance_request"
              [checked]="!checkThird" (click)="checkSpends('my_spends_request')" />
            <b *ngIf="userAuthenticated.employee.trip_by_third">
              Gastos registrados a terceros
            </b>
          </form>
        </div>
      </div>
      <div class="row justify-content-center top-containter">
        <div class="col-12" *ngIf="spedsData.length > 0">
          <div class="widget bg-white-1x" *ngFor="let spend of spedsData;">
            <div *ngIf="spend.info_travel != null" class="row align-items-center">
              <div class="col-lg-2 col-md-3 col-12">
                <h5>
                  <span *ngIf="spend.ticket_cli !== null" class="badge badge-warning">
                    No. Viaje SAP # {{spend.ticket_cli}}
                  </span>
                  <span *ngIf="spend.ticket_cli === null &&  spend.messages_server !== null &&  spend.synch_type_sap !== 'S'">
                    <h6>
                      <i class="fa fa-fw fa-exclamation-triangle text-danger"></i>Error en sincronización</h6>
                  </span>
                  <span class="badge badge-warning">
                    No. Viaje iHR # {{spend.travel_request_id}}
                  </span>
                </h5>
                <p>
                  <i class="fa fa-plane"></i>
                  Fecha salida {{spend.date_begin_format}}
                </p>
                <p>Fecha llegada {{spend.date_end_format}}
                </p>
              </div>
              <!-- <div class="col-lg-2 col-md-3 col-12">
                <h5>
                  <span class="badge badge-warning">
                    Ticket # {{spend.id}}
                  </span>
                </h5>
              </div> -->
              <div class="col-lg-3 col-md-9 col-12 text-xl-left text-lg-center text-center top-p">
                <h3 class="font-color-default">
                  {{spend.name_travel}}
                </h3>
              </div>
              <div class="col-lg-2 col-md-9 col-12 text-md-left text-center top-p">
                <p class="font-title-general">
                  Estado:
                </p>
                <h6 *ngIf="spend.status_request == 'Aprobado'">
                  <span class="badge badge-primary">
                    {{spend.status_request}}
                  </span>
                </h6>
                <h6 *ngIf="spend.status_request == 'Cancelado'">
                  <span class="badge badge-danger">
                    {{spend.status_request}}
                  </span>
                </h6>
                <h6 *ngIf="spend.status_liq_code == 'LiqAnn'">
                  <span class="badge badge-danger">
                    {{spend.status_liq_name}}
                  </span>
                </h6>
                <h6 *ngIf="spend.status_request == 'En proceso'">
                  <span class="badge badge-success">
                    {{spend.status_request}}
                  </span>
                </h6>
                <h6 *ngIf="spend.status_liq_code == 'LiqApp'">
                  <span class="badge badge-success">
                    {{spend.status_liq_name}}
                  </span>
                </h6>
                <h6 *ngIf="spend.status_request == 'Registrado'">
                  <span class="badge badge-default">
                    {{spend.status_request}}
                  </span>
                </h6>
                <h6 *ngIf="spend.status_liq_code == 'LiqPen'">
                  <span class="badge badge-default">
                    {{spend.status_liq_name}}
                  </span>
                </h6>
              </div>
              <!-- <div class="col-lg-2 col-md-9 col-12 text-md-left text-center top-p">
                <p class="font-title-general">
                  Solicitud de viajes
                </p>
                <p class="">
                  <i class="fa fa-hashtag fa-fw text-primary-hr"></i>
                  {{spend.info_travel.ticket}}
                </p>
              </div> -->
              <div class="col-lg-2 col-md-6 col-12 text-left top-p" *ngIf="spend.next_approver_to_json.approver_employee != undefined">
                <p class="font-title-general">
                  {{spend.next_approver_to_json.approver_employee.short_name}}
                </p>
                <p class="">
                  {{spend.next_approver_to_json.approver_employee.posicion}}
                </p>
                <p class="">
                  Aprobador {{spend.next_approver_to_json.level}}
                </p>
              </div>
              <div class="col-lg-2 col-md-6 col-12 text-left top-p" *ngIf="spend.next_approver_to_json.approver_employee == undefined">
                <p class="font-title-general">
                  No existe aprobador para esta solicitud ó ya fue aprobada
                </p>
              </div>
              <div class="col-lg-3 col-md-9 col-12 text-md-left text-center top-p">
                <div class="row">
                  <div class="col-4 number-size text-center top-p" (click)="viewSpend(spend)" *ngIf="spend.action_travel_allowances_index_view[0].is_active">
                    <div class="row justify-content-center">
                      <div class="col-12 text-success number-size" id="hideTrash" style="cursor: pointer">
                        <i class="fa fa-eye" aria-hidden="true" style="font-size:2em"></i>
                      </div>
                      <div class="col-12" (click)="viewSpend(spend)">
                        Ver
                      </div>
                    </div>
                  </div>
                  <div class="col-4 number-size text-center top-p" *ngIf="!spend.action_travel_allowances_index_view[0].is_active">
                    <div class="row justify-content-center">
                      <div class="col-12 number-size" id="hideTrash" style="cursor: no-drop">
                        <i class="fa fa-eye" aria-hidden="true" style="font-size:2em"></i>
                      </div>
                      <div class="col-12">
                        Ver
                      </div>
                    </div>
                  </div>
                  <div class="col-4 number-size text-center top-p" *ngIf="spend.action_travel_allowances_index_view[1].is_active">
                    <div class="row justify-content-center">
                      <div class="col-12 number-size text-info" id="hideTrash" style="cursor: pointer" (click)="editSpend(spend)">
                        <i class="fa fa-pencil" aria-hidden="true" style="font-size:2em"></i>
                      </div>
                      <div class="col-12" (click)="editSpend(spend)">
                        Editar
                      </div>
                    </div>
                  </div>
                  <div class="col-4 number-size text-center top-p" *ngIf="!spend.action_travel_allowances_index_view[1].is_active">
                    <div class="row justify-content-center">
                      <div class="col-12 number-size " id="hideTrash" style="cursor: no-drop">
                        <i class="fa fa-pencil" aria-hidden="true" style="font-size:2em"></i>
                      </div>
                      <div class="col-12">
                        Editar
                      </div>
                    </div>
                  </div>
                  <div class="col-4 number-size text-center top-p" *ngIf="spend.action_travel_allowances_index_view[2].is_active">
                    <div class="row justify-content-center">
                      <div class="col-12 number-size text-danger" id="hideTrash" style="cursor: pointer" (click)="deleteSpend(spend)">
                        <i class="fa fa-trash" aria-hidden="true" style="font-size:2em"></i>
                      </div>
                      <div class="col-12" (click)="deleteSpend(spend)">
                        Eliminar
                      </div>
                    </div>
                  </div>
                  <div class="col-4 number-size text-center top-p" *ngIf="!spend.action_travel_allowances_index_view[2].is_active">
                    <div class="row justify-content-center">
                      <div class="col-12 number-size" id="hideTrash" style="cursor: no-drop">
                        <i class="fa fa-trash" aria-hidden="true" style="font-size:2em"></i>
                      </div>
                      <div class="col-12">
                        Eliminar
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div *ngIf="spend.info_travel == null" class="row align-items-center">
              <div class="col-lg-6 col-md-3 col-12">
                <h5>
                  <span class="badge badge-warning">
                    Ticket # {{spend.id}}
                  </span>
                </h5>
              </div>
              <div class="col-lg-6 col-md-9 col-12 text-md-left text-center top-p">
                <p class="font-title-general">
                  El viaje {{spend.travel_request_id}} no se encuentra dentro del sistema.
                </p>
              </div>
            </div> -->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<app-new-spend *ngIf="!token"></app-new-spend>
<app-view-spend *ngIf="!token"></app-view-spend>
<app-edit-spend *ngIf="!token"></app-edit-spend>