<div *ngIf="token">
  <app-error-page-http [objectPage]="objectToken"></app-error-page-http>
</div>

<div *ngIf="!token" class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row">
        <div class="col-xl-10 col-md-8 col-7 title">
          <i class="fa fa-money"></i>
          Gastos
        </div>
        <div class="col-xl-2 col-md-4 col-5 text-center cursor-general" style="padding-right: 0px">
          <div class="buttonBack img-zoom" (click)="returnBackPage()">
            <div class="padding-back">
              <i class="fa fa-fw fa-sign-in fa-rotate-180 fa-lg"></i>
              <span>
                Atrás
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row-hr-container justify-content-center">
    <div class="col-12  widget bg-white minHeight">
      <div class="border-botton-general">
        <div class="row justify-content-center top-containter">
          <div class="col-lg-4 col-12">
            <div class="row" style="margin-top: 10px">
              <div class="col-12">
                <button id="btn-travelManagement" type="button" class="btn tabDate btn-block" (click)="newSpendTravel()">
                  <i class="fa fa-plus">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
                  Nuevo Gasto
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row top-containter" style="margin-top: 20px">
        <div class="col-xl-2 col-lg-4 col-12 text-left">
          <b>
            Gatos reportados
          </b>
        </div>
      </div>

      <div class="row justify-content-center top-containter">
        <div class="col-12" >
          <div class="widget bg-white-1x" >
            <div class="row align-items-center">
              <div class="col-lg-2 col-md-3 col-12">
                <h5>
                  <span class="badge badge-warning">
                    Código 20
                    <!-- Ticket # {{travels.ticket}} -->
                  </span>
                </h5>
                <p>
                  <i class="fa fa-clock-o"></i>
                  Creada el 31/10/2018
                  <!-- Creada el {{travels.created_date}} -->
                </p>
              </div>
              <div class="col-lg-3 col-md-6 col-12 text-lg-left text-center top-p">
                <h3 class="font-color-default">
                  Gastos viaje internacional
                  <!-- {{travels.observation}} -->
                </h3>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-12 text-lg-left text-center top-p">
                <p class="font-title-general">
                  Estado:
                </p>
                <h6 >
                  <span class="badge badge-primary">
                    Pendiente
                    <!-- {{travels.status_request}} -->
                  </span>
                </h6>
                <!-- <h6 *ngIf="travels.status_request == 'Cancelado'">
                  <span class="badge badge-danger">
                    
                    {{travels.status_request}}
                  </span>
                </h6>
                <h6 *ngIf="travels.status_request == 'En Proceso'">
                  <span class="badge badge-success">
                    {{travels.status_request}}
                  </span>
                </h6>
                <h6 *ngIf="travels.status_request == 'Pendiente'">
                  <span class="badge badge-default">
                    {{travels.status_request}}
                  </span>
                </h6> -->
              </div>
              <div class="col-xl-4 col-lg-3 col-md-9 col-12 text-md-left text-center top-p text-center">
                <p class="font-title-general text-center">
                  Solicitud de Viaje
                  <!-- {{travels.next_approver_to_json.approver_employee.short_name}} -->
                </p>
                <h6 class="text-primary-hr text-center">
                  # 10 
                  <!-- {{travels.next_approver_to_json.approver_employee.posicion}} -->
                </h6>
              </div>

              <div class="col-lg-2 col-md-3 col-12 text-center top-p">
                <div class="row justify-content-center">
                  <div class="col-4 number-size text-success text-center" 
                    (click)="viewSpend()">
                    <i class="fa fa-eye" aria-hidden="true" style="font-size:2em"></i>
                  </div>
                  <div class="col-4 number-size text-info" id="hideEdit" style="cursor: pointer"
                    (click)="editSpend()">
                    <i class="fa fa-pencil" aria-hidden="true" style="font-size:2em"></i>
                  </div>
                  <!-- <div class="col-4 number-size" id="hideEdit" style="cursor: pointer">
                    <i class="fa fa-pencil" aria-hidden="true" style="font-size:2em"></i>
                  </div> -->
                  <div class="col-4 number-size text-danger align-items-center" id="hideTrash" style="cursor: pointer" (click)="deleteSpend()">
                    <i class="fa fa-trash" aria-hidden="true" style="font-size:2em"></i>
                  </div>
                  <!-- <div class="col-4 number-size align-items-center" id="hideTrash" style="cursor: no-drop">
                    <i class="fa fa-trash" aria-hidden="false" style="font-size:2em"></i>
                  </div> -->
                  <div class="col-4" (click)="viewSpend()">
                    Ver
                  </div>
                  <div class="col-4" (click)="editSpend()">
                    Editar
                  </div>
                  <div class="col-4" (click)="deleteSpend()">
                    Eliminar
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>