<div class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-xl-10 col-md-8 col-7 text-left title">
          <i class="fa fa-clock-o"></i>
          {{
            translate.app.frontEnd.pages.travel_management
              .approver_travels.manged_travel.tittle
          }}
        </div>
        <div
          class="col-xl-2 col-md-4 col-5 text-center cursor-general"
          style="padding-right: 0px"
        >
          <div
            class="buttonBack img-zoom"
            (click)="returnBackTravel()"
          >
            <div class="padding-back">
              <i class="fa fa-fw fa-sign-in fa-rotate-180 fa-lg"></i>
              <span>
                {{
                  translate.app.frontEnd.pages.travel_management
                    .approver_travels.manged_travel.back
                }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-hr-container justify-content-center">
    <div class="col-12  widget bg-white minHeight">
      <div class="border-botton-general">
        <div
          class="row top-containter"
          *ngIf="travelsRequestsManagedType == 'travels'"
        >
          <div
            class="col-12 text-left"
            *ngIf="managedRequestTravel.length == 1"
          >
            <h3 class="font-color-default">
              <i class="fa fa-fw fa-cog fa-spin text-primary-hr"></i>
              {{
                translate.app.frontEnd.pages.travel_management
                  .approver_travels.manged_travel.message_start
              }}
              {{ managedRequestTravel.length }}
              {{
                translate.app.frontEnd.pages.travel_management
                  .approver_travels.manged_travel.message_travel_end
              }}
            </h3>
          </div>
          <div
            class="col-6 text-left"
            *ngIf="managedRequestTravel.length > 1"
          >
            <h3 class="font-color-default">
              <i class="fa fa-fw fa-cog fa-spin text-primary-hr"></i>
              {{
                translate.app.frontEnd.pages.travel_management
                  .approver_travels.manged_travel.message_start
              }}
              {{ managedRequestTravel.length }}
              {{
                translate.app.frontEnd.pages.travel_management
                  .approver_travels.manged_travel.message_travel_end
              }}
            </h3>
          </div>
          <div
            class="col-xl-6 col-lg-4 col-12 text-left"
            *ngIf="managedRequestTravel.length == 0"
          >
            <h3 class="font-color-default">
              <i class="fa fa-fw fa-cog text-primary-hr"></i>
              {{
                translate.app.frontEnd.pages.travel_management
                  .approver_travels.manged_travel.message_untravel
              }}
            </h3>
          </div>
        </div>
        <div
          class="row top-containter"
          *ngIf="travelsRequestsManagedType == 'advance'"
        >
          <div
            class="col-12 text-left"
            *ngIf="managedRequestTravel == 1"
          >
            <h3 class="font-color-default">
              <i class="fa fa-fw fa-cog fa-spin text-primary-hr"></i>
              {{
                translate.app.frontEnd.pages.travel_management
                  .approver_travels.manged_travel.message_start
              }}
              {{ managedRequestTravel.length }}
              {{
                translate.app.frontEnd.pages.travel_management
                  .approver_travels.manged_travel.message_advance_end
              }}
            </h3>
          </div>
          <div
            class="col-6 text-left"
            *ngIf="managedRequestTravel.length > 1"
          >
            <h3 class="font-color-default">
              <i class="fa fa-fw fa-cog fa-spin text-primary-hr"></i>
              {{
                translate.app.frontEnd.pages.travel_management
                  .approver_travels.manged_travel
                  .message_start_advance
              }}
              {{ managedRequestTravel.length }}
              {{
                translate.app.frontEnd.pages.travel_management
                  .approver_travels.manged_travel.message_advance_end
              }}
            </h3>
          </div>
          <div
            class="col-xl-6 col-lg-4 col-12 text-left"
            *ngIf="managedRequestTravel.length == 0"
          >
            <h3 class="font-color-default">
              <i class="fa fa-fw fa-cog text-primary-hr"></i>
              {{
                translate.app.frontEnd.pages.travel_management
                  .approver_travels.manged_travel.message_unadvance
              }}
            </h3>
          </div>
        </div>
        <div
          class="row top-containter"
          *ngIf="travelsRequestsManagedType == 'spend'"
        >
          <div
            class="col-12 text-left"
            *ngIf="managedRequestTravel.length == 1"
          >
            <h3 class="font-color-default">
              <i class="fa fa-fw fa-cog fa-spin text-primary-hr"></i>
              {{
                translate.app.frontEnd.pages.travel_management
                  .approver_travels.manged_travel.message_start
              }}
              {{ managedRequestTravel.length }}
              {{
                translate.app.frontEnd.pages.travel_management
                  .approver_travels.manged_travel.message_travel_spend
              }}
            </h3>
          </div>
          <div
            class="col-6 text-left"
            *ngIf="managedRequestTravel.length > 1"
          >
            <h3 class="font-color-default">
              <i class="fa fa-fw fa-cog fa-spin text-primary-hr"></i>
              {{
                translate.app.frontEnd.pages.travel_management
                  .approver_travels.manged_travel.message_start
              }}
              {{ managedRequestTravel.length }}
              {{
                translate.app.frontEnd.pages.travel_management
                  .approver_travels.manged_travel.message_travel_spend
              }}
            </h3>
          </div>
          <div
            class="col-xl-6 col-lg-4 col-12 text-left"
            *ngIf="managedRequestTravel.length == 0"
          >
            <h3 class="font-color-default">
              <i class="fa fa-fw fa-cog text-primary-hr"></i>
              {{
                translate.app.frontEnd.pages.travel_management
                  .approver_travels.manged_travel.message_unspend
              }}
            </h3>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-6">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle cursor-general tabDate"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fa fa-plus"></i>
                {{
                  translate.app.frontEnd.pages.travel_management
                    .approver_travels.manged_travel.btn_filter
                }}
              </a>
              <div
                class="dropdown-menu col-12"
                aria-labelledby="navbarDropdown"
                style="overflow-y: auto !important; max-height: 400px !important"
              >
                <div
                  *ngFor="
                    let managed of typesRequestManaged;
                    let i = index
                  "
                >
                  <a
                    class="dropdown-item color-font-gree text-capitalize cursor-general"
                    (click)="selectTypeRequestsManaged(managed)"
                    >{{ managed.name | lowercase }}</a
                  >
                  <div
                    *ngIf="typesRequestManaged.length !== i + 1"
                    class="dropdown-divider"
                  ></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- begin filters -->
      <div class="border-botton-general">
        <div class="row top-containter">
          <div class="col-xl-4 col-lg-4 col-12 text-left">
            <b>
              {{
                translate.app.frontEnd.pages.travel_management
                  .approver_travels.manged_travel.query_filters
              }}
            </b>
            <i
              *ngIf="!is_collapse"
              class="fa fa-fw icon-collapse fa-plus fa-1x cursor-general"
              data-toggle="collapse"
              data-target="#collapseFilter"
              aria-expanded="false"
              (click)="collapse(true)"
            ></i>
            <i
              *ngIf="is_collapse"
              class="fa fa-fw icon-collapse fa-minus fa-1x cursor-general"
              data-toggle="collapse"
              data-target="#collapseFilter"
              aria-expanded="false"
              (click)="collapse(false)"
            ></i>
          </div>
        </div>
      </div>

      <div
        class="collapse top-general-p border-botton-general"
        id="collapseFilter"
      >
        <div class="row align-items-center">
          <div class="col-12" style="padding-bottom: 15px">
            <div class="row align-items-center">
              <div class="col-lg-3 col-md-6 col-12">
                <label>{{
                  translate.app.frontEnd.pages.travel_management
                    .approver_travels.manged_travel.btn_hr
                }}</label>
                <div class="row">
                  <div class="col-9">
                    <input
                      type="text"
                      [(ngModel)]="codIHR"
                      class="form-control"
                    />
                  </div>
                  <div class="col-3">
                    <button
                      type="button"
                      class="btn btn-block cursor-general tabDate"
                      (click)="filter('codIHR')"
                    >
                      <i
                        class="fa fa-search"
                        style="margin-left: -5px;"
                      ></i>
                    </button>
                  </div>
                </div>
              </div>
              <!-- <div class="col-lg-3 col-md-6 col-12">
                <label>{{translate.app.frontEnd.pages.travel_management.approver_travels.manged_travel.btn_sap}}</label>
                <div class="row">
                  <div class="col-9">
                    <input type="text" [(ngModel)]="codSAP" class="form-control">
                  </div>
                  <div class="col-3">
                    <button type="button" class="btn btn-block cursor-general tabDate" (click)="filter('codSAP')">
                      <i class="fa fa-search" style="margin-left: -5px;"></i>
                    </button>
                  </div>
                </div>
              </div> -->
              <div class="col-lg-6 col-md-12 col-12">
                <div class="row">
                  <div class="col-5">
                    <label>{{
                      translate.app.frontEnd.pages.travel_management
                        .approver_travels.manged_travel.date_begin
                    }}</label>
                    <input
                      type="date"
                      [(ngModel)]="datesBegin"
                      class="form-control"
                    />
                  </div>
                  <div class="col-5">
                    <label>{{
                      translate.app.frontEnd.pages.travel_management
                        .approver_travels.manged_travel.date_end
                    }}</label>
                    <input
                      type="date"
                      [(ngModel)]="datesEnd"
                      class="form-control"
                    />
                  </div>
                  <div class="col-2 align-self-end">
                    <button
                      type="button"
                      class="btn btn-block cursor-general tabDate"
                      (click)="filter('dates')"
                    >
                      <i
                        class="fa fa-search"
                        style="margin-left: -5px;"
                      ></i>
                    </button>
                  </div>
                </div>
              </div>

              <!-- <div class="col-lg-3 col-md-4 col-12">
                <label>Estado</label>
                <select type="date" [(ngModel)]="status" class="form-control" (change)="filter('status')">
                  <option value="">Todos</option>
                  <option value="ReqReg">Registrado</option>
                  <option value="ReqPro">En proceso</option>
                  <option value="ReqApp">Aprobado</option>
                  <option value="ReqCan">Cancelado</option>
                  <option value="ReqWai">En espera</option>
                </select>
              </div> -->
              <!-- <div class="col-lg-3 col-md-4 col-12">
                <label>Estado Liquidacion</label>
                <select type="date" [(ngModel)]="statusLiquid" class="form-control" (change)="filter('statusLiquid')">
                  <option value="">Todos</option>
                  <option value="LiqPen">A liquidar</option>
                  <option value="LiqApp">Liquidado</option>
                  <option value="LiqAnn">Anulado</option>
                </select>
              </div> -->
              <div class="col-lg-3 col-md-4 col-12">
                <label>{{
                  translate.app.frontEnd.pages.travel_management
                    .approver_travels.manged_travel.applicant
                }}</label>
                <div class="row">
                  <div class="col-9">
                    <input
                      type="text"
                      [(ngModel)]="codEmployee"
                      class="form-control"
                    />
                  </div>
                  <div class="col-3">
                    <button
                      type="button"
                      class="btn btn-block cursor-general tabDate"
                      (click)="filter('codEmployee')"
                    >
                      <i
                        class="fa fa-search"
                        style="margin-left: -5px;"
                      ></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end filters -->

      <div
        class="row justify-content-center top-general-p"
        *ngIf="managedRequestTravel.length == 0"
      >
        <div class="col-lg-8 col-12 text-center">
          <div class="alert alert-warning" role="alert">
            {{
              translate.app.frontEnd.pages.travel_management
                .approver_travels.manged_travel.negative_message
            }}
          </div>
        </div>
      </div>

      <div
        class="row justify-content-center top-containter"
        *ngIf="managedRequestTravel.length > 0"
      >
        <div class="col-12">
          <div
            class="widget bg-white-1x"
            *ngFor="let requestManaged of managedRequestTravel"
          >
            <div class="row align-items-center">
              <!-- <div class="col-xl-2 col-lg-2 col-md-3 col-12">
                <h5>
                  <span class="badge badge-warning">
                    Ticket #{{requestManaged.ticket}}
                  </span>
                </h5>
              </div> -->
              <div
                class="col-xl-5 col-lg-2 col-md-9 col-12 text-xl-left text-lg-center text-center top-p"
              >
                <h3 class="font-color-default">
                  {{ requestManaged.ticket_travel }} -
                  {{
                    requestManaged.type_request_to_json.description
                  }}
                </h3>
                <p>
                  <i class="fa fa-plane"></i>
                  {{
                    translate.app.frontEnd.pages.travel_management
                      .approver_travels.manged_travel.date_in
                  }}
                  {{ requestManaged.date_begin_format }} -
                  {{
                    translate.app.frontEnd.pages.travel_management
                      .approver_travels.manged_travel.date_out
                  }}
                  {{ requestManaged.date_end_format }}
                </p>
              </div>
              <div
                class="col-xl-2 col-lg-2 col-md-9 col-12 text-md-left text-center top-p"
              >
                <p class="font-title-general">
                  {{ requestManaged.level_answer_description }}
                </p>
                <p class="">
                  <i
                    class="fa fa-user fa-check-square-o text-primary-hr"
                  ></i>
                  {{ requestManaged.level }}
                </p>
              </div>
              <div
                class="col-xl-2 col-lg-2 col-md-9 col-12 text-md-left text-center top-p"
              >
                <p class="font-title-general">
                  {{
                    translate.app.frontEnd.pages.travel_management
                      .approver_travels.manged_travel.applicant
                  }}
                </p>
                <p class="">
                  <i class="fa fa-user fa-fw text-primary-hr"></i>
                  {{
                    requestManaged.employee_applicant_to_json
                      .short_name
                  }}
                </p>
              </div>
              <div
                class="col-xl-2 col-lg-2 col-md-9 col-12 text-md-left text-center top-p"
              >
                <p class="font-title-general">
                  {{
                    translate.app.frontEnd.pages.travel_management
                      .approver_travels.manged_travel.date_created
                  }}
                </p>
                <p>
                  <i class="fa fa-calendar fa-fw text-primary-hr"></i>
                  {{ requestManaged.created_date }} -
                  <i
                    class="fa fa-fw fa-clock-o font-color-default"
                  ></i
                  >{{ requestManaged.antiquity }}
                </p>
              </div>
              <div
                class="col-xl-1 col-lg-2 col-md-3 col-12 text-center top-p hoverColor"
                (click)="
                  modalAproversTravelManaged(
                    requestManaged,
                    travelsRequestsManagedType
                  )
                "
              >
                <i
                  class="fa fa-eye"
                  aria-hidden="true"
                  style="font-size: 2em; color: #23c6c8"
                ></i>
                <div class="col-12">
                  {{
                    translate.app.frontEnd.pages.travel_management
                      .approver_travels.manged_travel.see
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-approvals-details-travels></app-approvals-details-travels>
