<button id="btn-viewSpends" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_viewSpends" style="display:none;">
</button>
<div class="modal" tabindex="-1" role="dialog" id="modal_viewSpends">
  <div style="margin-top: 10px !important" class="modal-dialog modal-lg" role="document">
    <div class="modal-content ">
      <div class="modal-header borderLine-title">
        <h5 class="modal-title titleColor text-shadow" id="exampleModalLabel">Detalle de Gastos</h5>
        <button id="closeModalViewAdvance" type="button" class="close " data-dismiss="modal" aria-label="Close">
          <h4 class="text-primary-hr">X</h4>
        </button>
      </div>
      <div class="modal-body bodyColorInfo" *ngIf="showSpendDetail !== null">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-12">
            <label class="titleColor">
              <i class="fa fa-fw fa fa-plane text-primary-hr"></i>
              <strong>Nombre del Viaje:</strong>
            </label>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <label>{{showTravelDetail.name_travel}}</label>
          </div>
        </div>
        <div class="row" style="margin-top:20px">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-12">
                <label class="titleColor">
                  <i class="fa fa-fw fa-globe text-primary-hr"></i>
                  <strong>Tipo de Viaje</strong>
                </label>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <label>{{showTravelDetail.travel_type_name}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top:20px">
          <div class="col-lg-3 col-md-6 col-12">
            <label class="titleColor">
              <i class="fa fa-fw fa-check-square-o text-primary-hr"></i>
              <strong>Estado:</strong>
            </label>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <label>
              {{showTravelDetail.travel_requests_type_name}}
            </label>
          </div>
        </div>
        <div class="row justify-content-center" style="margin-top:40px">
          <div class="col-12" style="min-height: 80px !important">
            <app-data-table [records]="objectReport" id="tableViewSpends" [pdf]="showPdf" [sizeTable]="showSizeTable" [title]="nameReport"></app-data-table>
          </div>
        </div>
        <div class="row" style="margin-top: 50px">
          <div class="col-12 top-containter">
            <div class="row">
              <div class="col-lg-8 col-12" *ngFor="let imgsaved of anexes; let index = index">
                <div class="alert" style="background-color:rgba(0,0,0,.2) " role="alert">
                  <div class="row">
                    <div class="col-11">
                      <h6>{{imgsaved.name |slice: 0:40}}
                        <span [hidden]="imgsaved.name.length < 20">...</span>
                      </h6>
                      <p class="badge badge-light wg-hover-general" (click)="viewAnnex(imgsaved)">Ver</p>
                      <p class="badge badge-light wg-hover-general" (click)="downloadAnnex(imgsaved)">Descargar</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-end" style="padding-bottom: 25px">
        <div class="col-lg-4 col-md-6 col-12">
          <button *ngIf="objectPrint.data.length > 0" class="btn btn-success btn-block cursor-general" (click)="sedRequestsSpend()">
            <i class="fa fa-fw fa-save"></i>&nbsp;Enviar aprobación</button>
        </div>
      </div>
      <div class="modal-footerInfo justify-content-center">
        <div class="buttonCloseRequest buttonCloseEmployee btn-close-modals text-center" data-dismiss="modal">
          <h6> Cerrar </h6>
        </div>
      </div>
    </div>
  </div>
</div>