<button
  id="btn_approvals_requests"
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#approvals_requests"
  style="display:none;"
></button>
<div class="modal" id="approvals_requests" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" *ngIf="approvals.length > 0">
      <div class="modal-header borderLine-title row-hr justify-content-center">
        <div class="col-12 col-lg-10 text-center text-lg-left">
          <h4 class="modal-title titleColor text-shadow">
            {{ approvals[0].type_request_to_json.description }}
          </h4>
        </div>
      </div>
      <div class="modal-body font-controls-login">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-12">
              <div class="widget bg-white">
                <div class="row">
                  <div class="col-12">
                    <h3 class="font-color-default tops">
                      <i class="fa fa-user text-primary-hr"></i>
                      {{ parseT('apply_for') | translate }}
                    </h3>
                  </div>
                  <div class="col-12 center-img-employee tops">
                    <div class="menu-img-employee">
                      <img src="{{ approvals[0].employee_applicant_to_json.image.url }}" class="roundPhoto-employee" />
                      <br />
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12">
                        <h3 class="font-color-default tops">
                          {{ approvals[0].employee_applicant_to_json.short_name }}
                        </h3>
                      </div>
                      <div class="col-12">
                        <p class="font-title-general tops">
                          {{ approvals[0].employee_applicant_to_json.position }}
                        </p>
                      </div>
                      <div class="col-12">
                        <p class="font-title-general tops">
                          <i class="fa fa-map-marker text-primary-hr"></i>
                          {{ approvals[0].employee_applicant_to_json.subdivision_per }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-9 col-12">
              <div class="widget bg-white">
                <div class="row">
                  <div class="col-12 text-md-left">
                    <div class="row justify-content-left">
                      <h3 class="font-color-default col-md-2 col-4">{{ parseT('status') | translate }}:</h3>
                      <h6 class="col-4" *ngIf="approvals[0].status == (parseT('status_approved') | translate)">
                        <span class="badge badge-primary" style="margin-top: 5px;">
                          {{ parseT('status_approved') | translate }}
                        </span>
                      </h6>
                      <h6 class="col-4" *ngIf="approvals[0].status == (parseT('status_cancelled') | translate)">
                        <span class="badge badge-danger" style="margin-top: 5px;">
                          {{ parseT('status_cancelled') | translate }}
                        </span>
                      </h6>
                      <h6 class="col-4" *ngIf="approvals[0].status == (parseT('status_in_Process') | translate)">
                        <span class="badge badge-success" style="margin-top: 5px;">
                          {{ parseT('status_in_Process') | translate }}
                        </span>
                      </h6>
                      <h6 class="col-4" *ngIf="approvals[0].status == (parseT('status_pending') | translate)">
                        <span class="badge badge-default" style="margin-top: 5px;">
                          {{ parseT('status_pending') | translate }}
                        </span>
                      </h6>
                    </div>
                  </div>
                  <div class="col-lg-6 col-12 text-md-left text-left">
                    <div class="row">
                      <div class="col-12 text-md-left text-left" *ngIf="approvals[0].days_request != null">
                        <p class="font-title-general">
                          <i class=" font-color-default fa fa-fw fa-calendar"></i>
                          {{ parseT('since') | translate }}:
                          <span style="font-weight: 100 !important">{{ dateSince }}</span>
                        </p>
                      </div>
                      <div class="col-12 text-md-left text-left" *ngIf="approvals[0].date_end_format != null">
                        <p class="font-title-general">
                          <i class=" font-color-default fa fa-fw fa-calendar"></i>
                          {{ parseT('until') | translate }}:
                          <span style="font-weight: 100 !important">{{ dateUntil }}</span>
                        </p>
                      </div>
                      <div class="col-12 text-md-left text-left" *ngIf="approvals[0].date_end_format != null">
                        <p class="font-title-general">
                          <i class="fa fa-fw fa-clock-o font-color-default"></i>
                          {{ parseT('requested_days') | translate }}:
                          <span style="font-weight: 100 !important">{{ approvals[0].days_request }}</span>
                        </p>
                      </div>
                    </div>
                    <div class="row">
                    <ng-container *ngIf="isEdu">
                     
                      <div class="col-12 text-md-left text-left" *ngIf="approvals[0].name_family">
                        <p class="font-title-general">
                          <i class=" font-color-default fa fa-fw fa-calendar"></i>
                          Beneficiario:
                          <span style="font-weight: 100 !important">{{ approvals[0].name_family }}</span>
                        </p>
                      </div>
                      <div class="col-12 text-md-left text-left" *ngIf="approvals[0].name_institute">
                        <p class="font-title-general">
                          <i class=" font-color-default fa fa-fw fa-calendar"></i>
                          Instituto:
                          <span style="font-weight: 100 !important">{{ approvals[0].name_institute }}</span>
                        </p>
                      </div>
                      <div class="col-12 text-md-left text-left" *ngIf="approvals[0].total_ammount">
                        <p class="font-title-general">
                          <i class=" font-color-default fa fa-fw fa-calendar"></i>
                          Monto total:
                          <span style="font-weight: 100 !important">{{ approvals[0].total_ammount }}</span>
                        </p>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="isLogistics">
                      <div class="col-12  text-md-left text-center" *ngIf="approvals[0].details_request.name_family">
                        <p class="font-title-general">
                          <i class="font-color-default fa fa-fw fa-user-circle"></i>
                          Beneficiario:
                          <span style="font-weight: 100 !important">{{ approvals[0].details_request.name_family }}</span>
                        </p>
                      </div>
                      <div
                        class="col-12 text-md-left text-center"
                        *ngIf="approvals[0].details_request.companion_beneficiary_name"
                      >
                        <p class="font-title-general">
                          <i class="font-color-default fa fa-fw fa-users"></i>
                          Nombre Acompañante:
                          <span class="font-weight-normal">{{ approvals[0].details_request.companion_beneficiary_name }}</span>
                        </p>
                      </div>
                      <div class="col-12 text-md-left text-center" *ngIf="approvals[0].details_request.third_name">
                        <p class="font-title-general">
                          <i class="font-color-default fa fa-fw fa-user-secret"></i>
                          Nombre de la persona externa:
                          <span class="font-weight-normal">{{ approvals[0].details_request.third_name }}</span>
                        </p>
                      </div>
                      <div class="col-12 text-md-left text-center" *ngIf="approvals[0].details_request.third_phone">
                        <p class="font-title-general">
                          <i class="font-color-default fa fa-fw fa-phone-square"></i>
                          Telefono de la persona externa:
                          <span class="font-weight-normal">{{ approvals[0].details_request.third_phone }}</span>
                        </p>
                      </div>
                      <div class="col-12 text-md-left text-center" *ngIf="approvals[0].details_request.housing">
                        <p class="font-title-general">
                          <i class="font-color-default fa fa-fw fa-home"></i>
                          Alojamiento seleccionado:
                          <span class="font-weight-normal">{{ approvals[0].details_request.housing }}</span>
                        </p>
                      </div>

                      <div class="col-12 text-md-left text-center" *ngIf="approvals[0].details_request.departure_date">
                        <p class="font-title-general">
                          <i class="font-color-default fa fa-fw fa-calendar-minus-o"></i>
                          Fecha de salida:
                          <span class="font-weight-normal">
                            {{ approvals[0].details_request.departure_date | date: 'dd/MM/yyyy' }}
                          </span>
                        </p>
                      </div>
                      <div class="col-12 text-md-left text-center" *ngIf="approvals[0].details_request.arrival_date">
                        <p class="font-title-general">
                          <i class="font-color-default fa fa-fw fa-calendar-plus-o"></i>
                          Fecha de llegada:
                          <span class="font-weight-normal">
                            {{ approvals[0].details_request.arrival_date | date: 'dd/MM/yyyy' }}
                          </span>
                        </p>
                      </div>
                      <div class="col-12 text-md-left text-center" *ngIf="approvals[0].details_request.cost_center">
                        <p class="font-title-general">
                          <i class="font-color-default fa fa-fw fa-money"></i>
                          Centro de costo:
                          <span class="font-weight-normal">{{ approvals[0].details_request.cost_center }}</span>
                        </p>
                      </div>
                      <div class="col-12 text-md-left text-center" *ngIf="approvals[0].details_request.vehicle">
                        <p class="font-title-general">
                          <i class="font-color-default fa fa-fw fa-car"></i>
                          Vehiculo de viaje:
                          <span class="font-weight-normal">{{ approvals[0].details_request.vehicle }}</span>
                        </p>
                      </div>
                      <div class="col-12 text-md-left text-center" *ngIf="approvals[0].details_request.destiny">
                        <p class="font-title-general">
                          <i class="font-color-default fa fa-fw fa-hospital-o"></i>
                          Campamento destino:
                          <span class="font-weight-normal">{{ approvals[0].details_request.destiny }}</span>
                        </p>
                      </div>
                    </ng-container>
                    </div>
                  </div>
                  <div class="col-lg-6 col-12 text-md-left text-left">
                    <div class="row">
                      <div class="col-12 text-md-left text-left" *ngIf="approvals[0].updated_date != null">
                        <p class="font-title-general">
                          <i class=" font-color-default fa fa-fw fa-calendar"></i>
                          {{ parseT('last_update') | translate }}:
                          <span style="font-weight: 100 !important">{{ approvals[0].updated_date }}</span>
                        </p>
                      </div>
                      <div class="col-12 text-md-left text-left" *ngIf="approvals[0].created_date != null">
                        <p class="font-title-general">
                          <i class=" font-color-default fa fa-fw fa-calendar"></i>
                          {{ parseT('creation') | translate }}:
                          <span style="font-weight: 100 !important">{{ approvals[0].created_date }}</span>
                        </p>
                      </div>
                      <div class="col-12 text-md-left text-left">
                        <p class="font-title-general">
                          <i class="fa fa-fw fa-users font-color-default"></i>
                          {{ parseT('approver') | translate }}:
                          <span style="font-weight: 100 !important">{{ approvals[0].approvers_to_json.length }}</span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 text-left" *ngIf="approvals[0].observation_request != null">
                    <p class="font-title-general">
                      <i class="fa fa-fw fa-comment font-color-default"></i>
                      {{ parseT('observations') | translate }}:
                      <span style="font-weight: 100 !important">{{ approvals[0].observation_request }}</span>
                    </p>
                  </div>

                  <div class="col-12 text-left" *ngIf="approvals[0].image?.url">
                    <p class="font-title-general">
                      <i class="fa fa-fw fa-paperclip font-color-default"></i>
                      {{ parseT('attached') | translate }}:
                      <span style=" color: rgb(60, 211, 211); cursor: pointer;" (click)="viewSupport()">Ver</span>
                    </p>
                  </div>

                  <div class="col-12 text-md-left">
                    <div class="row justify-content-left tops">
                      <h3 class="font-color-default col-2">{{ parseT('approver') | translate }}:</h3>
                    </div>
                    <div class="row justify-content-between">
                      <div
                        class="col-md-3 col-6 center-img-aprovers tops"
                        *ngFor="let approvers of approvals[0].approvers_to_json"
                      >
                        <div class="img-approvers" *ngIf="approvers.image != null">
                          <img src="{{ approvers.image.url }}" class="img-employee" />
                          <br />
                        </div>
                        <p
                          *ngIf="approvers.short_name != null"
                          class="paddingInfo text-left text-md-center"
                          style="font-weight: 100 !important"
                        >
                          {{ approvers.short_name }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <ul class="nav nav-tabs" *ngIf="approvals[0].approver_platform == 'I'">
                      <li id="litab1" class="nav-item" style="width: 50%" *ngIf="edit">
                        <a
                          id="atab1"
                          class="nav-link a-contacts bg-tabs"
                          [ngClass]="{ active: edit }"
                          data-toggle="tab"
                          href="#Approval"
                        >
                          {{ parseT('manage_request') | translate }}
                        </a>
                      </li>
                      <li id="litab2" class="nav-item" style="width: 50%">
                        <a
                          id="atab2"
                          class="nav-link a-contacts bg-tabs"
                          [ngClass]="{ active: !edit }"
                          data-toggle="tab"
                          href="#Detail"
                        >
                          {{ parseT('see_details') | translate }}
                        </a>
                      </li>
                    </ul>
                    <ul class="nav nav-tabs" *ngIf="approvals[0].approver_platform == 'S'">
                      <li id="litab2" class="nav-item" style="width: 50%">
                        <a id="atab2" class="nav-link a-contacts bg-tabs" class="active" data-toggle="tab" href="#Detail">
                          {{ parseT('see_details') | translate }}
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="row top-general">
                  <div
                    *ngIf="approvals[0].approver_platform == 'I'"
                    class="tab-content"
                    style="margin-left: 5% !important; width: 90% !important"
                  >
                    <div
                      id="Approval"
                      class="tab-pane text-muted"
                      [ngClass]="{ active: edit }"
                      style="background-color: transparent !important"
                    >
                      <div class="row">
                        <div class="col-12" *ngIf="prerequisit" style="text-align: justify !important">
                          <div class="row justify-content-center">
                            <div class="col-12" [innerHTML]="approvals[0].type_request_to_json.prerequisites"></div>
                            <div class="col-md-4 col-12">
                              <div class="btn btn-success top-general-p cursor-general btn-block" (click)="aceptPrerequisit()">
                                <i class="fa fa-fw fa-check"></i>
                                {{ parseT('accept') | translate }}
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 tops" *ngIf="!prerequisit">
                          <div class="row justify-content-center">
                            <div class="col-lg-6 col-md-6 col-8">
                              <span *ngIf="switch == 'off'">
                                {{ parseT('rejected') | translate }}
                              </span>
                              <span *ngIf="switch == 'on'">
                                {{ parseT('approved') | translate }}
                              </span>
                            </div>
                            <div class="col-4">
                              <div class="top-interruptor">
                                <input type="radio" name="interruptor" id="prendido" checked />
                                <input type="radio" name="interruptor" id="apagado" />
                                <div class="interruptor-cuerpo">
                                  <div class="interruptor-tecla">
                                    <label for="prendido" (click)="onAprovlas()"></label>
                                    <label for="apagado" (click)="offAprovlas()"></label>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-12 text-left">
                              {{ parseT('description') | translate }}
                            </div>
                            <div class="col-12">
                              <textarea
                                class="form-control"
                                [(ngModel)]="description"
                                rows="3"
                                style="height: auto !important;"
                              ></textarea>
                            </div>
                            <!-- <ng-container *ngIf="approvals[0].approvers_to_json.is_last">
                              <div class="col-6">
                                Inicio validez*
                                <input type="date" class="form-control" [(ngModel)]="validity_begin" />
                              </div>
                              <div class="col-6">
                                Final validez*
                                <input type="date" class="form-control" [(ngModel)]="validity_end" />
                              </div>
                              <div class="col-6">
                                Fecha de pago*
                                <input type="date" class="form-control" [(ngModel)]="date_pay" />
                              </div>
                            </ng-container> -->
                            <div class="col-md-6 col-12 mt-4">
                              <button type="button" *ngIf="showSubmit" class="btn btn-success btn-block" (click)="saveApproval()">
                                <i class="fa fa-fw fa-floppy-o"></i>{{ parseT('save') | translate }}
                              </button>
                              <button type="button" *ngIf="!showSubmit" class="btn btn-warning btn-block">
                                <i class="fa fa-fw fa-spinner fa-spin"></i>{{ parseT('loading') | translate }}
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      id="Detail"
                      class="tab-pane text-muted"
                      [ngClass]="{ active: !edit }"
                      style="background-color: transparent !important"
                    >
                      <div class="col-12 tab-pane">
                        <div *ngIf="approvals[0].answers_to_json.length > 0" class="">
                          <div
                            class="row justify-content-center border-botton-general"
                            *ngFor="let details of approvals[0].answers_to_json"
                          >
                            <div class="col-12 text-left">
                              <i class="fa fa-fw fa-spin fa-spinner" aria-hidden="true"></i>
                              {{ parseT('level_approver') | translate }}
                              {{ details.approver_to_json.level }}
                            </div>
                            <div class="col-12 text-left">
                              <h3 class="font-color-default">
                                {{ details.status }} por
                                {{ details.approver_to_json.name }}
                              </h3>
                            </div>
                            <div class="col-12 text-left">
                              <h3 class="font-color-default">{{ parseT('description') | translate }}:</h3>
                            </div>
                            <div class="col-12 text-left">
                              {{ details.description }}
                            </div>
                          </div>
                        </div>
                        <div *ngIf="approvals[0].answers_to_json.length == 0">
                          <div class="row justify-content-center">
                            <div class="col-12 text-center top-general">
                              <h3 class="font-color-default">
                                {{ parseT('lack_details') | translate }}
                              </h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    *ngIf="approvals[0].approver_platform == 'S'"
                    class="tab-content"
                    style="margin-left: 5% !important; width: 90% !important"
                  >
                    <div id="Detail" class="tab-pane text-muted active" style="background-color: transparent !important">
                      <div class="col-12 tab-pane">
                        <div *ngIf="approvals[0].answers_to_json.length > 0" class="">
                          <div
                            class="row justify-content-center border-botton-general"
                            *ngFor="let details of approvals[0].answers_to_json"
                          >
                            <div class="col-12 text-left">
                              <i class="fa fa-fw fa-spin fa-spinner" aria-hidden="true"></i>
                              {{ parseT('level_approver') | translate }}
                              {{ details.approver_to_json.level }}
                            </div>
                            <div class="col-12 text-left">
                              <h3 class="font-color-default">
                                {{ details.status }} por
                                {{ details.approver_to_json.name }}
                              </h3>
                            </div>
                            <div class="col-12 text-left">
                              <h3 class="font-color-default">{{ parseT('description') | translate }}:</h3>
                            </div>
                            <div class="col-12 text-left">
                              {{ details.description }}
                            </div>
                          </div>
                        </div>
                        <div *ngIf="approvals[0].answers_to_json.length == 0">
                          <div class="row justify-content-center">
                            <div class="col-12 text-center top-general">
                              <h3 class="font-color-default">
                                {{ parseT('lack_details') | translate }}
                              </h3>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footerInfo justify-content-center">
        <div class="buttonApprovalsRequests buttonCloseEmployee btn-close-modals text-center" data-dismiss="modal">
          <h6>
            {{ parseT('button_close') | translate }}
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
