<div id="right-sidebar" class="sidebar-open sidebar-top container-contacts">
  <div class="sidebar-container" style=" overflow: hidden;width: auto;  height: 100%;">
    <div class="scrollbar scrollbar-success force-overflow ">
      <ul class="nav nav-tabs">
        <li id="litab1" class="nav-item" style="width: 50%">
          <a id="atab1" class="nav-link a-contacts bg-tabs active" data-toggle="tab" href="#tab-1">
            Compañeros
          </a>
        </li>
        <li id="litab2" class="nav-item" style="width: 50%">
          <a id="atab2" class="nav-link a-contacts bg-tabs" data-toggle="tab" href="#tab-2">
            Chats
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="tab-1" class="tab-pane active">
          <div class="Search-bar">
            <input id="busqueda" type="text" class="form-control" placeholder="Buscar amigos">
            <i class="search-input-icon fa fa-search icon-search"></i>
          </div>
          <div *ngFor="let contacto of Contacts; let index=index; let odd=odd; let even=even;" [ngClass]="{ odd: odd, even: even }">
            <div class="row justify-content-center">
              <div class="col-3">
                <img src="{{contacto.photo}}" class="roundPhoto">
                <br>
              </div>
              <div class="col-9">
                {{contacto.name}}
                <br>{{contacto.info}}
                <br> {{contacto.date}}
                <div class="starIcon">
                  <span>
                    <i class="fa fa-star-o text-warning"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-2" class="tab-pane">
          <div *ngFor="let item of Chats; let index=index; let odd=odd; let even=even;" [ngClass]="{ odd: odd, even: even }">
            <div class="row">
              <div class="col-3">
                <img src="{{item.photo}}" class="roundPhoto">
                <br>
              </div>
              <div class="col-6" >
                {{item.name}}
                <br>{{item.conver}}
              </div>
              <div class="col-3 ">
                <div>
                  <button id="closeChat" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div>
                  <i class="fa fa-circle icon-active" *ngIf="item.status" aria-hidden="true"></i>
                  <i class="fa fa-circle icon-disabled" *ngIf="!item.status" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-white">
            No tienes más conversaciones
          </div>
        </div>
      </div>
    </div>
  </div>
</div>