<ng-template #stepOne>
  <div class="col-12">
    <div class="row">
      <div class="col-12 col-md-6 text-truncate">
        <label class="font-title-general">
          <i class="fa fa-fw fa-bus text-primary-hr"></i>
          {{ parseT('car_identify') | translate }} *
        </label>
        <input type="text" class="form-control" [readonly]="readOnlyFleet" [formControl]="forms.vehicle_plate" />
      </div>
      <div class="col-12 col-md-6 text-truncate">
        <label class="font-title-general">
          <i class="fa fa-fw  fa-user-o text-primary-hr"></i>
          {{ parseT('driver') | translate }} *
        </label>
        <input type="text" class="form-control" [readonly]="readOnlyFleet" [formControl]="forms.driver" />
      </div>
      <div class="col-12 col-md-6 top-containter">
        <label class="font-title-general">
          <i class="fa fa-fw fa-users text-primary-hr"></i>
          {{ parseT('company') | translate }} *
        </label>
        <input type="text" class="form-control" [readonly]="readOnlyFleet" [formControl]="forms.company" />
      </div>
      <div class="col-12 col-md-6 text-truncate">
        <label class="font-title-general">
          <i class="fa fa-fw fa-braille text-primary-hr"></i>
          {{ parseT('positions') | translate }} *
        </label>
        <input type="number" class="form-control" [readonly]="readOnlyFleet" [formControl]="forms.number_positions" />
      </div>
      <div class="col-12 col-md-6 top-containter">
        <label class="font-title-general">
          <i class="fa fa-fw fa-lightbulb-o text-primary-hr"></i>
          {{ parseT('service') | translate }} *
        </label>
        <select class="form-control" [attr.disabled]="readOnlyFleet ? true : null" [formControl]="forms.type_service">
          <option value="">{{ parseT('select') | translate }}</option>
          <option *ngFor="let service of servicesList" [value]="service.id">
            {{ service.name }}
          </option>
        </select>
      </div>
      <div class="col-12 col-md-6 top-containter">
        <label class="font-title-general">
          <i class="fa fa-fw fa-phone-square text-primary-hr"></i>
          {{ parseT('phone_driver') | translate }} *
        </label>
        <input type="number" class="form-control" [readonly]="readOnlyFleet" [formControl]="forms.phone_driver" />
      </div>
    </div>
  </div>
</ng-template>
<ng-template #stepTwo>
  <div class="col-12">
    <div class="container-fluid py-3">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive mt-3">
            <ng-container *ngIf="journeys.length > 0; else elseTemplate">
              <table class="table table-sm table-striped table-bordered">
                <thead>
                  <tr>
                    <th class="text-center">
                      {{ parseT('origin') | translate }}
                    </th>
                    <th class="text-center">
                      {{ parseT('destiny') | translate }}
                    </th>
                    <th class="text-center">
                      {{ parseT('begin_date') | translate }}
                    </th>
                    <th class="text-center">
                      {{ parseT('time') | translate }}
                    </th>
                    <th class="text-center" *ngIf="!readOnlyFleet">
                      {{ parseT('erase') | translate }}
                    </th>
                  </tr>
                </thead>
                <tbody style="color: #fff;">
                  <tr *ngFor="let journey of journeys">
                    <td>
                      {{ journey.origin }}
                    </td>
                    <td>
                      {{ journey.destiny }}
                    </td>
                    <td>
                      {{ journey.date_time_departure }}
                    </td>
                    <td>
                      {{ journey.durationTrayect }}
                    </td>
                    <td width="10px" *ngIf="!readOnlyFleet">
                      <button
                        type="button"
                        class="btn btn-danger btn-block btn-sm cursor-general"
                        (click)="removeTrayect(journey.id)"
                      >
                        <i class="fa fa-minus"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
            <ng-template #elseTemplate>
              <div class="alert alert-warning text-center" role="alert">
                {{ parseT('negative_journey') | translate }}
              </div>
            </ng-template>
          </div>
        </div>
        <ng-container *ngIf="journeys.length < 2">
          <div class="col-12 col-lg-10 col-xl-11" *ngIf="!readOnlyFleet">
            <div class="container">
              <div class="row">
                <div class="col-12 col-sm-6 text-truncate">
                  <label class="font-title-general">
                    <i class="fa fa-fw fa-list-ol text-primary-hr"></i>
                    {{ parseT('origin') | translate }} *
                  </label>
                  <input type="text" class="form-control" [readonly]="readOnlyFleet" [formControl]="forms.origin" />
                </div>
                <div class="col-12 col-sm-6 text-truncate">
                  <label class="font-title-general">
                    <i class="fa fa-fw fa-list-ol text-primary-hr"></i>
                    {{ parseT('destiny') | translate }} *
                  </label>
                  <input type="text" class="form-control" [readonly]="readOnlyFleet" [formControl]="forms.destiny" />
                </div>
                <div class="col-12 col-sm-6 text-truncate">
                  <label class="font-title-general">
                    <i class="fa fa-fw fa-calendar text-primary-hr"></i>
                    {{ parseT('begin_date') | translate }} *
                  </label>
                  <input
                    type="datetime-local"
                    class="form-control"
                    [readonly]="readOnlyFleet"
                    [formControl]="forms.date_time_departure"
                    (change)="validateDayTrayect(forms.date_time_departure)"
                  />
                </div>
                <div class="col-12 col-sm-6 text-truncate">
                  <label class="font-title-general">
                    <i class="fa fa-fw fa-clock-o text-primary-hr"></i>
                    {{ parseT('time') | translate }} *
                  </label>
                  <input
                    type="number"
                    class="form-control"
                    [readonly]="readOnlyFleet"
                    [formControl]="forms.durationTrayect"
                    placeholder="Ingresa la duracion trayectos"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-2 col-xl-1 d-flex pl-lg-0" *ngIf="!readOnlyFleet">
            <div class="w-100 my-auto">
              <button
                type="button"
                class="btn btn-success btn-block cursor-general mt-4 w-100"
                (click)="addTrayect()"
                [attr.disabled]="
                  forms.origin.value == '' ||
                  forms.destiny.value == '' ||
                  forms.date_time_departure.value == '' ||
                  forms.durationTrayect.value == ''
                    ? true
                    : null
                "
              >
                <i class=" fa fa-plus"></i>
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #modalForms let-modal ng-init="typeCase = formRequests.id_activity">
  <div class="modal-content" [ngClass]="{ 'd-none': !actuallyModalState }">
    <div class="modal-header borderLine-title row-hr justify-content-center">
      <div class="col-12 col-lg-10 text-center">
        <h4 class="modal-title titleColor text-shadow">
          {{ parseT('journey') | translate }}
        </h4>
      </div>
    </div>
    <div class="modal-body font-controls-login">
      <div class="row justify-content-center">
        <div class="col-12">
          <app-stepper-components
            [steps]="[
              {
                label: 'Registro del vehiculo',
                component: stepOne
              },
              {
                label: 'Registro de trayectos',
                component: stepTwo
              }
            ]"
            [stepActive]="stepActive"
          ></app-stepper-components>
        </div>
      </div>
    </div>
    <app-alerts></app-alerts>
    <div class="modal-footerInfo justify-content-center">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <div class="btn text-center btn-secondary btn-block" (click)="handleStep({ back: true })">
              <h6>{{ parseT('back') | translate }}</h6>
            </div>
          </div>
          <div class="col-4">
            <button
              class="btn text-center btn-block"
              [ngClass]="{ 'btn-warning': showSubmit, 'btn-success': !showSubmit }"
              (click)="handleStep({ next: true })"
              [style.cursor]="readOnlyFleet && stepActive === 1 ? 'no-drop' : 'pointer'"
              [attr.disabled]="!validateForms && stepActive === 1 ? true : null"
            >
              <h6 *ngIf="stepActive === 0">{{ parseT('next') | translate }}</h6>
              <h6 *ngIf="stepActive === 1 && !loadingSend">{{ parseT('btn_save') | translate }}</h6>
              <ng-container *ngIf="stepActive === 1 && loadingSend">
                <i class="fa fa-fw fa-spinner fa-spin"></i>
                <h6>{{ 'components.common.approvals_details.loading' | translate }}</h6>
              </ng-container>
            </button>
          </div>
          <div class="col-4">
            <div class="btn btn-primary text-center btn-block" (click)="ngbModalRefTrans.close()">
              <h6>{{ parseT('btn_close') | translate }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
