<div *ngIf="objectWidget" class="widget white-bg wg-hover-general wg-hover-bg p-lg">
  <div class="row">
    <div class="col-12">
      <strong>
        {{objectWidget.title}}
      </strong>
    </div>
  </div>
  <div class="row" *ngFor="let queryCompany of objectWidget.data; let bgprimary=odd; let bginfo=even;">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-8 text-left">
              <i class="fa-fw {{queryCompany.icon}}"></i>
              {{queryCompany.title}}              
            </div>
            <div class="col-4 text-right">
              {{queryCompany.percentage_value}}
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="progress">
            <div [ngClass]="{ bgprimary: bgprimary, bginfo: bginfo }" class="progress-bar progress-bar-striped progress-bar-animated"
              role="progressbar" [ngStyle]="{'width':queryCompany.percentage_value }" [attr.aria-valuenow]="queryCompany.value"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!objectWidget" class="widget bg-white wg-hover-general wg-hover-bg navy-bg">
  <div>
    <i class="fa fa-exclamation fa-3x"></i>
    <h3 class="font-bold m-l-n" style="margin-left: -22px; margin-right: -30px">
      No se encontraron datos disponibles.
    </h3>
  </div>
</div>