.bg-button-search{
    width: 33px;
    height: 33px;
    border-radius: 33px;
    color: #fff;
    background: var(--btn-primary);
    padding-top: 5px;
    text-decoration: none;     
    transition: all 500ms ease;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}