<div class="row-hr-container">
  <div class="col-12">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-md-8 col-7 text-left title">
        <i class="fa fa-money"></i>
        Anticipos
      </div>
      <div class="col-xl-2 col-md-4 col-5  text-center cursor-general" style="padding-right: 0px">
        <div class="buttonBack img-zoom" (click)="returnBackPage()">
          <div class="padding-back">
            <i class="fa fa-fw fa-sign-in fa-rotate-180 fa-lg"></i>
            <span>
              Atrás
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row-hr-container justify-content-center">
  <div class="col-12  widget bg-white minHeight">
    <div class="border-botton-general">
      <div class="row justify-content-center top-containter">
        <div class="col-lg-4 col-12">
          <div class="row" style="margin-top: 10px">
            <div class="col-12">
              <button id="btn-travelManagement" type="button" class="btn tabDate btn-block cursor-general" (click)="newAdvanceTravel()">
                <i class="fa fa-plus">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i>
                Nuevo Anticipo
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row top-containter" style="margin-top: 20px">
      <div class="col-12 text-left">
        <form>
          <input *ngIf="userAuthenticated.employee.trip_by_third" type="radio" name="travel" id="advance_request"
            checked (click)="checkAdvance('advance_request')" />
          <b>
            Mis anticipos registrados
          </b>
          &nbsp;&nbsp;
          <input *ngIf="userAuthenticated.employee.trip_by_third" type="radio" name="travel" id="my_advance_request"
            (click)="checkAdvance('my_advance_request')" />
          <b *ngIf="userAuthenticated.employee.trip_by_third">
            Anticipos registrados a terceros
          </b>
        </form>
      </div>
    </div>
    <div class="row justify-content-center top-containter">
      <div class="col-12">
        <div class="widget bg-white-1x" *ngFor="let advance of advancesItems;">
          <div class="row align-items-center">
            <div class="col-lg-4 col-md-3 col-12">
              <h5>
                <span class="badge badge-warning">
                  Código # {{advance.id}}
                </span>
              </h5>
              <!-- <p>
                <i class="fa fa-clock-o"></i>
                Creada el {{advance.date_created_at}}
              </p> -->
            </div>
            <div class="col-lg-3 col-md-9 col-12 text-xl-left text-lg-center text-center top-p">
              <h3 class="font-color-default">
                {{advance.name_travel | slice: 0:59}}
                <span [hidden]="advance.travel_request_name.length < 59"></span>
              </h3>
            </div>
            <div class="col-lg-2 col-md-9 col-12 text-md-left text-center top-p">
              <p class="font-title-general">
                Estado:
              </p>
              <h6>
                <span class="badge badge-primary">
                  {{advance.status_name}}
                </span>
              </h6>
            </div>
            <div class="col-lg-2 col-md-9 col-12 text-md-left text-center top-p">
              <p class="font-title-general">
                Solicitud de viaje
              </p>
              <p class="">
                <i class="fa fa-hashtag fa-fw text-primary-hr"></i>
                {{advance.travel_request_id}}
              </p>
            </div>
            <div class="col-lg-1 col-md-4 col-4 top-p text-align-center">
              <div class="row">
                <div class="col-12 text-success number-size" id="hideTrash" style="cursor: pointer" (click)="showAdvance(advance.id)">
                  <i class="fa fa-eye" aria-hidden="true" style="font-size:2em"></i>
                </div>
                <div class="col-12" (click)="showAdvance(advance.id)">
                  Ver
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-new-advances *ngIf="!token"></app-new-advances>
<app-view-advance></app-view-advance>