<div *ngIf="token">
  <app-error-page-http [objectPage]="objectToken"></app-error-page-http>
</div>

<div *ngIf="!token" class="heigth-content-general">

  <div class="row-hr-container">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-xl-10 col-md-8 col-7 text-left title">
          <i class="fa fa-edit"></i>
          Solicitudes
        </div>
        <div class="col-xl-2 col-md-4 col-5  text-center cursor-general" style="padding-right: 0px">
          <div class="buttonBack img-zoom" (click)="returnBackPage()">
            <div class="padding-back">
              <i class="fa fa-fw fa-sign-in fa-rotate-180 fa-lg"></i>
              <span>
                Atrás
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row-hr-container justify-content-center" *ngIf="viewContainer">
    <div class="col-12  widget bg-white minHeight">
      <div class="row justify-content-center top-containter">
        <div class="col-lg-4 col-12">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle cursor-general tabDate" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-plus"></i>
                Crear nueva solicitud
              </a>
              <div class="dropdown-menu col-12" aria-labelledby="navbarDropdown" style="overflow-y: auto !important; max-height: 400px !important">
                <div *ngFor="let request of requests.request_types; let i = index">
                  <a class="dropdown-item color-font-gree text-capitalize cursor-general" (click)="newForm(request)">{{request.name
                    | lowercase}}</a>
                  <div *ngIf="requests.request_types.length !== (i + 1)" class="dropdown-divider"></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>


      <div class="border-botton-general">
        <div class="row top-containter">
          <div class="col-xl-4 col-lg-4 col-12 text-left">
            <b>
              Filtros de consulta
            </b>
            <i *ngIf="!is_collapse" class="fa fa-fw icon-collapse fa-plus fa-1x cursor-general" data-toggle="collapse"
              data-target="#collapseExample" aria-expanded="false" (click)="collapse(true)"></i>
            <i *ngIf="is_collapse" class="fa fa-fw icon-collapse fa-minus fa-1x cursor-general" data-toggle="collapse"
              data-target="#collapseExample" aria-expanded="false" (click)="collapse(false)"></i>
          </div>
        </div>
      </div>

      <div class="collapse top-general-p border-botton-general" id="collapseExample">
        <div class="row align-items-center">
          <div class="col-12 col-md-6 col-lg-3" *ngFor="let request of listTypesFilters; let i = index">
            <div class="row align-items-center">
              <div class="col-2">
                <div *ngIf="!request.active" class="text-warning cursor-general number-size" (click)="selectedRequest(request)">
                  <i class="fa fa-square-o"></i>
                </div>
                <div *ngIf="request.active" class="text-success cursor-general number-size" (click)="selectedRequest(request)">
                  <i class="fa fa-check-square-o"></i>
                </div>
              </div>
              <div class="col-10 text-left text-capitalize">
                {{request.name | lowercase}}
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row top-containter" style="margin-top: 20px">
        <div class="col-xl-2 col-lg-4 col-12 text-left">
          <b>
            Mis Solicitudes
          </b>
        </div>
      </div>


      <div class="row justify-content-center top-containter">
        <div class="col-12">
          <div class="widget bg-white-1x" *ngFor="let request of requests.my_requests_list">
            <div class="row align-items-center">
              <div class="col-lg-2 col-md-3 col-12">
                <h5>
                  <span class="badge badge-warning">
                    Ticket #{{request.ticket}}
                  </span>
                </h5>
                <p>
                  <i class="fa fa-clock-o"></i>
                  Creada el {{request.created_date}}
                </p>
              </div>
              <div class="col-lg-3 col-md-6 col-12 text-lg-left text-center top-p">
                <h3 class="font-color-default">
                  {{request.type_requests_name}}
                </h3>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-12 text-lg-left text-center top-p">
                <p class="font-title-general">
                  Estado:
                </p>
                <h6 *ngIf="request.status == 'Aprobado'">
                  <span class="badge badge-primary">
                    {{request.status}}
                  </span>
                </h6>
                <h6 *ngIf="request.status == 'Cancelado'">
                  <span class="badge badge-danger">
                    {{request.status}}
                  </span>
                </h6>
                <h6 *ngIf="request.status == 'En Proceso'">
                  <span class="badge badge-success">
                    {{request.status}}
                  </span>
                </h6>
                <h6 *ngIf="request.status == 'Pendiente'">
                  <span class="badge badge-default">
                    {{request.status}}
                  </span>
                </h6>
              </div>
              <div class="col-xl-4 col-lg-3 col-md-9 col-12 text-md-left text-center top-p" *ngIf="request.next_approver_to_json != null">
                <p class="font-title-general" *ngIf="request.next_approver_to_json.approver_employee != undefined">
                  {{request.next_approver_to_json.approver_employee.short_name}}
                </p>
                <p class="" *ngIf="request.next_approver_to_json.approver_employee != undefined">
                  {{request.next_approver_to_json.approver_employee.posicion}}
                </p>
                <p class="" *ngIf="request.next_approver_to_json.approver_employee != undefined">
                  Aprobador {{request.next_approver_to_json.level}}
                </p>
              </div>
              <div class="col-xl-4 col-lg-3 col-md-9 col-12 text-md-left text-center top-p" *ngIf="request.next_approver_to_json == null">

              </div>


              <div class="col-lg-2 col-md-3 col-12 text-center top-p">
                <div class="row">
                  <div class="col-6 number-size text-success" [attr.title]="request.action_employee_requets_index_view[0].title"
                    [attr.disabled]="request.action_employee_requets_index_view[0].is_active == true ? null : true"
                    (click)="modalAprovers(request)">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </div>
                  <div class="col-6 number-size text-danger" id="hideTrash" *ngIf=" request.action_employee_requets_index_view[1].is_active == true"
                    style="cursor: pointer" (click)="deleteRequest(request.ticket)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </div>
                  <div class="col-6 number-size" id="hideTrash" *ngIf=" request.action_employee_requets_index_view[1].is_active == false"
                    style="cursor: no-drop">
                    <i class="fa fa-trash" aria-hidden="false"></i>
                  </div>
                  <div class="col-6" (click)="modalAprovers(request)">
                    Ver
                  </div>
                  <div class="col-6" *ngIf=" request.action_employee_requets_index_view[1].is_active == true" (click)="deleteRequest(request.ticket)">
                    Eliminar
                  </div>
                  <div class="col-6" *ngIf=" request.action_employee_requets_index_view[1].is_active == false">
                    Eliminar
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<app-forms-requests *ngIf="!token"></app-forms-requests>
<app-time-line-approvers *ngIf="!token"></app-time-line-approvers>