<header id="headerLogin" *ngIf="dataEnterprise.length > 0">
  <div class="row-hr justify-content-center">
    <div
      class="col-10 col-lg-6 col-md-8 bg-login transition-bg-login"
    >
      <div class="row">
        <div class="col-12">
          <div class="company-logo">
            <img
              *ngIf="dataEnterprise"
              src="{{ dataEnterprise[0].logo_dashboard.url }}"
              alt="Smiley face"
              style="width: 100%; height: 100%"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <h3>
            {{ parseT('title_welcome') | translate }}
          </h3>
          <p class="top">
            {{ parseT('text_system_hr') | translate }}
          </p>
          <p>
            {{ parseT('text_login') | translate }}
          </p>
        </div>
      </div>
      <div class="row align-self-end">
        <div class="col-12 top-form">
          <div
            class="form-group float-general-login width-input-login"
          >
            <input
              [(ngModel)]="txtEmail"
              type="email"
              class="form-control font-controls-login"
              placeholder="Email"
              (keyup)="lowercaseEmail()"
              maxlength="50"
              (blur)="blurEmail()"
            />
          </div>
          <div
            class="form-group float-general-login width-input-login"
            *ngIf="passwordLogin !== null"
          >
            <input
              id="password"
              [(ngModel)]="txtPassword"
              type="password"
              class="form-control font-controls-login"
              placeholder="{{ parseT('password') | translate }}"
              maxlength="20"
              (keyup.enter)="singInSession()"
            />
            <i
              *ngIf="txtPassword.length > 0"
              class="pasword-input-icon fa fa-eye icon-eye"
              on-mouseover="overEyePassword()"
              on-mouseleave="leaveEyePassword()"
            ></i>
          </div>
          <div class="float-general-login">
            <div
              class="btn btn-primary btn-block font-controls-login"
              (click)="singInSession()"
            >
              {{ parseT('btn_start') | translate }}
            </div>
          </div>
          <div
            *ngIf="!dataEnterprise[0].login_ldap"
            class="form-group float-general-login width-input-login text-center"
          >
            <input
              id="chk_remember"
              type="checkbox"
              [attr.checked]="remember"
              (click)="rememberMe()"
            />
            {{ parseT('text_remember') | translate }}
          </div>
          <div class="text-center top">
            <small
              class="reestablish"
              *ngIf="!dataEnterprise[0].login_ldap"
              routerLink="/ihr/reset_account"
              routerLinkActive="active"
              >{{ parseT('text_forget_pass') | translate }}
            </small>
            <small
              class="reestablish"
              *ngIf="dataEnterprise[0].login_ldap"
            >
              .
            </small>
          </div>
          <div class="text-center top">
            <div class="form-check">
              <div
                class="custom-control custom-radio custom-control-inline"
                *ngFor="let lang of translate.getLangs()"
              >
                <input
                  type="radio"
                  id="radio{{ lang }}"
                  name="radioLang"
                  class="custom-control-input"
                  [value]="lang"
                  [checked]="lang === translate.currentLang"
                />
                <label
                  class="custom-control-label"
                  for="radio{{ lang }}"
                  (click)="changeLanguaje(lang)"
                >
                  {{ lang | uppercase }}
                </label>
              </div>
            </div>
          </div>
          <div class="fooder-login">
            <p class="text-center">
              <small>HR Solutions SAS - Interactive HR | 2018</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<app-alerts></app-alerts>
