<div *ngIf="token">
  <app-error-page-http [objectPage]="objectToken"></app-error-page-http>
</div>

<div *ngIf="!token" class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class=" col-12 title">
          <i class="fa fa-user"></i>
          Mis datos
        </div>
      </div>
    </div>
  </div>
  <div class="row-hr-container">
    <div class="col-12 text-center widget bg-white minHeight">
      <div class="row">
        <div class="col-12 col-xl-3">
          <div id="listData" class="nav nav-tabs navtab-vertical navtab-left cursor-general" role="navigation">
            <div id="{{i}}PersonalData" [ngClass]="{'active-report': i=='0'}" class="nav-item navReport tabReport text-left"
              *ngFor="let item of listDataMaster; let i = index;" (click)="showData(i,item.method_name, item.code)">
              <div *ngIf="item.code==1">
                <i class="fa  fa-id-badge"></i> {{item.description}}
              </div>
              <div *ngIf="item.code==2">
                <i class="fa fa-phone"></i> {{item.description}}
              </div>
              <div *ngIf="item.code==3">
                <i class="fa fa-users"></i> {{item.description}}
              </div>
              <div *ngIf="item.code==4">
                <i class="fa fa-file-text-o"></i> {{item.description}}
              </div>
              <div *ngIf="item.code==5">
                <i class="fa fa-graduation-cap"></i> {{item.description}}
              </div>
              <div *ngIf="item.code==6">
                <i class="fa fa-industry"></i> {{item.description}}
              </div>
              <div *ngIf="item.code==7">
                <i class="fa fa-money"></i> {{item.description}}
              </div>
              <div *ngIf="item.code==8">
                <i class="fa fa-shield"></i> {{item.description}}
              </div>
              <div *ngIf="item.code==9">
                <i class="fa fa-money"></i> {{item.description}}
              </div>
              <div *ngIf="item.code==10">
                <i class="fa fa-money"></i> {{item.description}}
              </div>

              <!-- <i [ngClass]="{'fa fa-id-badge': i=='0','fa fa-phone': i=='1','fa fa-users': i=='2'}"></i> {{item.description}} -->
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-9 text-left">
          <b style="margin-left: 28px;">
            {{titleData}}
          </b>
          <div class="row-hr-container  widget bg-white-1x" style="min-height: calc(70vh)">
            <div class="row justify-content-center top-containter" *ngIf="lengthArray == 0  ">
              <div class="col-lg-8 col-12 text-center" style="min-height: 370px;">
                <div class="alert alert-warning" role="alert">
                  No hay
                  <strong>{{titleData}}</strong>&nbsp;disponibles
                </div>
              </div>
            </div>
            <div class="col-12" *ngIf="lengthArray !== 0 && showButton">
              <div class="row">
                <div class="col-xl-10 col-md-9 col-8 text-right">
                  <div class="top-title-dbgerencial">
                    Editar
                  </div>
                </div>
                <div class="col-xl-2 col-md-3 col-4">
                  <div class="top-interruptor">
                    <input type="radio" name="interruptor" id="prendido">
                    <input type="radio" name="interruptor" id="apagado" checked>
                    <div class="interruptor-cuerpo">
                      <div class="interruptor-tecla">
                        <label id="buttonDashEmployee" for="prendido" (click)="isEdit()"></label>
                        <label id="buttonDashManagerial" for="apagado" (click)="noEdit()"></label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12">
              <!-- <app-dynamic-form *ngIf="!canEditData"></app-dynamic-form> -->
              <app-dynamic-form *ngIf="lengthArray !== 0"></app-dynamic-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>