<div *ngIf="token">
  <app-error-page-http [objectPage]="objectToken"></app-error-page-http>
</div>

<div *ngIf="!token" class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row align-items-center">
        <div class="col-xl-8 col-md-12 col-12 title">
          <i class="fa fa-file"></i>
          Certificado laboral
        </div>
      </div>
    </div>
  </div>
  <div class="row-hr-container justify-content-center">
    <div class="col-12  widget bg-white minHeight">
      <div class="row justify-content-center top-containter" *ngIf="flagEmpty">
        <div class="col-lg-8 col-12 text-center" style="min-height: 370px;">
          <div class="alert alert-warning" role="alert">
            No hay carta de
            <strong>certificado laboral</strong>&nbsp;para el empleado
          </div>
        </div>
      </div>
      <div class="row" *ngIf="!flagEmpty">
        <div class="col-12 col-xl-3">
          <div id="listCertificates" class="nav nav-tabs navtab-vertical navtab-left cursor-general" role="navigation">
            <div id="{{i}}certificate" class="nav-item navReport tabReport" [ngClass]="{'active-report': i=='0'}" *ngFor="let certificate of laboralType; let i=index"
              (click)="selectedObject(i, certificate)">
              <i class="fa fa-file-pdf-o"></i>
              {{certificate.pdf_name2}}
            </div>
          </div>
        </div>
        <div class="col-9 col-xl-9">
          <iframe [src]='urlPDF | safeHtml' width="100% !important;" height="1000">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>