<div *ngIf="token">
  <app-error-page-http [objectPage]="objectToken"></app-error-page-http>
</div>

<div *ngIf="!token" class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row align-items-center">
        <div class="col-xl-8 col-md-12 col-12 title">
          <i class="fa fa-file-pdf-o"></i>
          Certificado laboral
        </div>
      </div>
    </div>
  </div>
  <div class="row-hr-container justify-content-center">
    <div class="col-12  widget bg-white minHeight">
      <div class="row">
        <div class="col-12 col-xl-3">
          <div *ngFor="let certificate of laboralType" (click)="selectedObject(certificate)">
            <div class="row">
              <div class="col-10 cursor-general tabDate">
                <i class="fa fa-file-pdf-o"></i>
                {{certificate.pdf_name2}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-9 col-xl-9">
          <iframe [src]='urlPDF | safeHtml'  width="100% !important;" height="1000">
          </iframe>
        </div>

      </div>
    </div>
  </div>
</div>