<div *ngIf="token">
  <app-error-page-http [objectPage]="objectToken"></app-error-page-http>
</div>

<div *ngIf="!token" class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row">
        <div class="col-xl-10 col-md-8 col-7 title">
          <i class="fa fa-plane"></i>
          Gestion de Viajes
        </div>
        <div class="col-xl-2 col-md-4 col-5 text-center cursor-general" style="padding-right: 0px">
          <div class="buttonBack img-zoom" (click)="returnBackPage()">
            <div class="padding-back">
              <i class="fa fa-fw fa-sign-in fa-rotate-180 fa-lg"></i>
              <span>
                Atrás
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="border-botton-general">
    <div class="row-hr-container justify-content-center">
      <div class="col-12  widget bg-white minHeight">
        <div class="border-botton-general">
          <div class="border-botton-general">
            <div class="row justify-content-center top-containter">
              <div class="col-lg-4 col-12">
                <div class="row" style="margin-top: 10px">
                  <div class="col-12">
                    <button id="btn-travelManagement" type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#travelManagement">
                      Nuevo Viaje
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row top-containter" style="margin-top: 20px">
          <div class="col-xl-2 col-lg-4 col-12 text-left">
            <b>
              Viajes registrados
            </b>
          </div>
        </div>
        
        <div class="row justify-content-center top-containter">
          <div class="col-12">
            <div class="widget bg-white-1x" *ngFor="let travels of My_travels_list[0].data">
              <div class="row align-items-center">
                <div class="col-lg-2 col-md-3 col-12">
                  <h5>
                    <span class="badge badge-warning">
                      Ticket # {{travels.ticket}}
                    </span>
                  </h5>
                  <p>
                    <i class="fa fa-clock-o"></i>
                    Creada el {{travels.created_date}}
                  </p>
                </div>
                <div class="col-lg-3 col-md-6 col-12 text-lg-left text-center top-p">
                  <h3 class="font-color-default">
                    {{travels.travels_text}}
                  </h3>
                </div>
                <div class="col-xl-1 col-lg-2 col-md-3 col-12 text-lg-left text-center top-p">
                  <p class="font-title-general">
                    Estado:
                  </p>
                  <h6 *ngIf="travels.status == 'Aprobado'">
                    <span class="badge badge-primary">
                      {{travels.status}}
                    </span>
                  </h6>
                  <h6 *ngIf="travels.status == 'Cancelado'">
                    <span class="badge badge-danger">
                      {{travels.status}}
                    </span>
                  </h6>
                  <h6 *ngIf="travels.status == 'En Proceso'">
                    <span class="badge badge-success">
                      {{travels.status}}
                    </span>
                  </h6>
                  <h6 *ngIf="travels.status == 'Pendiente'">
                    <span class="badge badge-default">
                      {{travels.status}}
                    </span>
                  </h6>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-9 col-12 text-md-left text-center top-p" *ngIf="travels.next_approver_to_json.approver_employee != undefined">
                    <p class="font-title-general">
                      {{travels.next_approver_to_json.approver_employee.short_name}}
                    </p>
                    <p class="">
                      {{travels.next_approver_to_json.approver_employee.posicion}}
                    </p>
                    <p class="">
                      Aprobador {{travels.next_approver_to_json.level}}
                    </p>
                  </div>
               
                <div class="col-lg-2 col-md-3 col-12 text-center top-p">
                  <div class="row">
                    <div class="col-4 number-size text-success" [attr.title]="travels.action_employee_travel_index_view[0].title" [attr.disabled]="travels.action_employee_travel_index_view[0].is_active == true ? null : true"
                      (click)="modalAprovers(request)">
                      <i class="fa fa-eye" aria-hidden="true" style="font-size:2em"></i>
                    </div>
                    <div class="col-4 number-size text-info" id="hideEdit" *ngIf=" travels.action_employee_travel_index_view[1].is_active == true"
                      style="cursor: pointer" (click)="deleteRequest(request.ticket)">
                      <i class="fa fa-pencil" aria-hidden="true" style="font-size:2em"></i>
                    </div>
                    <div class="col-4 number-size" id="hideEdit" *ngIf=" travels.action_employee_travel_index_view[1].is_active == false"
                      style="cursor: pointer" (click)="deleteRequest(request.ticket)">
                      <i class="fa fa-pencil" aria-hidden="true" style="font-size:2em"></i>
                    </div>
                    <div class="col-4 number-size text-danger" id="hideTrash" *ngIf=" travels.action_employee_travel_index_view[1].is_active == true"
                      style="cursor: pointer" (click)="deleteRequest(request.ticket)">
                      <i class="fa fa-trash" aria-hidden="true" style="font-size:2em"></i>
                    </div>
                    <div class="col-4 number-size" id="hideTrash" *ngIf=" travels.action_employee_travel_index_view[1].is_active == false" style="cursor: no-drop">
                      <i class="fa fa-trash" aria-hidden="false" style="font-size:2em"></i>
                    </div>
                    <div class="col-4">
                      Ver
                    </div>
                    <div class="col-4">
                        Editar
                      </div>
                    <div class="col-4">
                      Eliminar
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
<app-new-travel></app-new-travel>