<button id="btn-newArt" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="display:none;">
</button>
<div class="modal" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header borderLine-title row-hr justify-content-center">
        <h4 class="modal-title titleColor text-shadow">Formulario noticia</h4>
      </div>
      <div class="modal-body bodyColorInfo">
        <div class="row">
          <div class="col-12">
            <form #f='formNewArticle' (ngSubmit)="onSubmitNewArticle(formNewArticle.value)">
              <div class="row">
                <div class="col-3 text-left">
                  <label for="title" class="font-title-general">
                    <i class="fa fa-fw fa-minus text-primary-hr"></i>Título*</label>
                </div>
                <div class="col-9">
                  <input type="text" placeholder="Título de la noticia" name="title" style="width:100% !important;" />
                </div>
              </div>
              <div class="row">
                <div class="col-3 text-left">
                  <label for="resume" class="font-title-general">
                    <i class="fa fa-fw fa-bars text-primary-hr"></i>
                    Resumen*
                  </label>
                </div>
                <div class="col-9">
                  <textarea name="summary" rows="2" cols="50" placeholder="Sólo visible para dashboard y noticias." style="width:100% !important;">                 
                    </textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-3 text-left">
                  <label for="resume" class="font-title-general">
                    <i class="fa fa-fw fa-cubes text-primary-hr"></i>Tema* </label>
                </div>
                <div>
                  <div class="col-9 text-left">
                    <tag-input name="tags" theme='dark' placeholder="Escriba un tema + enter" ngModel></tag-input>
                  </div>
                </div>
                <!-- <div *ngIf="activeShowThemes">
                  <div class="col-xl-9 col-md-6 col-12 padding-themes-newspaper" *ngFor="let theme of showLabelTheme">
                    <div class="themes-newspaper">
                      {{theme}}
                    </div>
                  </div>
                  <div class="col-9 text-left">
                    <tag-input name="tags" theme='dark' placeholder="Escriba un tema + enter"></tag-input>
                  </div>
                </div> -->
              </div>
              <div class="row">
                <div class="col-3 text-left">
                  <label for="resume" class="font-title-general">
                    <i class="fa fa-fw fa-paperclip text-primary-hr"></i> Cargar imagen*</label>
                </div>
                <div class="col-9 " style="font-size:1rem !important">
                  <app-file-upload [nameFile]="fileImageNew" [extensions]="extensions"></app-file-upload>
                </div>
                <!-- <div class="col-9 " *ngIf="activeEditImage" style="font-size:1rem !important">
                  <label for="resume" class="font-title-general">
                    {{nameImage}} </label>
                  <app-file-upload [nameFile]="fileImageNew" [extensions]="extensions"></app-file-upload>
                </div> -->
              </div>
              <div class="row">
                <div class="col-12" style="padding-top: 20px">
                  <ckeditor debounce="500" name="body">
                  </ckeditor>
                </div>
              </div>
              <div class="row justify-content-center" style="margin-top:10px;">
                <div class="col-md-12 top-containter">
                  <div class="row justify-content-end">
                    <div class="col-lg-3 col-md-4 col-12">
                      <button type="submit" *ngIf="showSubmit" class="btn btn-success btn-block">
                        <i class="fa fa-fw fa-floppy-o"></i>Guardar</button>
                      <button type="button" *ngIf="!showSubmit" class="btn btn-warning btn-block">
                        <i class="fa fa-fw fa-spinner fa-spin"></i>Cargando</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footerInfo justify-content-center">
                <div class="buttonCloseForm btn-close-modals text-center" data-dismiss="modal">
                  <h6> Cerrar </h6>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>