<div class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-xl-10 col-md-8 col-7 text-left title">
          <i class="fa fa-clock-o"></i>
          Aprobaciones pendientes
        </div>
        <div class="col-xl-2 col-md-4 col-5 text-center cursor-general" style="padding-right: 0px">
          <div class="buttonBack img-zoom" (click)="returnBackTravelPending()">
            <div class="padding-back">
              <i class="fa fa-fw fa-sign-in fa-rotate-180 fa-lg"></i>
              <span>
                Atrás
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-hr-container justify-content-center">
    <div class="col-12  widget bg-white minHeight">
      <div class="border-botton-general">
        <div class="row top-containter">
          <div class="col-12 text-left" *ngIf="pendingsRequestTravels[0].data[0].requests.length == 1">
            <h3 class="font-color-default">
              <i class="fa fa-fw fa-cog fa-spin text-primary-hr"></i>
              Usted tiene {{pendingsRequestTravels[0].data[0].requests.length}} solicitud pendiente
            </h3>
          </div>
          <div class="col-6 text-left" *ngIf="pendingsRequestTravels[0].data[0].requests.length > 1">
            <h3 class="font-color-default">
              <i class="fa fa-fw fa-cog fa-spin text-primary-hr"></i>
              Usted tiene {{pendingsRequestTravels[0].data[0].requests.length}} solicitudes pendientes
            </h3>
          </div>
          <div class="col-xl-6 col-lg-4 col-12 text-left" *ngIf="pendingsRequestTravels[0].data[0].requests.length == 0">
            <h3 class="font-color-default">
              <i class="fa fa-fw fa-cog text-primary-hr"></i>
              Usted no tiene solicitudes pendientes
            </h3>
          </div>
        </div>
      </div>
      <div class="row justify-content-center top-general-p">
        <div class="col-6">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle cursor-general tabDate" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fa fa-plus"></i>
                Filtrar Solicitudes
              </a>
              <div class="dropdown-menu col-12" aria-labelledby="navbarDropdown" style="overflow-y: auto !important; max-height: 400px !important">
                <div *ngFor="let request of typesRequest; let i = index">
                  <a class="dropdown-item color-font-gree text-capitalize cursor-general">{{request.name | lowercase}}</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center top-general-p" *ngIf="pendingsRequestTravels.length == 0">
        <div class="col-lg-8 col-12 text-center" style="min-height: 370px;">
          <div class="alert alert-warning" role="alert">
            No se encontrarón registros para mostrar
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-left" *ngIf="travelsRequests">
          <h3 class="font-color-default">
            Aprobaciones de Solicitud de viajes
          </h3>
        </div>
        <div class="col-12 text-left" *ngIf="travelsSpend">
          <h3 class="font-color-default">
            Aprobaciones de Anticipos
          </h3>
        </div>
        <div class="col-12 text-left" *ngIf="travelsAllowance">
          <h3 class="font-color-default">
            Aprobaciones de Gastos
          </h3>
        </div>
      </div>

      <div class="row justify-content-center top-containter" *ngIf="pendingsRequestTravels.length > 0">
        <div class="col-12">
          <div class="widget bg-white-1x" *ngFor="let pending of pendingsRequestTravels">
            <div class="row align-items-center">
              <div class="col-xl-2 col-lg-2 col-md-3 col-12">
                <h5>
                  <span class="badge badge-warning">
                    Ticket #{{pending.requests.ticket}}
                  </span>
                </h5>
              </div>
              <div class="col-xl-3 col-lg-2 col-md-9 col-12 text-xl-left text-lg-center text-center top-p">
                <h3 class="font-color-default">
                  {{pending.type_requests_to_json.description}}
                </h3>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-9 col-12 text-md-left text-center top-p">
                <p class="font-title-general">
                  {{pending.level_answer_description}}
                </p>
                <p class="">
                  <i class="fa fa-user fa-check-square-o text-primary-hr"></i>
                  {{pending.level}}
                </p>
                <strong class="text-primary-hr">
                  Solicitud de {{pending.type_request_travel}}
                </strong>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-9 col-12 text-md-left text-center top-p">
                <p class="font-title-general">
                  Solicitante
                </p>
                <p class="">
                  <i class="fa fa-user fa-fw text-primary-hr"></i>
                  {{pending.employee_applicant_to_json.short_name}}
                </p>
              </div>
              <div class="col-xl-2 col-lg-2 col-md-9 col-12 text-md-left text-center top-p">
                <p class="font-title-general">
                  Creada el
                </p>
                <p>
                  <i class="fa fa-calendar fa-fw text-primary-hr"></i>
                  {{pending.created_date}} -
                  <i class="fa fa-fw fa-clock-o font-color-default"></i>{{pending.antiquity}}
                </p>
              </div>
              <div class="col-xl-1 col-lg-2 col-md-3 col-12 text-center top-p hoverColor" (click)="modalAproversTravelPending(pending)">
                <i class="fa fa-eye" aria-hidden="true" style="font-size: 2em; color: #23c6c8"></i>
                <div class="col-12">
                  Ver
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-approvals-details></app-approvals-details>