<div class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row align-items-center">
        <div class="col-xl-8 col-md-12 col-12 title">
          <i class="fa fa-book"></i>
          Mis publicaciones
        </div>
      </div>
    </div>
  </div>
  <div class="row-hr-container justify-content-center">
    <div class="col-12  widget bg-white minHeight">
      <div class="row justify-content-center top-containter">
        <div class="col-3 cursor-general tabDate" (click)="goToForm()">
          <i class="fa fa-plus"></i> &nbsp;&nbsp; Crear nueva noticia
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-9 notice-title">
              <strong> Mis noticias</strong>
            </div>
            <div class="col-3">
              Total de noticias: {{myPublications.length}}
            </div>
          </div>
          <div class="row">
            <div class="col-12" *ngFor="let publication of myPublications; let index=index; let colorContactPrimary = odd; let colorContactSecundary = even;" [ngClass]="{  colorContactPrimary:  colorContactPrimary, colorContactSecundary: colorContactSecundary}">
              <div class="row">
                <div class="col-1">
                  <div class="checkbox checkbox-success">
                    <input id="checkbox3" type="checkbox">
                    <label for="checkbox3">
                      Publicar
                    </label>
                  </div>
                </div>
                <div class="col-7">
                  {{publication.title}} {{publication.summary}}
                </div>
                <div class="col-1">
                  {{publication.total_views}}
                </div>
                <div class="col-1">
                  {{publication.total_comments}}
                </div>
                <div class="col-1">
                  editar
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-new-article-form></app-new-article-form>