<div *ngIf="token">
  <app-error-page-http [objectPage]="objectToken"></app-error-page-http>
</div>

<div *ngIf="!token" class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row align-items-center">
        <div class="col-xl-8 col-md-12 col-12 title">
          <i class="fa fa-bullhorn"></i>
          {{translate.app.frontEnd.pages.billboard.my_publication.title_my_publications}}
        </div>
      </div>
    </div>
  </div>
  <div class="row-hr-container justify-content-center">
    <div class="col-12  widget bg-white minHeight">
      <div class="row justify-content-center top-containter">
        <div class="col-10 col-xl-3 cursor-general tabDate" (click)="goToForm()">
          <i class="fa fa-plus"></i> &nbsp;&nbsp; {{translate.app.frontEnd.pages.billboard.my_publication.btn_create_news}}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="border-botton-general">
            <div class="row top-containter">
              <div class="col-12 col-xl-9 text-left">
                <strong> {{translate.app.frontEnd.pages.billboard.my_publication.text_my_news}}</strong>
              </div>
              <div class="col-12 col-xl-3">
                {{translate.app.frontEnd.pages.billboard.my_publication.text_total_news}}: {{myPublications.length}}
              </div>
            </div>
          </div>
          <div class="row justify-content-center top-containter">
            <div class="col-12">
              <div class="widget bg-white-1x" *ngFor="let publication of myPublications;">
                <div class="row justify-content-center">
                  <div class="col-lg-2 col-4">
                    <div class="row">
                      <div class="col-12 number-size">
                        <div *ngIf="publication.publish"  class="text-warning" (click)="publishArticle(publication)">
                          <i class="fa fa-square-o"></i>
                        </div>
                        <div *ngIf="!publication.publish" class="text-success" (click)="hideArticle(publication)">
                          <i class="fa fa-check-square-o"></i>
                        </div>
                      </div>
                      <div class="col-12">
                        {{translate.app.frontEnd.pages.billboard.my_publication.text_hide_post}}
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-xl-6 text-center top-p">
                    <div class="row justify-content-center">
                      <div class="col-12 font-color-default text-lg-left title-size hoverTitle" (click)="viewDetailArticle(publication)">
                        <strong>{{publication.title |uppercase}} </strong>
                      </div>
                      <div class="col-12 text-lg-left">
                        {{publication.summary}}
                      </div>
                    </div>
                  </div>
                  <div class="col-3 col-xl-1 hoverColor">
                    <div class="row">
                      <div class="col-12 number-size ">
                        {{publication.total_views}}
                      </div>
                      <div class="col-12 ">
                        {{translate.app.frontEnd.pages.billboard.my_publication.text_visits}}
                      </div>
                    </div>
                  </div>
                  <div class="col-3 col-xl-1 hoverColor">
                    <div class="row">
                      <div class="col-12 number-size">
                        {{publication.total_comments}}
                      </div>
                      <div class="col-12">
                        {{translate.app.frontEnd.pages.billboard.my_publication.text_comments}}
                      </div>
                    </div>
                  </div>
                  <div class="col-3 col-xl-1">
                    <div class="row">
                      <div class="col-12 number-size text-info" (click)="editNew(publication)">
                        <i class="fa fa-pencil"></i>
                      </div>
                      <div class="col-12">
                        {{translate.app.frontEnd.pages.billboard.my_publication.text_edit}}
                      </div>
                    </div>
                  </div>
                  <div class="col-3 col-xl-1">
                    <div class="row">
                      <div  id="hideDan" *ngIf="!publication.publish"  class="col-12 number-size text-danger" style="cursor: pointer;" (click)="deleteNew(publication)">
                        <i class="fa fa-ban"></i>
                      </div>
                      <div  id="hideDan" *ngIf="publication.publish" class="col-12 number-size " style="cursor: no-drop;">
                          <i class="fa fa-ban"></i>
                        </div>
                      <div class="col-12">
                        {{translate.app.frontEnd.pages.billboard.my_publication.text_remove}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-new-article-form *ngIf="!token"></app-new-article-form>
<app-comment-article *ngIf="!token" [nameModal]='myPublicationModal'></app-comment-article>
<app-edit-publication *ngIf="!token"></app-edit-publication>