<button id="btn_editNew" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_editNew" style="display:none;">
</button>
<div class="modal" tabindex="-1" role="dialog" id="modal_editNew">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header borderLine-title row-hr justify-content-center">
        <h4 class="modal-title titleColor text-shadow">{{translate.app.frontEnd.pages.billboard.my_publication.edit_publication.title_form_news}}</h4>
      </div>
      <div class="modal-body bodyColorInfo">
        <div class="row">
          <div class="col-12">
              <div class="row">
                <div class="col-3 text-left">
                  <label for="title" class="font-title-general">
                    <i class="fa fa-fw fa-minus text-primary-hr"></i>{{translate.app.frontEnd.pages.billboard.my_publication.edit_publication.text_title}}*
                  </label>
                </div>
                <div class="col-9">
                  <input type="text" [(ngModel)]="title" id="title" placeholder="Título de la noticia" style="width:100% !important;"
                    required/>
                </div>
              </div>
              <div class="row">
                <div class="col-3 text-left">
                  <label for="resume" class="font-title-general">
                    <i class="fa fa-fw fa-bars text-primary-hr"></i>
                    {{translate.app.frontEnd.pages.billboard.my_publication.edit_publication.text_summary}}*
                  </label>
                </div>
                <div class="col-9">
                  <textarea [(ngModel)]='summary' rows="2" cols="50" placeholder="Sólo visible para dashboard y noticias." style="width:100% !important;"
                    required></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-3 text-left">
                  <label for="resume" class="font-title-general">
                    <i class="fa fa-fw fa-cubes text-primary-hr"></i>{{translate.app.frontEnd.pages.billboard.my_publication.edit_publication.text_topic}}*
                  </label>
                </div>
                <div class="col-9">
                  <div class="row">                    
                    <div class="col-12">
                      <tag-input [theme]="'dark'" [(ngModel)]='tags' [editable]='true'></tag-input>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-3 text-left ">
                  <label for="resume" class="font-title-general">
                    <i class="fa fa-fw fa-paperclip text-primary-hr"></i> {{translate.app.frontEnd.pages.billboard.my_publication.edit_publication.text_upload_image}}*
                  </label>
                </div>
                <div class="col-9 " style="font-size:1rem !important">
                  <div class="row">
                    <div class="col-12">
                      <label for="resume" class="font-title-general">
                        {{nameImage}} </label>
                    </div>
                    <div class="col-12">
                      <app-file-upload [nameFile]="fileImageEdit" [extensions]="extensions"></app-file-upload>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12" style="padding-top: 20px">
                  <ckeditor debounce="500" name="body" [(ngModel)]="body" required>
                    <div [innerHtml]="body"></div>
                  </ckeditor>
                </div>
              </div>
              <div class="row justify-content-center" style="margin-top:10px;">
                <div class="col-md-12 top-containter">
                  <div class="row justify-content-end">
                    <div class="col-lg-3 col-md-4 col-12">
                      <button type="submit" *ngIf="showSubmit" (click)="onSubmitSaveChanges()" class="btn btn-success btn-block">
                        <i class="fa fa-fw fa-floppy-o"></i>{{translate.app.frontEnd.pages.billboard.my_publication.edit_publication.btn_save}}</button>
                      <button type="button" *ngIf="!showSubmit" class="btn btn-warning btn-block">
                        <i class="fa fa-fw fa-spinner fa-spin"></i>{{translate.app.frontEnd.pages.billboard.my_publication.edit_publication.text_loading}}</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footerInfo justify-content-center">
                <div class="col-12 col-lg-3 buttonCloseForm btn-close-modals text-center" style="width:100% !important;" data-dismiss="modal">
                  <h6> {{translate.app.frontEnd.pages.billboard.my_publication.edit_publication.btn_close}} </h6>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>