<div class="heigth-content-general">
  <div
    class="row-hr-container"
    joyrideStep="step_1"
    [title]="joyride('step_1.title') | translate"
    [text]="joyride('step_1.text') | translate"
  >
    <div class="col-12">
      <div class="row align-items-center">
        <div class="col-xl-8 col-md-12 col-12 title">
          <i class="fa fa-paste"></i>
          {{ parseT(title) | translate }}
        </div>
      </div>
    </div>
    <div class="justify-content-center">
      <div
        class="col-12 widget bg-white"
        joyrideStep="step_1"
        [title]="joyride('step_1.title') | translate"
        [text]="joyride('step_1.text') | translate"
      >
        <app-data-table [records]="objectReport" [title]="parseT(titleTable) | translate" [excel]="showExcel"></app-data-table>
      </div>
    </div>
  </div>
</div>
