<div *ngIf="token">
  <app-error-page-http [objectPage]="objectToken"></app-error-page-http>
</div>
<div *ngIf="!token" class="heigth-content-general">
  <div class="row-hr-container">
    <joyrideStep
      joyrideStep="step_1"
      [title]="joyride('step_1.title') | translate"
      [text]="joyride('step_1.text') | translate"
      stepPosition="center"
    ></joyrideStep>
    <div class="col-12">
      <div class="row">
        <div class="col-xl-10 col-md-8 col-7 title">
          <i class="fa fa-table"></i>
          {{ parseT('tittle') | translate }}
        </div>
      </div>
    </div>
  </div>
  <div
    id="data_table"
    class="row-hr-container justify-content-center"
    (next)="collapse(true)"
    joyrideStep="step_2"
    [title]="joyride('step_2.title') | translate"
    [text]="joyride('step_2.text') | translate"
    stepPosition="center"
  >
    <div class="col-12 widget bg-white">
      <div class="border-botton-general">
        <div class="row top-containter">
          <div class="col-xl-2 col-lg-4 col-12 text-left">
            <b>
              {{ parseT('query_filters') | translate }}
            </b>
            <i
              class="fa fa-fw icon-collapse {{ is_collapse ? 'fa-minus' : 'fa-plus' }} fa-1x cursor-general"
              (click)="collapse(!is_collapse)"
            ></i>
          </div>
        </div>
      </div>
      <div class="collapse top-general-p border-botton-general" id="collapseExample">
        <div class="row">
          <div
            class="col-lg-4 col-md-4 col-12"
            style="padding-bottom: 15px"
            joyrideStep="step_3"
            [title]="joyride('step_3.title') | translate"
            [text]="joyride('step_3.text') | translate"
          >
            <label>{{ parseT('id_query') | translate }}</label>
            <input
              type="text"
              [(ngModel)]="request_number"
              class="form-control"
              (keyup)="validateNumber('request_number', request_number)"
            />
          </div>
          <div class="col-lg-4 col-md-4 col-12" style="padding-bottom: 15px">
            <label>{{ parseT('number_requesting') | translate }}</label>
            <input
              type="text"
              [(ngModel)]="personal_request_number"
              class="form-control"
              (keyup)="validateNumber('personal_request_number', personal_request_number)"
            />
          </div>
          <div class="col-lg-4 col-md-4 col-12" style="padding-bottom: 15px">
            <label>{{ parseT('number_approver') | translate }}</label>
            <input
              type="text"
              [(ngModel)]="personal_approver_number"
              class="form-control"
              (keyup)="validateNumber('personal_approver_number', personal_approver_number)"
            />
          </div>
          <div class="col-lg-4 col-12">
            <label>{{ parseT('type_request') | translate }}</label>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle cursor-general tabDate btn-block"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fa fa-chevron-circle-down"></i>
                  {{ parseT('option_select') | translate }}
                </a>
                <div class="dropdown-menu col-12" aria-labelledby="navbarDropdown">
                  <div>
                    <a
                      class="dropdown-item color-font-gree text-capitalize cursor-general"
                      (click)="filterRequests('-1', 'Seleccione')"
                      >{{ parseT('option_select') | translate }}</a
                    >
                    <div *ngIf="newtype_requests.length !== i + 1" class="dropdown-divider"></div>
                  </div>
                  <div *ngFor="let type of newtype_requests; let i = index">
                    <a
                      class="dropdown-item color-font-gree text-capitalize cursor-general"
                      (click)="filterRequests(type.value, type.name)"
                      >{{ type.name }}</a
                    >
                    <div *ngIf="newtype_requests.length !== i + 1" class="dropdown-divider"></div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <label>{{ parseT('date_begin') | translate }}</label>
            <input
              tabindex="-1"
              type="date"
              name="date_begin"
              class="form-control"
              [(ngModel)]="date_begin"
              (change)="validateDate()"
            />
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <label>{{ parseT('date_end') | translate }}</label>
            <input
              tabindex="-1"
              type="date"
              name="date_end"
              class="form-control"
              [(ngModel)]="date_end"
              (change)="validateDate()"
            />
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-lg-4 col-md-4 col-12 align-self-end" *ngIf="btnConsult">
            <div class="btn btn-block btn-primary-second fontDate" (click)="getObjectPrint()">
              <i class="fa fa-search-plus"></i>
              {{ parseT('search') | translate }}
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12 align-self-end" *ngIf="!btnConsult">
            <div class="btn btn-block btn-primary-second fontDate" style="cursor: no-drop">
              <i class="fa fa-search-plus"></i>
              {{ parseT('search') | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 top-general-p">
          <app-data-table [records]="objectReport" [title]="nameReport" [excel]="showExcel"></app-data-table>
        </div>
      </div>
    </div>
  </div>
</div>
