<button [attr.id]="btnModal" type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="targetModal" style="display:none;">
</button>
<div class="modal" [attr.id]="nameThisModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  style="display:none;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header borderLine-title row-hr justify-content-center">
        <div class="col-12 col-lg-10 text-center ">
          <h4 class="modal-title titleColor text-shadow">
            <i class="{{eventIcon}}"></i> {{titleEvent |uppercase}}
          </h4>
        </div>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-12 borderEmployee" *ngFor=" let employeeList of objectInfoEvents">
              <div class="row justify-content-center">
                <div class="col-3 align-self-center text-center">
                  <img src="{{employeeList.image.url}}" class="roundPhotoEventE">
                </div>
                <div class="col-6 titleColor align-self-center text-center">
                  {{employeeList.name |uppercase}} {{employeeList.lastname |uppercase }}
                </div>
                <div class="col-3 titleColor align-self-center text-center">
                  <strong>{{employeeList.fecha_ingreso}}</strong>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footerInfo justify-content-center">
        <div class="buttonCloseComment btn-close-modals text-center" data-dismiss="modal">
          <h6> Cerrar </h6>
        </div>
      </div>
    </div>
  </div>