<div *ngIf="objectWidget" (click)="showModalCalendar()" [ngStyle]="{'background-color': objectWidget.background}" class="widget widget-calendar wg-hover-general wg-hover-bg text-center">
  <div class="m-lg">
    <i [ngStyle]="{'color': objectWidget.color}" class="fa fa-calendar fa-7x"></i>
    <div class="m-lg">
      <h3 [ngStyle]="{'color': objectWidget.color}" class="font-bold m-l-n" style="margin-left: -22px; margin-right: -30px">
        {{objectWidget.name_day}}
      </h3>
      <h1 [ngStyle]="{'color': objectWidget.color}">{{objectWidget.number_day}}</h1>

      <h3 [ngStyle]="{'color': objectWidget.color}" class="font-bold m-l-n" style="margin-left: -22px; margin-right: -30px" class="text-capitalize">
        {{objectWidget.name_month}}
      </h3>
      <small [ngStyle]="{'color': objectWidget.color}" style="margin-left: -22px;margin-right: -30px;">{{objectWidget.year}}</small>
    </div>
  </div>
</div>
<div *ngIf="!objectWidget" class="widget bg-white wg-hover-general wg-hover-bg widget-height-notification p-lg text-center">
  <div>
    <i class="fa fa-exclamation fa-4x"></i>
    <h3 class="font-bold m-l-n" style="margin-left: -22px; margin-right: -30px">
      No se encontraron datos disponibles.
    </h3>
  </div>
</div>
<app-calendar-modal></app-calendar-modal>