<form [formGroup]="form" *ngIf="showForm" class="row justify-content-start" (ngSubmit)="sendDynamicForm(form.value)">
    <div class="col-12">
        <div class="row" *ngFor="let config of objectForm" style="margin-top: 10px;">
            <strong [ngClass]="config.class_label">{{ config.name_label}}</strong>
            <label [ngClass]="config.class_input" *ngIf="config.control === 'label'">{{config.value}}</label>
            <div [ngClass]="config.class_input" *ngIf="config.control === 'input'" [ngSwitch]="config.type">
                <input class="form-control" *ngSwitchCase="'text'" (blur)="detectChange(config)" type="text" [formControlName]="config.id"
                    [attr.placeHolder]="config.place_holder" />
                <input class="form-control" *ngSwitchCase="'number'" (blur)="detectChange(config)" type="number" [formControlName]="config.id"
                    [attr.placeHolder]="config.place_holder" />
                <input class="form-control" *ngSwitchCase="'date'" (blur)="detectChange(config)" type="date" [formControlName]="config.id"
                    [attr.placeHolder]="config.place_holder" />
                <input class="form-control" *ngSwitchCase="'time'" (blur)="detectChange(config)" type="time" [formControlName]="config.id"
                    [attr.placeHolder]="config.place_holder" />
                <select class="form-control" *ngSwitchCase="'select'" (change)="detectChange(config)" [formControlName]="config.id">
                    <option *ngFor="let option of config.option"  [value]="option.code">{{option.description}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-12 top-containter" style="margin-top: 10px;">
        <div class="row justify-content-end">
            <div class="col-md-5 col-12">
                <button id="savebutton" type="submit" *ngIf="showSubmit" class="btn btn-success btn-block" disabled>
                    <i class="fa fa-fw fa-floppy-o"></i>Guardar</button>
                <button type="button" *ngIf="!showSubmit" class="btn btn-warning btn-block">
                    <i class="fa fa-fw fa-spinner fa-spin"></i>Cargando</button>
            </div>
        </div>
    </div>
</form>