<div *ngIf="token">
  <app-error-page-http [objectPage]="objectToken"></app-error-page-http>
</div>

<div *ngIf="!token" class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row align-items-center">
        <div class="col-xl-8 col-md-6 col-5 title">
          <i class="fa fa-fw fa-th-large fa-x1"></i>
          Inicio
        </div>
        <div class="col-xl-4 col-md-6 col-7" *ngIf="showButtonDashManagement">
          <div class="row">
            <div class="col-xl-10 col-md-9 col-8 text-right">
              <div class="top-title-dbgerencial">
                Dashbord Gerencial
              </div>
            </div>
            <div class="col-xl-2 col-md-3 col-4 text-right">
              <div class="top-interruptor">
                <input type="radio" name="interruptor" id="prendido">
                <input type="radio" name="interruptor" id="apagado" checked>
                <div class="interruptor-cuerpo">
                  <div class="interruptor-tecla">
                    <label id="buttonDashEmployee" for="prendido" (click)="vieweDashboardEmployee()"></label>
                    <label for="apagado" (click)="vieweDashboardManager()"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="roleEmployee">
    <app-employees></app-employees>
  </div>
  <div *ngIf="!roleEmployee">
    <app-managerial></app-managerial>
  </div>
</div>
<app-toaster-container *ngIf="!token" [toast]="objectToast"></app-toaster-container>