<div class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-8 title">
      Inicio
    </div>
    <div class="col-3">
      <div class="row">
        <input type="radio" name="interruptor" id="prendido">
        <input type="radio" name="interruptor" id="apagado" checked>
        <div class="interruptor-cuerpo">
          <div class="interruptor-tecla">
            <label for="prendido" title="Desactivado" (click)="vieweDashboardEmployee()"></label>
            <label for="apagado" title="Activado" (click)="vieweDashboardManager()"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="roleEmployee">
    <app-employees></app-employees>
  </div>
  <div *ngIf="!roleEmployee">
    <app-managerial></app-managerial>
  </div>


</div>