<div class="row-hr-container">
  <div class="row">
    <app-notification-primary [notificationPrimary]="objectRequest" class="col-xl-2 col-6" routerLink="/ihr/requests_rh"></app-notification-primary>
    <app-notification-secundary [notificationSecundary]="objectVacations" class="col-xl-2 col-6"></app-notification-secundary>
    <div class="col-xl-4 col-12">
      <div class="row">
        <app-estadistics [estadistics]="objectMyLayoffs"  class="col-12"></app-estadistics>
        <app-estadistics [estadistics]="objectMyInterestsLayoffs" class="col-12"></app-estadistics>
      </div>
    </div>
    <div class="col-xl-4 col-12">
      <div class="row">
        <app-estadistics [estadistics]="objectIncome" class="col-12"></app-estadistics>
        <app-estadistics [estadistics]="objectDeductions" class="col-12"></app-estadistics>
      </div>
    </div>
  </div>
  <div class="row">
    <app-newspaper [newspaper]="objectNewspaper" class="col-xl-9 col-12"></app-newspaper>
    <app-calendar [calendar]="objectCalendar" class="col-xl-3 col-12"></app-calendar>
  </div>
  <div class="row">
    <div class="col-xl-4 col-12">
      <div class="row">
        <app-events-employees [eventsEmployee]="objectBirthDay" class="col-12"></app-events-employees>
      </div>
    </div>
    <div class="col-xl-4 col-12">
      <div class="row">
        <app-events-employees [eventsEmployee]="objectAnniversay" class="col-12"></app-events-employees>
      </div>
    </div>
    <div class="col-xl-4 col-12">
      <div class="row">
        <app-events-employees [eventsEmployee]="objectNewEmployee" class="col-12"></app-events-employees>
      </div>
    </div>
  </div>
</div>