<div *ngIf="token">
  <app-error-page-http [objectPage]="objectToken"></app-error-page-http>
</div>

<div *ngIf="!token" class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row align-items-center">
        <div class="col-xl-8 col-md-12 col-12 title">
          <i class="fa fa-folder-open-o"></i>
          {{translate.app.frontEnd.pages.corporate_documents.title_corporate_documents}}
        </div>
      </div>
    </div>
  </div>
  <div class="row-hr-container justify-content-center">
    <div class="col-12  widget bg-white minHeight">
      <div class="row">
        <div class="col-12 col-xl-3">
          <div *ngFor=" let type of docsType" (click)="selectedObject(type)">
            <div class="row">
              <div class="col-10 cursor-general tabDocumentsType">
                <i class="fa fa-folder"></i> &nbsp; {{type.name}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-9">
          <div class="row">
            <div class="col-12 col-xl-3" *ngFor="let document of infoDocs; let i = index">
              <div class="widgetDocs docs-height-notification">
                <div class="imageDocs" (mouseover)="showButton('buttonDownload'+i)" (mouseleave)="hiddenButton('buttonDownload'+i)">
                  <img src="https://s3.amazonaws.com/hrsolutions/document_management/company/default_file_image.jpg" class="roundPhotoDocs">
                  <input style="display: none;" [attr.id]="'buttonDownload'+i" type="submit" class="btn-primary buttonDocs" value="Ver"
                    (click)="downloadPDF(document)" />
                </div>
                <div class="col-12 fontDocs" style="height: 25px;">
                  <strong>{{document.name |slice: 0:20}}</strong>
                  <span [hidden]="document.name > 20">...</span>
                </div>
                <div class="col-12" style="margin-top:20px;">
                  {{document.added}}
                </div>
                <div class="col-12" style="font-size: 1.5rem;">
                  <i class="fa fa-file-pdf-o"></i>                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>