.roundArrow{
    width: 40px;
    height: 20px;
    border-radius: 20px;
    color: #fff;
    background: var(--btn-primary);
    padding-left: 16px;
    text-decoration: none;   
    transition: transform .2s;   
}
.roundArrow:hover
{
    transform: scale(1.2);
}

.round-rpsv-event{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    color: #fff;
    padding-left: 16px;
    text-decoration: none;   
    transition: transform .2s;
   
}

.name-table{
    width: 80%; 
    float: left;
}

.bgn-title
{
    background-color: darkgray;
}



.border-cell 
{
    border-bottom: 1px solid #fff;
}



.cell-day:hover{
    background-color:rgba(37, 50, 63, 0.9); 
    color: #ffffff;
    
}

 .bgn-color-day
 {
    background-color: rgba(37, 50, 63, 0.9);   
 }

 /* SCROLLBAR */
 .modal-content {   
    /*background-color: #f5f5f5 !important;  */
    background-color: rgba(47, 64, 80, 0.9)!important;
    border-radius: 0 !important;
    -webkit-box-shadow: -5px 8px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 8px 9px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 8px 9px 0px rgba(0,0,0,0.75);
}

.titleColor
{
    color: #ffffff;
}








