.roundArrow{
    width: 40px;
    height: 20px;
    border-radius: 20px;
    color: #fff;
    background: var(--btn-primary);
    padding-left: 16px;
    text-decoration: none;   
    transition: transform .2s;
   
}
.roundArrow:hover
{
    transform: scale(1.2);
}

.name-table{
    width: 80%; 
    float: left;
}

.bgn-title
{
    background-color: darkgray;
}
.border-cell 
{
    border-bottom: 1px solid #fff;
}

.title-letter
{
    color: white;
    font-size:15px;
}

.cell-day:hover{
    background-color:rgba(37, 50, 63, 0.9); 
    color: #ffffff;
    
}
.borderNumber{
    border-radius:20px;
    color: #fff;
    background: var(--btn-primary);    
        
}
 .bgn-color-day
 {
    background-color: rgba(37, 50, 63, 0.9);   
 }




