<button id="btn-viewAdvance" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_viewAdvance"
  style="display:none;">
</button>
<div class="modal" tabindex="-1" role="dialog" id="modal_viewAdvance">
  <div  *ngIf="infoAdvance != null" style="margin-top: 10px !important" class="modal-dialog modal-lg" role="document">
    <div class="modal-content ">
      <div class="modal-header borderLine-title">
        <h5 class="modal-title titleColor text-shadow" id="exampleModalLabel">Detalle de Anticipo</h5>
        <button id="closeModalViewAdvance" type="button" class="close " data-dismiss="modal" aria-label="Close">
          <h4 class="text-primary-hr">X</h4>
        </button>
      </div>
      <div class="modal-body bodyColorInfo" *ngIf="infoAdvance!== null">
        <div class="row">
          <div class="col-lg-2 col-md-6 col-12">
            <label class="titleColor">
              <i class="fa fa-fw fa fa-plane text-primary-hr"></i>
              <strong>Viaje:</strong>
            </label>
          </div>
          <div class="col-lg-5 col-md-6 col-12">
            <label>{{infoAdvance.name_travel}}</label>
          </div>
          <div class="col-lg-2 col-md-6 col-12">
            <label class="titleColor">
              <i class="fa fa-fw fa fa-circle text-primary-hr"></i>
              <strong>Estado:</strong>
            </label>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <span class="badge badge-primary">
              {{infoAdvance.status_name}}
            </span>
          </div>
        </div>
        <div class="row top">
          <div class="col-12">
            <app-data-table [records]="objectReport" id="tableAdvances" [pdf]="showPdf" [sizeTable]="showSizeTable"
            [title]="nameReport"></app-data-table>
          </div>
        </div>
        <div *ngIf="infoAdvance.ticket_cli !== null" class="row justify-content-end" style="padding-bottom: 25px" >
          <div class="col-lg-4 col-md-6 col-12">
            <app-pdf-travel [ticketTravel]="ticketSendPDF"></app-pdf-travel>
          </div>
        </div>

      </div>

      <div class="modal-footerInfo justify-content-center">
        <div class="buttonCloseRequest buttonCloseEmployee btn-close-modals text-center" data-dismiss="modal">
          <h6> Cerrar </h6>
        </div>
      </div>
    </div>
  </div>
</div>