<div *ngIf="token">
  <app-error-page-http
    [objectPage]="objectToken"
  ></app-error-page-http>
</div>

<div *ngIf="!token" class="heigth-content-general">
  <div class="row-hr-container">
    <div class="col-12">
      <div class="row align-items-center">
        <div class="col-xl-8 col-md-12 col-12 title">
          <i class="fa fa-file"></i>
          {{ parseT('title_letter_vacation') | translate }}
        </div>
      </div>
    </div>
  </div>
  <div class="row-hr-container justify-content-center">
    <div class="col-12  widget bg-white minHeight">
      <div
        class="row justify-content-center top-containter"
        *ngIf="flagEmpty"
      >
        <div
          class="col-lg-8 col-12 text-center"
          style="min-height: 370px;"
        >
          <div class="alert alert-warning" role="alert">
            {{ parseT('text_vacation_letter_not_found') | translate }}
            <strong>{{ parseT('text_vacation') | translate }}</strong
            >&nbsp;{{ parseT('text_for_the_employee') | translate }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12" *ngIf="!flagEmpty">
          <iframe
            id="frameAutoService"
            [src]="sanitizer.bypassSecurityTrustResourceUrl(urlPDF)"
            style="width:100% !important;height:1000px;"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
